[2018-12-03 14:44] mkeysae2 commented on #5
This is an old post, but someone may find this helpful.
https://graph.microsoft.com/beta/groups/{id}/members/$ref

public static async Task AddGroupMember(string accessToken, string groupId, string userPrincipalName)
        {
            // Needs Update due to beta API
            // PATCH https://graph.microsoft.com/beta/groups/{id}/members/$ref
            var restUrl = $"{GraphHttpClient.Micro

[2020-03-17 00:31] interesaaat opened #1 "Remove files that overlap with skl2onnx"
Since we are re-using part of skl2onnx code, let's see how many changes we did, and in case remove all files where we overlap and add include.

[2020-03-18 23:23] interesaaat opened #2 "Fix xgb converter for version > 0.90"
Regression for XGBoost is failing for 1.0.2.

Apparently there was:
- a change in the API, ``alpha`` is now an array\list
- a change in the model structure because we are getting different results for regression
- a change in ``max_depth`` because ``None`` does not work as ``max_depth`` in 0.90

[2020-03-23 17:04] ksaur opened #3 "upgrade and test new sklearn version"
we need to upgrade sklearn version.  (currently  scikit-learn==0.21.3).  To do this, we need to accomodate some API changes in the newer version

ex: Imputer is deprecated (was in preprocessing). Now, do :from sklearn.impute import SimpleImputer

[2020-03-24 21:22] ksaur opened #4 "params to determine tree type, and max_depth"
right now, we are hardcoding 3 or 4 as low, and 10 as high. We need to do more testing and tuning and document our choices.

Also, there are a lot of inconsistencies and duplications with the `max_depth` parameter. We need to revisit that for all 4 trees.

[2020-03-24 21:22] ksaur opened #5 "rename beam/batch/beampp"
We need to rename this to match the paper. Ex:Gemm

[2020-03-25 23:02] ksaur opened #6 "consistency in returned types"
It's not clear when we should take:
[code]
vs. say
[code]

In the end, we want it to be something simple like what we compare to such as
[code]

[2020-03-26 22:17] ksaur opened #7 "RF beam++ single node"
There is a bug in beam++ for RF with node size 1 somewhere related to tree_commons.py:481

[2020-03-27 16:32] ksaur commented on #1
I tried to use `skl2onnx==1.6.0` but this gave many segfaults; but it seems we can use`skl2onnx==1.5.0` for now.

It is difficult to port directly based on all of the changes shown [here](https://cisl.visualstudio.com/Hummingbird/_git/Hummingbird/commit/a7ac39811c27a625507befda3d0a149eb7fa7f05) with many added/modified functions in _topology.py and parse.py

[2020-03-27 16:42] interesaaat commented on #1
All modifications appear to be on scoping. This is because in PyTorch all variable names need to be unique, while in ONNX probably you can scope them. Maybe we can achieve the same result by using a single scope? Just putting an idea.

[2020-03-27 19:46] ksaur commented on #5
[Closing via this commit](https://github.com/microsoft/hummingbird/commit/b61d33ce213fd0406d4c6a2466598609cae38de2)

[2020-03-27 19:47] #5 closed, assigned to nobody

[2020-03-30 16:39] interesaaat opened #9 "Add badge for code coverage in README.md"

[2020-03-31 19:42] ksaur commented on #9
fixed by [commit](https://github.com/microsoft/hummingbird/commit/2c95f488a4dc31cae0915faf958efb4d848af9f3) for now, more elaborate solution to come.

[2020-03-31 19:44] ksaur commented on #9
Notes:  github actions can regenerate a badge for you ,but the badge has to go SOMEWHERE.  So for now, I'm generating the .svg badge as a commit hook and uploading it as part of a commit.

[2020-04-01 16:43] ksaur commented on #9
This solution doesn't work well.  Let's wait to make this repo public and figure out a fancier external solution

[2020-04-02 18:14] interesaaat opened #10 "Tree classifiers return wrong labels while probabilities match"
Apparently `torch.argmax` returns the last matching value, while `np.argmax` return the first one. This is general is not a problem, except when we get the same probabilities for 2 or more classes.

This will hopefully get fixed once [this ](https://github.com/pytorch/pytorch/issues/10370) will get closed.

Once this is fixed we should add assertion over the labels results as well. At this point t

[2020-04-02 19:05] interesaaat opened #11 "Add GradientBoostingRegressor"

[2020-04-02 19:05] interesaaat opened #12 "Add ExtraTreesRegressor"

[2020-04-03 00:59] interesaaat opened #14 "Add predict and predict_proba methods to Skl2PyTorch class"

[2020-04-03 17:57] interesaaat commented on #6
Fixed by #13.

[2020-04-03 17:57] #6 closed, assigned to interesaaat

[2020-04-03 18:58] interesaaat commented on #14
I did an initial investigation on this. So the implementation requires to just implement `predict` and `predict_proba` in `Skl2PyTorch`. The problems are the following:
* It should work for both classification and regression. For regression we need to check that `predict_proba` is not used, and `predict` will return the full array for regression while only `[0]` for classification. This is sort of

[2020-04-06 16:42] interesaaat opened #16 "Add gitter room \ badge"

[2020-04-06 23:15] interesaaat opened #20 "Simplify convert_sklearn API"
In its current implementation to convert a sklearn model we have something like:
[code]
but we actually don't need the specification of input types (this is more a onnx converter thing). So we can have something like:
[code]
which is nice and short. The problem with this is that XGBoostRegressor models do not surface information on the number of input features (while instead XGBoostClassifier does

[2020-04-06 23:16] interesaaat commented on #20
@ksaur WDYT?

[2020-04-07 00:15] ksaur commented on #20
I think i like the `pytorch_model = convert_lightgbm(model)` and `pytorch_model = convert_xgboost(model, some_input_data)` option best. It seems to make more sense overall.

(discussed in chat but adding here for the record)

[2020-04-07 21:59] interesaaat opened #21 "warnings.filterwarnings("ignore") in tests is not working."
Apparently I am still getting a lot of warning when running tests.

[2020-04-07 22:32] #20 closed, assigned to nobody

[2020-04-08 00:42] ksaur commented on #4
It seems there may be a bug for `max_depth`:

Repro:

[code]

produces:
[code]

[2020-04-08 00:54] ksaur opened #22 "Rounding in small datasets"
With small datasets, often get a rounding error that we don't see with larger datasets

repro:
[code]

you get
[code]

[2020-04-08 16:20] ksaur commented on #21
This warning-suppression does not work in vscode, but works fine in a proper terminal. At least that was my experience.

the warning-suppression also works fine in the github-actions outputs i think; look to see if it's not what you expect

[2020-04-08 21:02] ksaur commented on #22
I was digging into this a bit to see if there is some easy fix.   On [line 98 of random_forest.py](https://github.com/microsoft/hummingbird/blob/develop/hummingbird/operator_converters/random_forest.py#L98) , in one test example, one line was `[0.0, 0.7000, 0.3000]`, (expected value from skl: `[0.    0.6 0.4]`) then after argmax on line 103, it is still the same value, so the error has to be furth

[2020-04-08 21:50] ksaur commented on #4
BTW, changing `{"tree_implementation": "perf_tree_trav"}` to `{"tree_implementation": "gemm"}`  makes the bug 'go away', so the problem is specific to the beam trees and not gemm.

[2020-04-08 22:42] ksaur commented on #22
Another example in this [notebook](https://github.com/microsoft/hummingbird/blob/ksaur/notebooks_and_tests_/notebooks/scikit-learn-random-forest-example.ipynb), see how it only passes with `atol=1e-1`

[2020-04-08 23:45] interesaaat commented on #21
I see. Yes it needs to be a "proper terminal" because even from VSCode terminal it does not work.

[2020-04-09 00:07] ksaur commented on #22
See also this failed run: https://github.com/microsoft/hummingbird/runs/572459446

[2020-04-10 17:13] interesaaat commented on #21
Closing since this is a vscode issue.

[2020-04-10 17:13] #21 closed, assigned to nobody

[2020-04-10 17:16] interesaaat commented on #22
This latest one could be related to #10.

[2020-04-16 16:52] interesaaat opened #25 "Figure out the Pypi naming"

[2020-04-20 05:25] interesaaat commented on #4
I am going to split this PR into 2: the one with the bug (this one) and one for finding the best heuristics (#27).

[2020-04-20 05:25] interesaaat opened #27 "Better heuristics for tree implementations"
Right now, we are hardcoding 3 or 4 as low, and 10 as high. We need to do more testing and tuning and document our choices.

[2020-04-20 17:56] #7 closed, assigned to nobody

[2020-04-20 17:56] #4 closed, assigned to interesaaat

[2020-04-20 17:56] #1 closed, assigned to nobody

[2020-04-20 21:42] ksaur commented on #10
Adding this branch to show the bug
https://github.com/microsoft/hummingbird/tree/kasaur/predict_proba_problem

[2020-04-21 00:12] ksaur opened #30 "Multiclass rouding errors"
With mulitclass datasets (such as covtype or iris), sometimes we get errors on rounding:

[code]

gives error:
[code]

[2020-04-21 00:37] interesaaat commented on #22
This is a duplicate of #30. Will close this.

[2020-04-21 00:37] #22 closed, assigned to nobody

[2020-04-23 20:21] ksaur commented on #21
I found this https://stackoverflow.com/questions/52224813/python-warnings-filterwarnings-does-not-ignore-deprecationwarning-from-import-s
in case we issues outside vscode

[2020-04-23 21:06] interesaaat commented on #21
Ah this is interesting. Should we set that loggingCaptureWarning thing by default in the tests?

[2020-04-26 06:15] interesaaat opened #33 "Fix the doc style based on google code style"
[link](https://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_google.html)

[2020-04-29 04:12] ksaur opened #37 "Cannot use torch==1.5.0 due to breaking change"
When using torch==1.5.0 (instead of the current torch==1.4.0), hummingbird sometimes gets stuck in an infinte loop in `forward`:

[code]

This is potentially due to this **[BC-BREAKING] change index_select scalar_check to retain dimensionality of input. #30790](https://github.com/pytorch/pytorch/pull/30790)** in torch==1.5.0 in the `index_select`  function.  The change makes it so they return a 0-

[2020-04-30 22:56] ksaur opened #43 "Minimum set of dependencies"
Right now, users must install LGBM/XGBoost, etc. Can we have options in the `setup.py` file or some other options to not force users to install dependencies they won't be using?

[2020-05-01 00:06] ksaur opened #45 "Install on MacOS has Lightgbm issues"
When installing hummingbird via pip, users often run into:
`OSError: dlopen(lib_lightgbm.so, 6): Library not loaded`.

This is documented in our [troubleshooting guide](https://github.com/microsoft/hummingbird/blob/master/TROUBLESHOOTING.md), and it is due to this fixed [issue #1369 in LGBM](https://github.com/Microsoft/LightGBM/issues/1369) but a cleaner solution would be a better user experience

[2020-05-01 00:35] interesaaat commented on #33
Closing since we fixed the doc in #31.

[2020-05-01 00:35] #33 closed, assigned to interesaaat

[2020-05-05 17:06] ksaur opened #51 "float64 issue"
At the moment, HB only works with `float32`.  You must cast `float64` to `float32` for correct results.  (You will get an error with the `gemm` algorithm).  We need to fix this.

Ex:  in  [scikit-learn-random-forest-example.ipynb](https://github.com/microsoft/hummingbird/blob/master/notebooks/scikit-learn-random-forest-example.ipynb) we must cast `X` as follows:
`X = X[0:nrows].astype('|f4')`

[2020-05-05 18:37] #16 closed, assigned to nobody

[2020-05-05 18:39] #9 closed, assigned to nobody

[2020-05-05 18:49] #14 closed, assigned to interesaaat

[2020-05-06 19:14] scnakandala opened #56 "Roadmap link in the readme file is broken"

[2020-05-06 19:41] interesaaat commented on #56
Closed in #57.

[2020-05-06 19:41] #56 closed, assigned to nobody

[2020-05-07 18:56] #25 closed, assigned to nobody

[2020-05-11 17:23] markusweimer opened #60 "`wheel` missing from `requirements.txt`"
I tried to run the following on a fresh VS Code Spaces instance:

[code]

And got the following errors:
[code]

A quick

[code]

Fixed that. Should `wheel` be in `requirements.txt`?

[2020-05-11 17:36] interesaaat commented on #60
Interesting. Let me try to replicate the problem and yes, I will add `wheel` to the requirements in case.

[2020-05-11 18:18] ksaur commented on #60
I'm about confused on this; we don't take a direct dependency on wheel.  This seems more like a problem with the pip installation than Hummingbird if I'm not mistaken.

[2020-05-11 18:20] markusweimer commented on #60
Maybe `wheel` is usually expected to be there?

[2020-05-11 18:21] ksaur commented on #60
@markusweimer - Did you run `python -m pip install --upgrade pip` when you setup pip?

[2020-05-11 18:22] markusweimer commented on #60
No, I did not.

[2020-05-11 18:26] markusweimer opened #61 "Add support for Visual Studio Codespaces"
One way to resolve #60 is to add explicit support for dev containers to the Hummingbird repo. The documentation for that is [here](https://docs.microsoft.com/en-us/visualstudio/online/reference/configuring). Specifically, we could add a Dockerfile and settings for VS Code to use it. I am happy to give that a try if someone has a Dockerfile I can base that on.

[2020-05-11 18:53] ksaur commented on #60
I haven't been able to reproduce this. Can you please explain the exact steps you tried?

[2020-05-11 19:32] markusweimer commented on #60
I created a new Codespace [here](https://online.visualstudio.com/) and gave it the Hummingbird repo to setup from. It generated a venv with Python 3.7. That venv lacked the `wheel` installtion.

I believe this venv was created by [Oryx](https://github.com/Microsoft/Oryx). I believe that because the [documentation for codespaces](https://docs.microsoft.com/en-us/visualstudio/online/reference/config

[2020-05-11 19:53] ksaur commented on #61
I cannot access Visual Studio Codespaces.  But here is https://github.com/microsoft/hummingbird/blob/kasaur/docker/Dockerfile

[2020-05-11 21:10] interesaaat opened #64 "Add sklearn's HistGradientBoosting"

[2020-05-12 17:44] ksaur opened #66 "pytorch problem with pip install on Python3.7 or Python3.8"
Doing pip install hummingbird-ml on Python3.7 or Python3.8 a user reported:

[code]

Looks like pytorch on pypi is 1.0.2 and on the conda main channel it’s 1.3.1
Maybe linking to the installation page for pytorch would be useful.

[2020-05-12 17:46] interesaaat opened #67 "Remove monkey patching API"

[2020-05-12 17:48] interesaaat opened #68 "Remove not required dependencies"
Should we leave `sklearn`? From one site having `sklearn` will help first time users, but on the other side, everyone taking a dependency on `hummingbird` will have to install `sklearn` even if it is not used.

[2020-05-12 17:48] interesaaat opened #69 "Add support for ONNX-ML models as input format"

[2020-05-12 17:49] interesaaat opened #70 "Add support for ONNX as output model format"

[2020-05-12 18:09] interesaaat commented on #68
Maybe we can have something like [this](https://github.com/DLR-RM/stable-baselines3#install-using-pip) (having some optional param to the `pip install` if users want to install all dependencies).

[2020-05-12 18:21] markusweimer commented on #61
Thanks! I have fiddled around a bit and made this:

https://github.com/markusweimer/hummingbird/tree/devcontainer/.devcontainer

Is there interest to have this as a PR?

[2020-05-12 18:43] interesaaat commented on #66
Are you able to replicate this? I think that one possible option could be to add the pytorch url to `requirements.txt` as they are doing [here](https://stackoverflow.com/questions/57043452/how-to-add-a-package-specific-index-url-to-requirements-txt).

[2020-05-12 19:01] ksaur commented on #61
Yes, that would be great, thank you!

[2020-05-12 21:09] ksaur commented on #61
Closing via PR #71

[2020-05-12 21:09] #61 closed, assigned to nobody

[2020-05-12 21:13] ksaur commented on #43
Duplicate of #68

[2020-05-12 21:13] #43 closed, assigned to nobody

[2020-05-12 21:13] interesaaat commented on #61
Can we have a documentation on how to use this thing in CONTRIBUTING.md?

[2020-05-12 21:14] ksaur commented on #45
Could not find a good auto-work-around for now; may re-open this later if it resurfaces. For now, there is a link to the manual work-around.

[2020-05-12 21:14] #45 closed, assigned to ksaur

[2020-05-12 21:44] ksaur commented on #60
The reason that I was not able to access codespaces is because the quota limit on our sub seems to be `1` codespace.  I was able to create the codespace in another sub and verify that pip update fixes the issue.

[2020-05-12 21:44] #60 closed, assigned to nobody

[2020-05-12 21:57] ksaur commented on #61
writing now.

[2020-05-13 15:09] markusweimer opened #72 "Make the dev container more comfy"
The current dev container is derived off of a super barebones image. Not even `less` is installed. I will be looking into finding a more comfy base image, probably starting with the ones found [here](https://github.com/microsoft/vscode-dev-containers).

[2020-05-13 16:19] markusweimer commented on #72
I have something working [here](https://github.com/markusweimer/hummingbird/tree/mweimer/72). It uses a devcontainer base image with better tools installed, and also configures VSCode to use `bash` instead of `sh`.

There are very many additional niceties that could be done to the user setup (better prompt and such). However, I think that is better left to the per-user dotfiles repo.

This contain

[2020-05-14 14:02] markusweimer commented on #72
@interesaaat, can you help with this?

[2020-05-14 16:27] interesaaat commented on #72
Sorry I forgot about replying here. I think 3.6 is safer but we support python 3 in general.

[2020-05-14 16:29] markusweimer commented on #72
Thanks, I will send the change as a PR then

[2020-05-14 17:50] ksaur commented on #72
closing re: #75

[2020-05-14 17:50] #72 closed, assigned to markusweimer

[2020-05-26 22:34] #67 closed, assigned to interesaaat

[2020-05-27 02:09] interesaaat opened #80 "Merge DecisionTree and GBDT implementations into one"

[2020-05-27 02:10] interesaaat opened #81 "Remove operations such as learning rate from the data path on tree implementations"

[2020-05-27 20:58] ahmedkrmn commented on #64
Hi Matteo,
Can you give more context on how can I approach the implementation of this feature?

[2020-05-28 00:19] interesaaat commented on #64
Hi Ahmed,
thanks for showing interest in Hummingbird! @ksaur has create a branch with [some test](https://github.com/microsoft/hummingbird/blob/issue-64/tests/test_sklearn_histgbdt_converters.py). If you pull the branch and try to run this test file you should be getting something like the following:

`
hummingbird.ml.exceptions.MissingConverter: Unable to find converter for model type <class 'skl

[2020-05-28 13:22] mmbhatk commented on #12
Hello Matteo, I am interested in working on this issue. Could you please share more information as to how I can go about implementing this?

[2020-05-28 17:41] interesaaat commented on #12
Hi Manasvi,
great to see you want to contribute to Hummingbird!

To add `ExtraTreeRegressor` the process should be similar to what I highlighted [here](https://github.com/microsoft/hummingbird/issues/64#issuecomment-635014024).
On your vantage point compared to the `HistGDBT` implementation is that you can take inspiration from `ExtraTreesClassifier` converter implementation [here](https://github.

[2020-05-29 14:51] NicolasHug commented on #64
I'm one of the authors of the histgradientboosting estimators, feel free to ping me if you have any question related to them!

[2020-05-29 15:08] interesaaat commented on #64
Glad to see you here Nicholas :)

[2020-05-29 15:29] sergeyf opened #82 "Notebooks don't work as-is"
For example, the lightgbm example notebook has:

`from hummingbird.ml import convert`

and then

`hb_model = convert(model, 'pytorch')`

This returns an error:
[code]

Should it instead be:
` from hummingbird.ml.convert import convert_lightgbm as convert`?

[2020-05-29 15:52] interesaaat commented on #82
We recently changed the API and apparently not all notebooks got properly updated (my fault). I will send a PR shortly. Thanks for finding this!

[2020-05-29 16:02] sergeyf commented on #82
My pleasure!

[2020-05-29 16:43] interesaaat commented on #82
@sergeyf did you `pip install hummigbird-ml` or installed it directly from master. I believe you are `pip install`ing and the version of pip is not update with the latest API changes. To check this, you could try to run the following: instead of `hb_model = convert(model, 'pytorch')` use `hb_model = model.to('pytorch')`.

[2020-05-29 16:46] sergeyf commented on #82
Yes, I did pip install. Makes sense that it's out of date - I'll close this issue.

Thanks.

[2020-05-29 16:46] #82 closed, assigned to nobody

[2020-05-30 01:59] ahmedkrmn commented on #64
Thanks @interesaaat for the detailed introduction and @NicolasHug for offering help!

I've installed the dependencies, and built the library using `python setup.py install`.
Everything is working fine. I ran the `test_sklearn_histgbdt_converters.py` that you've mentioned and it indeed provides the error message that you've said.

Anyways, I started implementing the `convert_sklearn_hist_gbdt_class

[2020-05-30 03:25] bfgray3 commented on #11
I'd enjoy working on this feature if nobody has started on it yet.

[2020-05-30 04:54] interesaaat commented on #11
Go for it!

[2020-05-30 12:20] NicolasHug commented on #64
A `tree` object has many arrays of size `n_nodes`, i.e. it has one array per property as you noticed (children_left, children_right, etc)

However the predictor object of the hist-GBDT is different: it's a single *structured* numpy array,  i.e. it's an array whose elements have a specific dtype with multiple entries. It's basically an array of structs, if we were in C.
The dtype is specified here:

[2020-05-30 12:35] NicolasHug commented on #11
`GradientBoostingRegressor` has an init argument https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.GradientBoostingRegressor.html that specifies the first estimator that is used to initialize the predictions, before the first GB iteration.

I think treelite raises an error when the `init` argument is different form `zero`. I haven't checked with them directly but I assume it's bec

[2020-05-30 15:58] ahmedkrmn commented on #64
Thanks @NicolasHug for the clarification!

IIUC, the equivalent of:
[code]
should be:

[code]
when using hist-GBDT.

---

If that is the case, it seems like nodes which don't have left nodes are represented with `0` instead of `-1`:
`lefts` for GBDT: `[1, 2, -1, -1, 5, -1, -1]`
`lefts` for hist-GBDT: `[1, 2, 0, 0, 5, 0, 0]`

[2020-05-30 16:03] NicolasHug commented on #64
Yup I think you got it right

The array of nodes is initialized with all fields being 0. If a node doesn't have a left child that means it doesn't have a right child either so the left/right fields are 0, and the `is_leaf` field is True/1.

[2020-05-30 16:11] interesaaat commented on #64
I think that for left, right and threshold we should have -1 instead of 0 in Hummingbird because the implementation looks for -1 values. (I might be wrong, but I am on the phone and I am having hard time checking the code) Anyway this is not hard :) Thanks Nicolas for the help!

[2020-05-30 16:11] ahmedkrmn commented on #64
OK great,
But wouldn't that require changing all the conditions with `-1` to `0` in
https://github.com/microsoft/hummingbird/blob/aac965a9ebd3ae286fbcbe010413f424ca9cca2d/hummingbird/ml/operator_converters/_tree_commons.py#L62
and
https://github.com/microsoft/hummingbird/blob/aac965a9ebd3ae286fbcbe010413f424ca9cca2d/hummingbird/ml/operator_converters/_tree_commons.py#L106

[2020-05-30 16:15] ahmedkrmn commented on #64
@interesaaat would it be a good idea to compare against both `-1` and `0` instead of `-1` only in `_find_max_depth()` and leave the base case of recursion `-1` as is for `_find_depth()`, or is there a better approach that you suggest?

[2020-05-30 16:20] NicolasHug commented on #64
Why not convert the array "upstream" so that you can rely on the existing code for the non-hist estimators?

[code]

[2020-05-30 16:21] ahmedkrmn commented on #64
Yeah, that's better!

[2020-05-31 16:32] mmbhatk commented on #12
Thank you for the explanation.

- I have added ExtraTreesRegressor to hummingbird.ml.supported.py.
- I have added the converter for the same to hummingbird.ml.operator_converters.decision_tree.py such that it uses the same convert function as that for Random Forest Regressor.

I have written a code to test RandomForestRegressor [here](https://github.com/mmbhatk/hummingbird/blob/notebooks-test/note

[2020-05-31 18:49] interesaaat commented on #12
I think you did everything right. I believe that for the specific dataset you are using there is not "enough compute" to exploit hardware acceleration. I was going to suggest you to play with the tree implementations but you already tried (good!).

Next thing you can try is to increase the number of trees. You are only using 10 trees, I believe that as you move toward 100s or 1000s you should defi

[2020-05-31 20:55] mmbhatk commented on #12
@interesaaat Thanks for the clarification!

I considered two datasets Boston(506 samples) and California Housing(20640 samples) and tried varying the number of trees.

In case of the Boston dataset, as you rightly pointed out, using 100 trees resulted in a significant difference in scikit-learn prediction time and HB GPU prediction time, with the latter being lower. This difference was even more s

[2020-05-31 21:22] interesaaat commented on #12
Great, this is what I was expecting :)

I have 3 questions: which version of pytorch did you use? Which GPU did you try with? Can you submit a PR with the ExtraTreeRegressor?

[2020-06-01 17:20] interesaaat commented on #68
We should put all "dev" dependencies into `requirements-dev.txt` while leaving `requirements.txt` with only the strictly necessary stuff.

[2020-06-01 17:38] #11 closed, assigned to nobody

[2020-06-01 19:21] mmbhatk commented on #12
Pytorch Version: 1.5.0
GPU: NVIDIA GeForce 940MX

I just created a pull request :)

[2020-06-01 19:31] interesaaat commented on #12
Thanks! :) can you do a quick check? Do performance change if you switch from PyTorch 1.5.0 to 1.4? We saw some performance regression on our hardware and we would like to validate if this is also true for your spec.

[2020-06-01 20:12] mmbhatk commented on #12
I executed the Random Forest Regressor code using Pytorch v1.5.0 and v1.4. The execution time appears to be slighly lower using v1.5.0 in most cases.

You can find the notebooks here: [v1.5.0](https://github.com/mmbhatk/hummingbird/blob/notebooks-test/notebooks/Random%20Forest%20Regressor%20-%20Pytorch%201.5.0.ipynb) and [v1.4](https://github.com/mmbhatk/hummingbird/blob/notebooks-test/notebooks/R

[2020-06-01 23:14] interesaaat opened #93 "Setup better requirements structure"
I am thinking about following something along [this line ](https://stackoverflow.com/questions/17803829/how-to-customize-a-requirements-txt-for-multiple-environments)

[2020-06-01 23:59] interesaaat opened #95 "Add more python versions to CI pipeline"

[2020-06-02 00:13] interesaaat commented on #12
Thanks @mmbhatk. While I agree that for GPU PyTorch v1.5.0 looks a bit better than 1.4.0, we cannot say the same for CPU numbers, though.

1. Boston:
- 10 trees:
  - v1.4.0:  1.27 ms ± 81.9 µs
  - v1.5.0:  4.37 ms ± 14.6 µs
- 100 trees:
  - v1.4.0:  3.9 ms ± 21.3 µs
  - v1.5.0:  39.5 ms ± 168 µs
- 1000 trees:
  - v1.4.0:  48.6 ms ± 94.5 µs
  - v1.5.0:  417 ms ± 2.79 ms

2. California:
- 10 trees:

[2020-06-02 04:14] ksaur commented on #68
To  your  original question, I mostly think we should have sklearn,  because without at least one of  {sklearn/xgboost/lgbm} hummingbird will not function. But lgbm-only users may not want sklearn.

Maybe sklearn is the "default" option, and then if the user explicitly specifies lgbm for example, it can override.

[2020-06-02 04:54] #93 closed, assigned to interesaaat

[2020-06-02 05:51] #95 closed, assigned to interesaaat

[2020-06-02 06:04] mmbhatk commented on #12
@interesaaat I completely agree, there's a significant difference for the CPU time between the two versions.

[2020-06-02 16:37] #12 closed, assigned to nobody

[2020-06-02 16:40] interesaaat opened #98 "Add sklearn's DecisionTreeRegressor"

[2020-06-02 16:54] interesaaat opened #101 "Rename ALPHA into a more meaningful name"
As discussed [here](https://github.com/microsoft/hummingbird/pull/87#issuecomment-636515947) we can use `base_prediction` or `base_score` or `inital_prediction`.

[2020-06-02 20:12] KranthiGV commented on #98
Hi team, I would love to take this up, if no one already did.
Apart from the changes to supported operators, operator list, etc. I would have to implement `convert_sklearn_decision_tree_regressor` similar to `convert_sklearn_decision_tree_classifier`.
I believe I may be able to leverage the random forests regressor converter similar to how decision tree classifier did. I will have to see how that

[2020-06-02 20:15] interesaaat commented on #98
Go for it! You are right, you can look at `tree_classifier` and `random_forest_regressor` on how to make it work.

[2020-06-02 22:47] ksaur commented on #66
As of today, still [pytorch on pypi is 1.0.2 ](https://pypi.org/project/pytorch/#history) but in conda [main channel ](https://anaconda.org/main/pytorch)is now at least 1.4.  I'll still pin this

[2020-06-02 23:45] ksaur commented on #66
I'm having a surprisingly hard time reproducing this.  But, i'm going to try:
https://github.com/pytorch/pytorch/issues/29745#issuecomment-553588171

[2020-06-03 02:04] interesaaat commented on #66
I think that this was for windows or WSL. In our CI pipeline with ubuntu all looks good.

For reference, look at my last commit [here](https://github.com/microsoft/hummingbird/pull/97)

[2020-06-03 05:09] ksaur commented on #66
yah WSL problem. I just wanted to make sure we keep our SKL/non-pytorch friends' experience as user-friendly as possible on all platforms! :)

i think i'm going to add a link to [this](https://github.com/pytorch/pytorch/issues/29745#issuecomment-553588171) in Troubleshooting, and close this.

[2020-06-03 05:12] ksaur commented on #66
Apparently; I already had added.   Closing.

[2020-06-03 05:12] #66 closed, assigned to ksaur

[2020-06-03 05:13] ksaur commented on #80
I think we discussed this before, but I thought we decided against it.   I'm curious what made you want to revisit?

[2020-06-03 05:26] interesaaat commented on #80
Did we? I was not even aware we could merge them until 1 week ago.

[2020-06-03 05:27] interesaaat commented on #80
Ah I think you are referring to the convert files. No those will be separate. Here I mean the pytorch implementation.

[2020-06-03 05:48] ksaur commented on #80
Ah, i see. Ok makes sense!

[2020-06-03 22:48] KranthiGV opened #104 "Minor documentation improvements"
When generating documentation using pdoc, we observe a few warnings:

[code]

1. We should change `hummingbird.supported` to `hummingbird.ml.supported` for the documentation site to correctly link them.
2. Docstrings mention that `hummingbird.supported_configurations` shows the set of supported extra configurations.
However, `supported_configurations` is not found in the repo (within any submodule

[2020-06-03 22:59] KranthiGV commented on #104
Regarding 2,
I see that in supported.py, we define them as
[code]
It is not (yet) encapsulated as `supported_configurations`.

[2020-06-04 00:30] interesaaat commented on #104
This is a bug. We moved `supported configurations` into `supported`. Do you want to file a PR for this?

[2020-06-04 04:04] KranthiGV commented on #104
Yes, sure. I'd be happy to take it up.

[2020-06-04 20:21] KranthiGV opened #107 "Automate document generation"
- We have been manually refreshing documentation (generated using pdoc) till now.
- However, this can be automated using Github actions.

Open questions:
- Do we want to update github pages, too? This may require us to monitor the quality of docstrings closely. This can be a deterrent to a first time contributor.
- What do we do with runtime warnings?
- Is generation of documentation a pre-push or

[2020-06-04 20:24] KranthiGV opened #108 "Refactor tree classifier tests"
- This is to reduce duplication and possibly improve maintainability.
- Let us do this similar to PR #102 (discussed in the PR as well)

[2020-06-04 20:51] KranthiGV commented on #108
Working on this now.

[2020-06-04 22:49] #104 closed, assigned to nobody

[2020-06-05 00:53] interesaaat commented on #98
Closed in #102.

[2020-06-05 00:53] #98 closed, assigned to KranthiGV

[2020-06-05 16:14] KranthiGV opened #110 "nit: Update build badge to represent master branch"
- Build status badge represents `develop` branch currently
- However, code coverage is shown for `master`
- Both the badges should represent the same branch.

[2020-06-05 16:43] #110 closed, assigned to nobody

[2020-06-05 22:47] interesaaat opened #113 "Change assert(... is not None) into assertIsNotNone"
There are several instances in the (test) code where we do `assert(... is not None)`, e.g., ([here](https://github.com/microsoft/hummingbird/blob/e7fb7ba5f4c3ba4cbab637ed5926848dfcabf998/tests/test_sklearn_decision_tree_converters.py#L31)). It is better to change it into `assertIsNotNone`.

[2020-06-05 22:48] KranthiGV commented on #108
Fixed with #112

[2020-06-05 22:48] #108 closed, assigned to KranthiGV

[2020-06-05 22:51] KranthiGV commented on #113
Mind if I take this up?

[2020-06-05 23:29] KranthiGV commented on #51
I'm trying to look at this. Do we know of anything here already, Karla?

[2020-06-05 23:46] interesaaat commented on #113
Closed by #114.

[2020-06-05 23:46] #113 closed, assigned to KranthiGV

[2020-06-05 23:49] interesaaat commented on #51
Hummingbird tensor operators implementations assumes that the input parameters extracted from the models are always `float32`. However if your data is `float64`, for example, the tree thresholds are `float64`. We basically need to add a check that each parameter is of the correct type and don't assume we always get `float32`.

[2020-06-05 23:59] KranthiGV commented on #51
Added a quick test to investigate and I got the below failure:
<details>
<summary>RuntimeError: Expected object of scalar type Float but got scalar type Double for argument #3 'mat2' in call to _th_addmm_out</summary>
_ TestSklearnTreeConverter.test_float64_random_forest_classifier_binary_converter _

self = <test_sklearn_decision_tree_converters.TestSklearnTreeConverter testMethod=test_float64_ra

[2020-06-06 00:08] KranthiGV commented on #51
Sorry. I saw this just now.
I agree with your point. However, sklearn also has this assumption and down-casts the input data to float32. Do you think it is important to use the actual data type passed when it is float64 (especially considering we use neural networks)? The output wouldn't be impacted much and then there's computation expense if we use high precision data types.

[2020-06-06 00:32] interesaaat commented on #51
I am worried about downcasting the input that we lose in prediction. If Sklearn does this, however, I am ok with it. Can you please point me where this happen in Sklearn?

[2020-06-06 00:40] KranthiGV commented on #51
Reference from Sklearn's documentation:
[X : {array-like, sparse matrix} of shape (n_samples, n_features)
            The training input samples. Internally, it will be converted to
            ``dtype=np.float32`` and if a sparse matrix is provided
            to a sparse ``csc_matrix``.](https://github.com/scikit-learn/scikit-learn/blob/fd237278e895b42abe8d8d09105cbb82dc2cbba7/sklearn/tree/_clas

[2020-06-06 01:37] interesaaat commented on #51
Ok if this is the case then we are gold. I am ok with an internal cast in the container. Please add a couple of tests validating this with the PR

[2020-06-06 01:44] KranthiGV commented on #51
Okay, I'll do that.

[2020-06-08 01:02] interesaaat opened #115 "Add TorchScript backend"

[2020-06-08 16:46] KranthiGV commented on #115
I'm interested to work on this. Is it okay if I research a little and come back with a proposal?

[2020-06-08 18:20] interesaaat commented on #115
I think that (beside checks) the edits should be limited to the [container](https://github.com/microsoft/hummingbird/blob/master/hummingbird/ml/_container.py).

[2020-06-08 23:31] ksaur commented on #51
Just saw this thread, thanks for looking into this @KranthiGV !

[2020-06-09 04:47] jspisak commented on #82
Hey Folks - i still see the NBs failing after pip installing HummingBird. Is there an ETA to update PyPI?

[2020-06-09 10:18] cyberShaw commented on #107
I am new to open source and would love to work on this issue, can I contribute?

[2020-06-09 15:16] interesaaat commented on #107
Welcome @cyberShaw! I assigned this issue to you.

[2020-06-09 15:20] interesaaat commented on #82
We are waiting to merge the hist gbdt and we will push a new version. Our plan is to have a release approximately every month.

[2020-06-09 21:04] ksaur commented on #107
Welcome @cyberShaw! Great questions @KranthiGV, thanks for raising this.

We had originally intended to use Sphinx for documentation, but that setup required a bit more  time than originally planned, so for now we are using pdoc.  (Definitely open to revisiting that decision!)

In terms of order of refreshing content, there's a [nice list](https://sphinxtechnicalwriting.readthedocs.io/en/latest/cd

[2020-06-10 06:32] ucalyptus opened #117 "Running sklearn example on Colab: module object not callable"
Check the gist colab nb here https://gist.github.com/ucalyptus/bcf09b711009b87e94f989cb13035909
Did install sklearn 0.21.3 beforehand and enabled GPU.

[2020-06-10 06:32] ucalyptus commented on #117
cc: @interesaaat @ksaur

[2020-06-10 14:02] bhishanpdl commented on #117
I was going to raise the same issue.

Date: Jun 10, 2020

[code]

[2020-06-10 17:10] interesaaat commented on #117
This problem is related to this [issue](https://github.com/microsoft/hummingbird/issues/82). I will try to push a new version today.

[2020-06-10 19:00] #64 closed, assigned to ahmedkrmn

[2020-06-10 22:17] ksaur commented on #117
https://pypi.org/project/hummingbird-ml/0.0.2/

Hopefully this new release will fix that issue.

[2020-06-10 22:18] ksaur commented on #82
pushed https://pypi.org/project/hummingbird-ml/0.0.2/

[2020-06-11 15:35] ksaur commented on #117
@ucalyptus  @bhishanpdl Can you please try it out and let me know if this fixes it; or if there is some other problem?  Thanks for the feedback!
[code]

[2020-06-11 21:55] ksaur opened #124 "Randomization in tests"
Right now all of our tests are using random data. This sometimes causes github actions to fail in unexpected ways.

We should use all deterministic data in our tests rather than random so that we get consistency across runs.

[2020-06-11 22:47] ksaur opened #125 "Cleanup Linear Converter Code"
We have the original draft of the linear code uploaded in [this branch](https://github.com/microsoft/hummingbird/tree/cleanup/linear-converter). All credit here goes to @scnakandala, the original author and brains behind this.

It contains an un-edited implementation of the following scikit-learn converters:
* [linear_classifier.py](https://github.com/microsoft/hummingbird/blob/cleanup/linear-conv

[2020-06-11 22:54] ksaur opened #126 "Cleanup Normalizer Converter Code"
We have the original draft of the normalizer code uploaded in [this branch](https://github.com/microsoft/hummingbird/tree/cleanup/normalizer). All credit here goes to @scnakandala, the original author and brains behind this.

It contains an un-edited implementation of SklearnNormalizer [here](https://github.com/microsoft/hummingbird/blob/cleanup/normalizer/hummingbird/ml/operator_converters/normal

[2020-06-11 23:21] interesaaat opened #127 "Add sklearn.ensemble.HistGradientBoostingRegressor"
This should be easy since we already have `HistGradientBoostingClassifier` there.

[2020-06-11 23:41] #3 closed, assigned to nobody

[2020-06-11 23:41] #68 closed, assigned to interesaaat, ksaur

[2020-06-12 03:34] ksaur commented on #124
Example:

[code]

[2020-06-12 03:37] ksaur commented on #124
Similar to [this change](https://github.com/microsoft/hummingbird/pull/87/commits/d6cd49961d9fa83305e263566886f752f5395f7c), but with more data.  I'm not sure how to best work that.

[2020-06-12 16:49] ksaur opened #129 "TestSklearnGradientBoostingConverter fails occasionally (~3% of time)"
Now that we almost have our (win/mac/linux)x(3.5/3.6/3.7/3.8) pipeline done which calls the tests 12 times, it seems that `TestSklearnGradientBoostingConverter` fails about 1/36 runs. There doesn't seem to be a pattern as to which OS/version, so maybe this is related to the random data?  (see also #124 )

[Example](https://github.com/microsoft/hummingbird/runs/766149709?check_suite_focus=true):

[

[2020-06-12 16:59] interesaaat commented on #129
This is a Sklearn error due to the random generation of the data. +1 to get rid of random numbers.

[2020-06-12 18:05] ksaur commented on #124
I think [np.random.seed(0)](https://stackoverflow.com/questions/21494489/what-does-numpy-random-seed0-do) is the easiest path forward to "make random numbers predictable".

[2020-06-12 21:34] #124 closed, assigned to ksaur

[2020-06-12 21:34] #129 closed, assigned to nobody

[2020-06-13 00:13] ksaur opened #133 "Cleanup and import SKL Feature Pre-processing: One-to-One"
Cleanup and import SKL features **Pre-processing: One-to-One**

- SimpleImputer   (this one will take a bit longer due to the newer version of SKL changing see: #3)
- MissingIndicator
- ColumnTransformer
- RobustScaler
- MaxAbsScaler
- MinMaxScaler
- StandardScaler
- Binarizer
- KBinsDiscretizer

[2020-06-13 00:23] ksaur opened #134 "add SKL Feature Selectors"
add SKL **Feature Selectors**

- SelectKBest
- VarianceThreshold
- SelectPercentile

[2020-06-13 01:54] TuanNguyen27 commented on #127
hi @interesaaat I'm interested in working on this issue !

[2020-06-13 02:55] ksaur commented on #127
Hello, welcome @TuanNguyen27! It's all yours; please let us know if you have questions/doubts.

[2020-06-13 12:24] ahmedkrmn commented on #126
Hey Karla,
Can I take up this one?

[2020-06-13 14:42] ksaur commented on #126
Hi @ahmedkrmn Sure, thank you!

[2020-06-13 15:06] ksaur opened #136 "Cleanup and import SKL Feature Pre-processing: OneHotEncoder"
We have the original draft of the OneHotEncoder code uploaded in this [branch](https://github.com/microsoft/hummingbird/tree/cleanup/one-hot-enc). All credit here goes to @scnakandala, the original author and brains behind this.

It contains an un-edited implementation of OneHotEncoder [here](https://github.com/microsoft/hummingbird/blob/cleanup/one-hot-enc/hummingbird/ml/operator_converters/one_h

[2020-06-14 16:46] TuanNguyen27 commented on #136
hey @ksaur can i also work on this ? :)

[2020-06-15 15:52] ksaur commented on #133
Breaking this down into sub-issues

[2020-06-15 15:52] #133 closed, assigned to ksaur

[2020-06-15 16:00] ksaur opened #137 "Cleanup Scalar Converter Code"
We have the original draft of the scaler code uploaded in [this branch](https://github.com/microsoft/hummingbird/tree/cleanup/scaler). All credit here goes to @scnakandala, the original author and brains behind this.

It contains an un-edited implementation of RobustScaler, MaxAbsScaler, MinMaxScaler, and StandardScaler [here](https://github.com/microsoft/hummingbird/blob/cleanup/scaler/hummingbir

[2020-06-15 17:21] ksaur opened #138 "rename master to main"
[following this example](https://www.hanselman.com/blog/EasilyRenameYourGitDefaultBranchFromMasterToMain.aspx)

If someone has a local clone, then can update their locals like this:
[code]

[2020-06-15 17:46] ksaur opened #139 "Dockerfile is out of sync with pypi"
[code]

Our dockerfile is written to rely on the new build system, but is pulling from Pypi at hb==0.0.2 which does not yet have this feature

[2020-06-15 18:56] ksaur commented on #139
(1) strip out juypter, or at least comment it out  (2) do a https clone rather than `pip install` since this will be used for development  (ssh clone would be ideal, but logistically complex)

[2020-06-16 00:14] ksaur commented on #126
I did one small commit to the branch, just adding a flag that might be confusing and cause the code to not work; let me know if you run into issues or have questions!

[2020-06-16 00:14] ksaur commented on #136
I did one small commit to the branch, just adding a flag that might be confusing and cause the code to not work; let me know if you run into issues or have questions!

[2020-06-16 04:25] TuanNguyen27 opened #141 "Add JAX backend"
I'm wondering if there's any interest in supporting [JAX](https://github.com/google/jax) ? I imagine there could be some additional speed up through their just-in-time compilation. If so, i'd love to contribute on this!

[2020-06-16 15:42] markusweimer commented on #138
The benefit is the reduction of language in tech that is uncomfortable from a race relations perspective in the US.

At the same time, it is just good naming. Finding good names in software is always hard. And `master` is particularly useless choice of name: There is nothing the `master` branch particularly excels at. But it is where the main part of the development happens. Hence, `main` is much

[2020-06-16 15:48] ksaur commented on #138
Thanks for your interest in our project!

If renaming something is the most friction I experience in a day, then I am having a pretty good day.

[2020-06-16 16:29] markusweimer commented on #138
As a somewhat recent immigrant to the US, I don't feel qualified to answer this. But from reading and conversations, I conclude: Yes, very much so. And clearly worth the small hassle.

No. GitHub itself is changing the default, and there are efforts underway to do the same for `git init`. `master` will soon be a mark of poorly maintained projects, which Hummingbird clearly is not.

That is a step

[2020-06-16 16:29] ksaur commented on #138
https://www.zdnet.com/article/github-to-replace-master-with-alternative-term-to-avoid-slavery-references/

[2020-06-16 17:30] interesaaat commented on #141
Hey @TuanNguyen27, in general we would like to support as many backend as possible. We already have a TVM version which we will open source soon and I think JAX will be a great addition. My only concerns are:
1. which performance improvements will we get by using JAX?
2. who will be supporting the JAX backend as we will be adding new operators?

Do you think you can get a quick and dirty experimen

[2020-06-16 17:56] ksaur commented on #127
thank you @TuanNguyen27 !

[2020-06-16 17:56] #127 closed, assigned to TuanNguyen27

[2020-06-16 18:19] TuanNguyen27 commented on #141
Hi @interesaaat , I do have some experience with JAX (not a power-user, but quite comfortable), and I'm interested in experimenting with potential JAX performance improvements. If this experiment has promising results I am willing to commit to point 2) of your concerns.

Perhaps let's start with the proof of concept before we decide if this is worth pursuing further. Could you give me some pointer

[2020-06-17 04:45] jspisak opened #143 "Add !pip to notebooks?"
Hi There,
It would be nice to add `!pip install hummingbird_ml` to the notebooks so when you execute them in colab you dont need to add a line for this manually. I assum though that this is not ideal for CI so please disregard if too much trouble.

[2020-06-17 05:10] interesaaat commented on #143
@ksaur WDYT?

[2020-06-17 14:44] ksaur commented on #143
I like this idea! We can definitely do this right away for the blog example notebook and the sklearn example notebook and add `!pip install hummingbird-ml`.

The only concern I have is that our new installer for  xgboost and lightGBM (that removes these libraries as dependencies unless specified) would need to be `!pip install hummingbird-ml[extra]` for the xgb and lgbm notebooks. (This "bleeding

[2020-06-17 14:46] ksaur opened #144 "Add auto testing to notebooks in github actions"
This is a little tricky because we're not going to be able to run the GPU tests. But maybe that there is something we can do to make sure that the notebook code doesn't fail horribly.

[2020-06-17 19:24] jspisak commented on #143
Hey Guys - sure, glad to put up a PR. I'll work on this by EOW.  thanks!

[2020-06-18 08:02] scnakandala opened #153 "Add SKL Other Classifiers"
Add support for other SKL classifiers (i.e., other than linear models and tree-based models)

This includes:

- MLPClassifier
- BernoulliNB
- GaussianNB
- MultinomialNB

[2020-06-18 08:07] scnakandala commented on #153
@interesaaat can you assign this to me.

[2020-06-18 14:49] TuanNguyen27 commented on #141
@interesaaat pinging you again in case you could give me some pointers to get started.

[2020-06-18 15:19] ahmedkrmn commented on #137
Hi Karla,
Can I work on this one after #145 is merged?

[2020-06-18 16:23] ksaur commented on #153
@scnakandala so good to see you here; let us know if there is anything else of your own work that you'd like to "re-work" on!! :-D

[2020-06-18 16:38] interesaaat commented on #141
Hey @TuanNguyen27, sorry but I somehow missed your reply. I think it would be good to test 2 tree implementations: GEMM and TreTrav. The implementations are [here](https://github.com/microsoft/hummingbird/blob/master/hummingbird/ml/operator_converters/_tree_implementations.py) (the decision tree or GBDT implementation are actually doing the same, I will eventually merge them).

If you don't want t

[2020-06-18 17:02] TuanNguyen27 commented on #141
Thanks for the pointer ! I agree with the approach, let me get back to you once I have a working JAX port of GEMM and TreTrav.

[2020-06-18 17:11] #126 closed, assigned to ahmedkrmn

[2020-06-18 18:15] #125 closed, assigned to ksaur

[2020-06-18 22:26] ksaur opened #154 "pytest-cov vs coverage"
Due to some issue merging coverage reports, we had to switch back from `pytest-cov` to a separate `coverage` run. This is making the ci/cd too slow.

We need to investigate the coverage merge issue and switch back to `pytest-cov`

[2020-06-18 22:28] #143 closed, assigned to jspisak

[2020-06-18 22:51] ksaur commented on #69
closed with #142

[2020-06-18 22:51] #69 closed, assigned to interesaaat, ksaur

[2020-06-19 00:24] ksaur opened #157 "add converters for onnx.ml->pyt for linear models"
Now that we have skl->pyt done, we need to have corresponding onnx.ml -> pyt converters

[2020-06-19 00:50] interesaaat opened #158 "Ignore warning in onnx test"
Running ONNX tests now returns:
`tests/test_onnxml_converter_lightgbm.py::TestONNXConverterLightGBM::test_lightgbm_booster_regressor
  /usr/local/lib/python3.6/dist-packages/lightgbm/engine.py:148: UserWarning: Found `n_estimators` in params. Will use it instead of argument
    warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))`

[2020-06-19 17:37] EmanuelFontelles opened #159 "Is it possible to create a sklearn Pipeline with GridSearch?"

[2020-06-19 17:53] ksaur commented on #117
Closing because this is believed to be resolved; please reopen if further issues

[2020-06-19 17:53] #117 closed, assigned to nobody

[2020-06-19 18:00] ksaur commented on #159
Hi, are you referring to https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html ?

This is not an operator we currently support.

[2020-06-19 18:07] ksaur commented on #159
Could you please provide more details?

[2020-06-19 18:55] ksaur opened #160 "Cleanup SKL LabelEncoder Converter Code"
We have the original draft of the SKL LabelEncoder code uploaded in [this branch](https://github.com/microsoft/hummingbird/tree/cleanup/label-encoder). All credit here goes to @scnakandala, the original author and brains behind this.

It contains an un-edited implementation of LabelEncoder [here](https://github.com/microsoft/hummingbird/blob/cleanup/label-encoder/hummingbird/ml/operator_converters

[2020-06-19 20:40] curino commented on #138
Thanks folks for thinking about this! I think it is very low cost and totally worth it even if it is just symbolic. I am also in favor of care in naming and examples within the code and documentation (e.g., avoiding racist/ableist/patriarchal/anti-lgbt/etc.. terminology).

[2020-06-20 09:58] ucalyptus commented on #117
@ksaur yes 0.0.2 solved it , thanks a lot

[2020-06-22 04:56] gyeongin commented on #30
I'm interested in solving this issue, can you assign this to me? @interesaaat

[2020-06-22 20:19] ksaur opened #161 "Unnecessary Onnx warning"
Right now, if i install "extra" but not "onnx" i get:

[code]

to reproduce, i did:
[code]

 then `import` as above.

[2020-06-22 21:44] #139 closed, assigned to ksaur

[2020-06-22 22:03] #161 closed, assigned to interesaaat

[2020-06-23 15:31] dcshapiro opened #164 "Does not seem to work for NLP pipeline from sklearn"
Hi,

I tried to convert a model pipeline containing 3 steps:

[('vect', CountVectorizer()), ('tfidf', TfidfTransformer()), ('clf-svm', SGDClassifier())]

I get the following error:

MissingConverter: Unable to find converter for model type <class 'sklearn.feature_extraction.text.CountVectorizer'>.
It usually means the pipeline being converted contains a
transformer or a predictor with no correspon

[2020-06-23 15:34] dcshapiro commented on #159
Hi. I had a similar issue. You can unwrap GridSearchCV into a pipeline object.

Here is how to extract the pipeline from the gridsearch @EmanuelFontelles

from sklearn.pipeline import Pipeline
pipeline=Pipeline(steps=skl_model.estimator.steps)
model = convert(pipeline, 'pytorch') # <-- this step still fails for me, but it may work for you if your estimators are supported. I opened a separate ticke

[2020-06-23 17:53] ksaur commented on #164
Hi @dcshapiro, thanks for bringing this up!  Yes, the first two parts are not yet handled.

* `CountVectorizer` is on our [roadmap](https://github.com/microsoft/hummingbird/wiki/Roadmap-for-Upcoming-Features-and-Support); we have it implemented but need to clean it up and release it.

* `TfidfTransformer` is a bit more difficult to implement.

* The problem with text featurizers is tokenization. S

[2020-06-23 18:52] amueller commented on #160
Btw, many people that are using ``LabelEncoder`` should actually be using ``OneHotEncoder``. ``LabelEncoder`` was meant for labels i.e. targets, not features, and only supports a single column, while ``OneHotEncoder`` supports multiple columns.

[2020-06-23 18:58] kvnsng opened #165 "train with GPU"
Hi,

Just wondering if the current version supports training models with GPU as well.

[2020-06-23 21:03] interesaaat commented on #160
Good to see you here @amueller! :) Yes we also have `OneHotEncoder`, it is work in progress in PR #147.

[2020-06-23 21:08] interesaaat commented on #165
Hi @songkevinc! We have explored the idea of training in a [research paper](https://arxiv.org/abs/1906.03822) but Hummingbird is currently only for inference. The GEMM implementation is really close to what we tried in the paper so in theory it should be not hard to add training.

[2020-06-23 21:14] kvnsng commented on #165
Ah, gotcha. Sounds good! Looking forward to the development.

[2020-06-23 21:14] #165 closed, assigned to nobody

[2020-06-24 04:55] interesaaat opened #166 "pip install hummingbird-ml does not work on windows"
To reproduce, just run `pip install hummingbird-ml`. I get ` ERROR: Could not find a version that satisfies the requirement torch>=1.4.0 (from hummingbird-ml==0.0.3) (from versions: 0.1.2, 0.1.2.post1, 0.1.2.post2)
ERROR: No matching distribution found for torch>=1.4.0 (from hummingbird-ml==0.0.3)`.

Apparently the proper branch in `setup.py` is not picked up.

[2020-06-24 17:27] ksaur commented on #166
Interesting.  Does this install some other way rather than calling the setup file ([with the exact package specified](https://github.com/microsoft/hummingbird/blob/master/setup.py#L28))?

It's a bit frustrating because it works in the ci/cd.... (Ex:[ this run](https://github.com/microsoft/hummingbird/runs/797123213#step:4:17)).  I wonder what is different because the installer (at least appears) i

[2020-06-24 17:33] ksaur commented on #166
Just curious....Does this also happen when you do `pip install hummingbird-ml[extra,tests]` ?

[2020-06-24 17:42] interesaaat commented on #166
I dig a bit into this.
- `pip install hummingbird-ml[extra,tests]` does not work either.
- from pip it is pulling the binaries, and binaries uses the requirements for linux\mac (because we built them from a linux machine). I thought that we can try to push the binaries also for win, but
- if you `pip install hummingbird-ml --no-binaries` you get something like "cannot install torch from torch @ ht

[2020-06-24 17:44] interesaaat commented on #166
One possibility is to switch to conda. Pytorch for windows is available there.

[2020-06-24 17:44] ksaur commented on #166
Ugh, ok, I was afraid it was pulling from the binaries; makes sense of course!
Other than hosting a separate mirror of torch 1.5 on pypi that we point too, I don't see a great solution for now other than switching to conda (as you just typed as well haah)

[2020-06-24 19:36] #158 closed, assigned to nobody

[2020-06-24 19:40] interesaaat commented on #101
I am going to rename `ALPHA` with `base_prediction`.

[2020-06-24 19:51] amueller commented on #166
I might be able to help but I'm not sure if I understand the issue.
There are no binaries in hummingbird-ml, right?

ps: I was auto-subscribed to hummingbird but I unsubscribed because my inbox is too full. Feel free to ping me where I can be helpful though.

[2020-06-24 20:03] ksaur commented on #166
Ah, bad choice of words, what I meant was: When someone pulls from pypi (ex: `pip install hummingbird-ml`) it seems to be just pulling the prebuilt hummingbird .whl rather than calling into our cleverly crafted `setup.py` which checks to see if the OS is windows and then installs pytorch via url.  (see links above.)   If you have ideas that would be awesome!

[2020-06-25 16:38] #101 closed, assigned to interesaaat

[2020-06-25 16:45] ksaur commented on #81
This makes sense but I am curious what drew your attention to this? Was there some performance issue?

[2020-06-25 17:23] interesaaat commented on #81
No real performance issue, but we were applying the learning rate at runtime for `skl_gbdt` and this is not optimal since we can do it at compile time. Just a quick fix to something I knew could be improved :)

[2020-06-25 17:37] #81 closed, assigned to interesaaat

[2020-06-26 04:59] #137 closed, assigned to ahmedkrmn

[2020-06-26 21:18] go2ready opened #172 "Support for LGBMRanker?"
Hello there,

I am wondering if the current implementation supports convertion from LightGBMRanker which is part of the LightGBM package? Is there anything special to the LightGBMRanker and will the converter for LGBMRegressor works in this case? Here is the error I got when I try to convert the LGBMRanker

[code]

This is the doc to LGBMRanker https://lightgbm.readthedocs.io/en/latest/pythonapi/l

[2020-06-26 22:54] ksaur commented on #172
Hi  @go2ready, thanks for filing this! We don't currently have a converter for `LGBMRanker`,  but from a quick glance it looks similar enough that a few modifications to the converter for `LGBMRegressor` might make it work.
We'll look into it and get back to you!

[2020-06-29 17:02] ksaur opened #174 "Support for XGBRanker"
[XGBRanker](https://xgboost.readthedocs.io/en/latest/python/python_api.html#xgboost.XGBRanker) should be a very simple add; similar to #173

It should hopefully just involve (1) either using or slightly tweaking the converter for XGBRegressor (2) writing tests and making sure they pass

[2020-06-29 20:26] #172 closed, assigned to nobody

[2020-06-29 20:36] ksaur commented on #172
@go2ready thanks for the request, please let us know if you have additional questions!

[2020-06-30 10:14] onacrame opened #176 "RuntimeError: CUDA out of memory on Windows"
I run the following code below in Colab
[code]

And I get this result:

Good result, looks like on this multiclass problem Hummingbird results in a 10x pickup on inference speed.  I try this code in Windows, however, and have the RuntimeError below.  I have a 16 core AMD machine and an RTX 2080TI GPU with 11GB of ram.  I'm not running anything else in the background, which is why this error baffle

[2020-06-30 15:56] ksaur commented on #176
Interesting, thank you for these details!  I haven't worked with GPU+windows much, but we can dig into this and get back to you!  It would be great to get to the root cause.

[2020-06-30 16:24] interesaaat commented on #176
I think there is something fishy here. If the GPU numbers are those, I think that some operator is not executed in GPU but on CPU. Maybe this also explains the OOM error? (PyTorch need to materialize partial results between CPU and GPU) However this is likely a Pytorch issue rather then Hummingbird

[2020-07-02 10:55] go2ready commented on #172
Thanks @ksaur , when will this be in the next release?

[2020-07-05 16:12] ksaur commented on #172
Hi @go2ready - we don't have a specific release schedule as of yet, but generally 1-2 weeks as features are ready. Hopefully you can pull from source in the meantime, and I'll make sure to ping you when the proper release is ready!

[2020-07-05 19:29] zhanjiezhu opened #177 "Slower than original implementation on CPU"
Does it make sense if the converted pytorch model is slower than the original sklearn model when run on CPU?
Here are the results when I run the "blog_example" notebook:

Time scikit-learn:
45.4 ms ± 1.59 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

Time PyTorch - CPU:
138 ms ± 2.36 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

[2020-07-05 22:58] interesaaat commented on #177
Hello! Yes sometimes we are not faster, but for the blog example we should. Which version of pytorch did you use?

[2020-07-06 07:31] zhanjiezhu commented on #177
Hi, the torch version is 1.5.1.
Though when I import hummingbird, I got this "ONNX runtime not installed. Please check https://github.com/microsoft/onnxruntime#installation for instructions."

Did this affect the speed?

[2020-07-06 10:29] zhanjiezhu opened #178 "Support for Isolation Forest"
Hi there, thanks for the great package, I would like to work on the support for Isolation Forest sklearn implementation (https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.IsolationForest.html). Since this implementation has 2 main methods "predict" and "decision_function", where the "decision_function" returns the anomaly scores, and "predict" returns either -1 (anomaly) or 1 (nor

[2020-07-06 15:32] interesaaat commented on #177
Nope, that is something we already fixed, it is not impacting performance. Could you please try with Pytorch 1.4? We are seeing 10x performance degradation with the latest Pytorch.

[2020-07-06 15:52] zhanjiezhu commented on #177
you're right, downgrading to pytorch 1.4 leads to 10x faster:
13.3 ms ± 363 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

[2020-07-06 17:02] interesaaat commented on #178
Hey @zhanjiezhu this looks great! I assigned the issue to you.

[2020-07-07 00:09] interesaaat commented on #177
I was going to pin pytorch version to 1.4.0 (until the performance problems are fixed) but unfortunately onnxruntime is throwing a seg fault with pytorch 1.4.0 (likely due to some exporting bug). So for the moment we will have to live with this.

[2020-07-07 22:50] #166 closed, assigned to nobody

[2020-07-08 10:02] zhanjiezhu opened #180 "Support for speeding up Tree SHAP?"
Wondering if you have thought of adding support for local interpretability e.g. Tree SHAP? (https://arxiv.org/pdf/1802.03888.pdf).

I've just tested the TreeExplainer in SHAP, applied on random forest regressor. The prediction time v.s. explanation time on same samples and same model is 0.12 second v.s. 448 seconds, it seems there are lots of space for speed up.

[2020-07-08 13:49] zhanjiezhu opened #181 "Faster compilation?"
In the notebooks, the prediction time of sklearn is compared with the prediction time of hummingbird converted model (either in cpu or gpu). However, the time for compiling the sklearn model into hummingbird model is not taken into account.

This is what I get when running the blog_example and also time the "convert" function:
sklearn prediction: 48.3 ms ± 607 µs per loop (mean ± std. dev. of 7 ru

[2020-07-08 16:23] ksaur commented on #181
Hi @zhanjiezhu,

Yes, depending on the model, conversion can take a few hundred milliseconds, especially depending on the shape of the tree.  The usual mode of operation is "convert once, predict many", in that model conversion is not typically in the "critical path" for running fast predictions.

Because of this normal use-case, lightening-fast model conversion has not been a top priority and has

[2020-07-08 16:47] interesaaat commented on #180
Hey @zhanjiezhu, this is actually a really good idea! I haven't looked at SHAP internals, do you think it is something we can convert? Do you want to try?

[2020-07-09 01:03] interesaaat commented on #177
We [checked](https://github.com/pytorch/pytorch/issues/41057) with the PyTorch folks and the problem is already fixed in the next release. Closing the issue.

[2020-07-09 01:03] #177 closed, assigned to nobody

[2020-07-09 01:05] interesaaat commented on #159
Thanks @dcshapiro! Closing the issue for now.

[2020-07-09 01:05] #159 closed, assigned to nobody

[2020-07-09 01:06] interesaaat commented on #51
@KranthiGV any update on this?

[2020-07-09 01:16] interesaaat opened #184 "Add long_description to setup.py"
For some reason the l`ong_description` field is generate but not set in `setup.py`. This will also give a nicer presentation on pypi.

[2020-07-09 03:41] #184 closed, assigned to interesaaat

[2020-07-09 06:17] KranthiGV commented on #51
Hi Matteo

Apologise for the delay. I was caught up with some personal work for a while
and got free only a few days ago.

I will raise the PR in a day or two. Hope that's okay with the team.

Thanks
Kranthi

On Thu, Jul 9, 2020 at 6:36 AM Matteo Interlandi <notifications@github.com>
wrote:

--
Thank you,
Kranthi Kiran

[2020-07-09 07:49] zhanjiezhu commented on #181
Thanks @ksaur, closing it now.

[2020-07-09 07:49] #181 closed, assigned to nobody

[2020-07-09 14:32] KranthiGV commented on #51
I just raised the PR. Please have a look :)

[2020-07-09 14:52] KranthiGV commented on #115
Started working on this now.

[2020-07-09 16:38] interesaaat commented on #51
Ok that was fast! :) Don't worry, I was just checking. These times are hard for everyone.

[2020-07-09 21:08] KranthiGV commented on #174
I was looking at this a couple of days ago. Is it okay if I pick this up?

[2020-07-09 21:13] interesaaat commented on #174
Go for it!

[2020-07-09 21:51] zhanjiezhu opened #187 "CUDA out of memory"
Hi there,

When I'm testing Hummingbird with GPU for more and deeper trees (worked fine if I have less trees), I got OOM error:

"CUDA out of memory. Tried to allocate 5.96 GiB (GPU 0; 11.91 GiB total capacity; 6.47 GiB already allocated; 4.74 GiB free; 6.48 GiB reserved in total by PyTorch)"

I'm using:
CUDA 10.1, Pytorch 1.5.1+cu101
RandomForestRegressor from sklearn
total number of samples: 800

[2020-07-09 21:54] zhanjiezhu commented on #180
Hi @interesaaat, I also need to spend some time on SHAP internals to answer your questions, I'll first finish the support for Isolation Forest (already finished but need to add tests), then come back to this. But if you or other people want to work on this, please feel free to do so.

[2020-07-09 22:06] interesaaat commented on #187
Is this on a [Windows machine](https://github.com/microsoft/hummingbird/issues/176)?

[2020-07-10 07:24] zhanjiezhu commented on #187
@interesaaat no, it's on Linux (CentOS Linux 7)

[2020-07-10 09:04] zhanjiezhu commented on #187
Here is the code to reproduce OOM, would be great if you could test on your side as well, it's simply coping a tree multiple times so don't need to wait for long training time for large number of trees. In my case, it throws OOM when number of trees are 500, and it seems the GPU memory are not being freed but somehow aggregated: "CUDA out of memory. Tried to allocate 1.49 GiB (GPU 0; 11.91 GiB tot

[2020-07-10 15:35] interesaaat commented on #187
Ok thanks! I will take a look.

[2020-07-15 07:23] #178 closed, assigned to zhanjiezhu

[2020-07-15 18:09] KranthiGV opened #195 "ONNX LightGBM multiclass test is disabled"
- Test `test_lightgbm_booster_multi_classifier` for `Multiclass classification test with 3 estimators and selecting boosting type (taken from ONNXMLTOOLS)` is currently disabled.
[code]
- However, it does seem to pass on all platforms. So, we can now enable it.

[2020-07-15 18:16] KranthiGV commented on #195
Resolved in #192

[2020-07-15 18:16] #195 closed, assigned to nobody

[2020-07-15 23:23] #136 closed, assigned to TuanNguyen27

[2020-07-16 05:39] #157 closed, assigned to ksaur

[2020-07-16 21:48] zhanjiezhu commented on #180
Hey @interesaaat, I'm recently looking into shap internal and I will try to work on this, could you assign the issue to me? Though I will need some more time to think of a proposal, one thing I'm sure is I will need to make a new tree traversal strategy.

[2020-07-16 22:36] interesaaat commented on #180
We love new tree traversal strategies ;) keep us posted!

[2020-07-17 17:16] #51 closed, assigned to nobody

[2020-07-17 17:24] ksaur commented on #134
* VarianceThreshold complete
* SelectKBest works for some functions but not others (chi2)
* SelectPercentile is TODO

[2020-07-17 20:03] KranthiGV opened #199 "Lightgbm model with ONNX backend is too slow in comparison to one with torch backend"
The notebook `LGBM-ONNX-example` [(URL)](https://github.com/microsoft/hummingbird/blob/master/notebooks/LGBM-ONNX-example.ipynb) can be improved in several ways:
1. Add handy 'pip install' commands cell similar to other notebooks (for improving experience in Google Colab)
2. The example has high memory usage and also takes longer to run than the lightgbm's pytorch backend example.
- The memory usa

[2020-07-17 20:06] KranthiGV commented on #199
Meanwhile...I have been profiling this a little for various sample sizes [ X.shape = (sample_size, 28) ; y.shape = (sample_size) ]. Each cell shows time in seconds.

| sample_size / method  	|  1000 	|  5000 	| 10000 	|  50000 	| 100000 	|
|-----------------------	|------:	|------:	|------:	|-------:	|-------:	|
| convert               	| 0.748 	| 1.658 	| 3.173 	| 12.508 	| 25.141 	|
| ort.Infere

[2020-07-17 20:23] interesaaat commented on #199
Thanks @KranthiGV for reporting this. I think that this is a problem with the ONNX converter in PyTorch \ ONNX runtime. I think it would be great if we can investigate a bit and open an issue against ONNX directly. +1 or reducing the number of samples for the moment to make the notebook usable, but yes, we should ask the ONNX folks to look into this.

[2020-07-17 20:25] interesaaat commented on #199
For instance can you do a comparison between the pytorch memory \ run time vs ONNX so that we can point the ONNX team to the right direction? For pytorch please use the `tree_trav` strategy since there is a bug in the ONNX exporter in PyTorch and `GEMM` does not work at the moment.

[2020-07-17 20:31] KranthiGV commented on #199
Yes, as you said, the problem seems to be in onnx converter. Thanks for the pointers here. I will do the comparison first and we can then file a bug appropriately.

[2020-07-17 21:23] ksaur opened #200 "SelectKBest does not work with chi2"
Our tests fail when we use `chi2` as the function with `SelectKBest` (Ex:`SelectKBest(chi2, k=20)`).  There is some additional implementation needed for this functionality.

`SelectKBest` does work with some functions such as `mutual_info_classif`   (See PR #198  )

[2020-07-17 22:06] interesaaat opened #201 "Refactoring of the opertor_converters directory"
The directory starts to bloat. One idea is to create sub-directories for skl and onnx specific converters, where the shared code stays in the main directory.

[2020-07-17 22:08] interesaaat opened #202 "Remove ir_converters directory"
This directory is not used anymore and topology has been moved under the main dir.

[2020-07-20 18:09] ksaur opened #203 "CountVectorizer implementation"
The existing CountVectorizer code has jit things such as in the forward function
[code]

which we need to do a bit of a work around so that it doesn't fail at
[code]
because it's not a tensor

See [this branch](https://github.com/microsoft/hummingbird/blob/ksaur/countv/hummingbird/ml/operator_converters/skl_count_vectorizer.py#L150)

[2020-07-21 00:17] ksaur commented on #172
@go2ready - This was in today's release :)

[2020-07-22 17:54] KranthiGV opened #207 "Improving lightgbm ONNX backend example : Reduce sample size to make nb usable"
Issue to track addressing a few issues discussed in #199
1. Add handy 'pip install' commands cell similar to other notebooks (for improving experience in Google Colab)
2. Fix typos in some of the cells (innitial_types vs input_types) so the users can execute the example.
3. Reducing the number of samples for the moment to make the notebook usable.

[2020-07-22 17:54] KranthiGV commented on #199
Created #207 to address a part of this issue.
Will get to the bottom of additional profiling needed as well.

[2020-07-22 17:57] ksaur commented on #207
Thanks @KranthiGV for listing these out!!
Is this something you want to work on/shall I assign it to you?

[2020-07-22 18:05] KranthiGV commented on #207
Yes, raising a PR in a while.

[2020-07-24 00:44] #207 closed, assigned to KranthiGV

[2020-07-25 00:14] ksaur opened #209 "OneHotEncoder for onnx strings"
The test I wrote for OHE strings throws the following error:

[code]

Commenting this out for now, to revisit later when we need this functionality.

[2020-07-27 19:10] interesaaat opened #211 "Move default opset for exporting to ONNX from 9 to 11"
Opset 9 generates bad models (e.g., one-hot encoding operators are added in place of cast to long). With opset 11 all operators are correctly generated and executed on the GPU. Note that with opset 12 some operators are not executed on the GPU for some reason.

Closes #199.

[2020-07-27 19:11] interesaaat commented on #199
I did some profiling, and it looks that the problem is that the default opset (9) used to export into ONNX produces bad models. With opset 11 the performance are quite close to PyTorch  (for GPU at least). Issue #211  should fix the problem.

[2020-07-30 18:28] interesaaat opened #212 "Bump PyTorch version"
This will fix the performance problems we were seeing for PyTorch 1.5.*

[2020-07-31 20:37] #211 closed, assigned to interesaaat

[2020-07-31 23:26] #212 closed, assigned to interesaaat

[2020-08-03 17:58] #202 closed, assigned to nobody

[2020-08-03 18:22] #201 closed, assigned to nobody

[2020-08-04 02:19] PoonamSampatMicrosoft opened #217 "Support for SKLearn KNN"
Please add support for KNN within SKLearn.

[2020-08-04 17:33] interesaaat commented on #187
Sorry for the late turnaround. We did some experiment and yes, we consume more memory than optimal (we reported some number in the paper too, I think we are about 2X from Sklearn). It would be good to understand whether we can improve this or not. The memory layout we are using I think it's close to the Sklearn one, so the problem may actually be the tensor operations.

On the other hand, I still

[2020-08-05 22:06] zhanjiezhu commented on #180
@interesaaat a bit updates on progress: I'm still working on this, I've managed to translate the algorithm 1 in https://arxiv.org/pdf/1802.03888.pdf into tensor operations. It met my expectation that I can correctly calculate the shap values and it offers a bit acceleration with GPU but memory explodes very quickly because of the exponential calculations need to be done (I've done some memory prof

[2020-08-05 22:08] zhanjiezhu commented on #187
@interesaaat thanks! I will also try to look at this again and do some memory profiling in a few days

[2020-08-05 23:51] interesaaat commented on #180
Looking forward to see the implementation! It would be fantastic if, similarly to `GEMM` vs `TreeTrav`, we can find cases where the exponential algorithm is faster than the linear one.

[2020-08-07 11:52] arfangeta opened #218 "Drop in accuracy after saving"
I wanted to ask, what could be the reason for the drop in accuracy after saving in this sample?

[code]

[2020-08-07 12:16] arfangeta commented on #218
And a similar question, but without saving, I get a small drop. Is this my mistake or should it be?
[code]

[2020-08-07 14:17] zhanjiezhu commented on #187
indeed in this example for 800k rows * 100 columns is already quite a large array. Simply batching the X works, but would be great if there could be some automatic batching being done in Hummingbird, I saw that in the paper it's using batch size 10k rows, is it a good number to use?

[2020-08-07 15:19] interesaaat commented on #218
Hi @arfangeta, thanks for reaching out! What you are hitting is not a problem with saving but there is actually a bug on the decision tree / random forest converter for onnx. I already fixed regression in a branch. I am looking right now into classification. Hopefully I will have a PR by early next week.

[2020-08-07 16:47] ksaur commented on #187
Hi @zhanjiezhu ! Yes, a batch size of at least 10k is usually a good choice, although it varies depending on the model and the dataset.  (Maybe you already saw this in the paper since you mentioned it, but [Figure 4](https://aka.ms/hb-paper) might give you a rough idea of batch sizes to try.)

Right now we feed larger batches in manually (ex: loop).  Automatic batching would be an awesome feature,

[2020-08-07 17:22] interesaaat commented on #187
Should we open a new issue on this (adding batching to the pytorch container)?. We can add a batching parameter which, if set, will be used within the container to batch the records.

[2020-08-07 18:03] ksaur commented on #187
This seems easy enough to implement, and would be a very useful feature, so I'll open an issue!

How common is batching help (automatic or in other libraries)?  The IPU/PopArt code I worked with had some nice batching features, but I'm sure about other frameworks

[2020-08-07 18:12] ksaur opened #219 "Automated batching"
From #187, @zhanjiezhu  raised the idea of automated batching.  Using a batch size of 10k rows, for example, can give optimal results.

Right now, the only way to do this is to do batch-processing in a loop with a size a user sets manually.

We could implement this by adding an option for batching to our [pytorch container](https://github.com/microsoft/hummingbird/blob/2a867101066dda2e007a984a104c

[2020-08-07 22:29] zhanjiezhu commented on #187
thanks for adding an issue! I'll close this one then as this is not really a bug.

[2020-08-07 22:29] #187 closed, assigned to nobody

[2020-08-09 20:17] sword134 opened #220 "Installing on windows installs torch-1.5.1+cpu?"
Hello,
I am running the following command in my conda terminal `pip install hummingbird-ml -f https://download.pytorch.org/whl/torch_stable.html` the result is that it installs torch-1.5.1+cpu therefore I am not able to use cuda when converting my model. If I manually install pytorch then hummingbird wont work since its missing torch-1.5.1+cpu but at least `print(torch.cuda.is_available())` will r

[2020-08-09 20:25] interesaaat commented on #220
Yes by default HB comes with the cpu version of pytorch. We decided so because it is impossible to know which GPU version to install.
What you did is correct. You need to uninstall the cpu version and install the one with the proper cuda version. You will get a warning, but Hummingbird will still work. We will have to check on how to fix this because I agree, it is a weird solution. One possibilit

[2020-08-09 20:35] sword134 commented on #220
Ok i am uninstalling everything (hummingbird and pytorch) and going to run the following `command conda install pytorch torchvision cudatoolkit=10.1 -c pytorch` followed by a `pip install hummingbird-ml` do you think it will work? Its currently downloading and extracting (pytorch takes a long time). If I run my code with model.to("cuda") will hummingbird-ml then work or will it complain about not

[2020-08-09 20:54] sword134 commented on #220
@interesaaat Well I did conda install of the latest pytorch version, however when trying to install hummingbird-ml via pip I get the following error:
[code]
Installing hummingbird-ml==0.0.2 works though, however that version doesn't support logistic regression which is what I need hummingbird-ml for :/

[2020-08-09 21:03] sword134 commented on #220
@interesaaat Alright I found the solution. Build hummingbird-ml from the github repo by cloning it and then running `python setup.py install`

[2020-08-09 23:52] ksaur commented on #220
Thanks for reporting what worked! Making the installer work across all platforms and possible configurations has been a challenge, thanks for bearing with us!

[2020-08-10 07:05] #220 closed, assigned to nobody

[2020-08-10 18:44] ksaur commented on #115
Hi @KranthiGV, just checking in! Have you gotten a chance to work on this?

[2020-08-11 20:17] interesaaat opened #221 "Remove requirements folder"
This folder is not used anymore

[2020-08-11 23:25] interesaaat commented on #218
PR #222 should fix this. @arfangeta can you please try once it is merged?

[2020-08-11 23:26] #199 closed, assigned to nobody

[2020-08-11 23:28] interesaaat commented on #37
We are already at pytorch 1.6.0. Closing this since not relevant anymore.

[2020-08-11 23:28] #37 closed, assigned to nobody

[2020-08-11 23:44] interesaaat commented on #80
I tried with #222 but apparently we will have to live with 2 different implementations for the moment. The DecisionTree\RandomForest one has each tree storing the different class probabilities, while the GBDT implementations have a tree per class.

[2020-08-11 23:44] #80 closed, assigned to interesaaat

[2020-08-12 01:22] interesaaat commented on #107
I did a simple PR (#223) that run pdoc as a pre-commit. In this way, if the code ends up in changing the documentation, the html page with the doc is update automatically. I guess we can go with this solution until we don't have better options. We still need to fix the pipeline for updating the gh-page. That is still manual at the moment.

[2020-08-12 17:29] #221 closed, assigned to nobody

[2020-08-12 17:39] #107 closed, assigned to cyberShaw

[2020-08-13 11:22] arfangeta commented on #218
thank you, it works :)

[2020-08-13 11:22] #218 closed, assigned to interesaaat

[2020-08-13 19:23] interesaaat opened #227 "Fix the github link in pdoc"
Now it points to the commit which is sort of weird. I believe it is better if it points to master.

[2020-08-13 19:48] #227 closed, assigned to interesaaat

[2020-08-13 19:55] ksaur commented on #227
Ah yah.  Definitely.

haha, also this avoids the endless merge conflicts like the one i just created on #225   :)

[2020-08-13 21:03] #115 closed, assigned to KranthiGV

[2020-08-13 22:33] interesaaat opened #229 "Enable cross exporting between models"
For the moment we only allow:
- sklearn, xgb and lgbm to be exported in pytorch \ torchscript format
- onnx-ml models to be exported into onnx

We already have the code setup to remove this limitation and allow any supported input model to be exported into any supported backend.

[2020-08-13 23:16] #229 closed, assigned to nobody

[2020-08-14 17:08] interesaaat opened #232 "Add TVM backend"

[2020-08-14 17:09] interesaaat commented on #70
Fixed in #230.

[2020-08-14 17:09] #70 closed, assigned to interesaaat

[2020-08-14 17:10] interesaaat opened #233 "Add Sklearn API container to ONNX models"

[2020-08-14 17:13] interesaaat opened #234 "Bug in onnx decision tree single node"
I found that the tests for onnx decision tree where fetching the wrong outputs. In fact, the name on the label variable is actually `output_label`. Once this is fixed, the test `test_random_forest_classifier_single_node` fails with:

[code]

[2020-08-14 17:51] interesaaat commented on #234
This is actually a [bug](https://github.com/onnx/onnxmltools/issues/415) with ONNX converters \ runtime. Commenting out the test for the moment.

[2020-08-14 23:22] interesaaat opened #235 "Add notebook example for torchscript example"
With #225 we added support for torchscript. It would be good to have a notebook showcasing this new feature.

[2020-08-17 13:25] arfangeta opened #237 "Random forest in LightGBM"
I want to clarify, now hummingbird is no support random forest in LightGBM? Is it planned?

When I convert from lgbm to onnx this model, I get an error
lgb.LGBMClassifier(boosting_type='rf', n_estimators = 128, max_depth = 5, subsample = 0.3, bagging_freq = 1)

File "/venv/lib/python3.6/site-packages/hummingbird/ml/_parse.py", line 242, in <listcomp>
    this_operator.inputs = [scope.variables[in_

[2020-08-17 16:14] interesaaat commented on #237
Thanks @arfangeta for reporting this. Yes this is is supposed to work. I will look at it.

[2020-08-17 17:55] interesaaat commented on #237
Hi @arfangeta, how are you calling the converter? I added a test for you code above and it works (#238).

[2020-08-18 02:19] arfangeta commented on #237
[code]

[2020-08-18 04:12] interesaaat commented on #237
I see, you were converting to onnx. This should work too, let me look at why is returning the error.

[2020-08-18 06:13] interesaaat opened #240 "Add support for Tweedie for LGBM"
This will require the addition of a new `post_transform` [here](https://github.com/microsoft/hummingbird/blob/7e5aa66eef94debedb27293dd2c6666946347199/hummingbird/ml/operator_converters/_gbdt_commons.py#L109) and [here](https://github.com/microsoft/hummingbird/blob/master/hummingbird/ml/operator_converters/constants.py), and the detection and extraction of Tweedie parameters from the [lightGBM con

[2020-08-18 19:23] interesaaat commented on #237
I am able to reproduce this error. I am working on a fix.

[2020-08-18 22:47] interesaaat commented on #237
Ok at the end the error on master was different. I have a branch [here](https://github.com/microsoft/hummingbird/tree/mainterl/rf-lgb-onnx) showing my progresses. Unfortunately I am blocked on
`onnxruntime.capi.onnxruntime_pybind11_state.NotImplemented: [ONNXRuntimeError] : 9 : NOT_IMPLEMENTED : Could not find an implementation for the node ArgMax_56:ArgMax(11)`. I will ask for help to the ONNX fo

[2020-08-19 16:12] #240 closed, assigned to nobody

[2020-08-20 00:53] interesaaat opened #244 "Add support for Sklearn pipeline objects"

[2020-08-20 10:03] klesouza opened #245 "Support LightGBM categorical features"
I was trying to convert a LightGBMRegressor model that has categorical features and I got the following error:
`Exception has occurred: ValueError
could not convert string to float: '0||1||2||3||4||10||13||14||21||22||23||25||27||29||30'
File "../python3.7/site-packages/hummingbird/ml/operator_converters/_tree_implementations.py", line 227, in __init__`

As it seems, you do not support LightGBM ca

[2020-08-20 14:54] interesaaat commented on #245
Hi @klesouza, thanks for reporting this. Yes we don't support categorical values in lightgbm yet. +1 on the better reporting error. As a momentary workaround, once #244 is in, we can onehot encode the categorical features before lgbm. String support in pytorch is not that great, so adding native support of categorical features is not that straightforward.

[2020-08-20 18:28] KranthiGV commented on #115
I did make good progress on that but not enough for a PR. I should've been more responsive here.
I really appreciate the patience and that you people took up the task as well.

[2020-08-20 18:33] interesaaat commented on #232
To add some documentation on what is happening. We had a first version of TVM integrated. For Tree models only GEMM worked because `index_select` was missing in TVM. This [PR](https://github.com/apache/incubator-tvm/pull/6295) added `index_select`.

Afterwards we saw that there was some typing error. This [PR](https://github.com/apache/incubator-tvm/pull/6311) fixed that. The [related issue](https

[2020-08-20 18:44] interesaaat commented on #115
Don't worry :) Sorry if we wasted some of your progresses.

[2020-08-20 20:37] masahi commented on #232
One thing I noticed is that models coming from hummingbird is extremely slow to compile on TVM. The following test with the data size (20, 10) doesn't finishing compiling in 30 min on my laptop. The Relay model doesn't look complicated, and for standard imagenet models compilation doesn't take more than 1 min. I have a feeling that there is an infinite loop going on inside TVM codegen.

Do you hav

[2020-08-20 20:57] interesaaat commented on #232
I was actually testing it myself this morning and I had troubles with the lightgbm notebook (it crashed the kernel, i didn't had the chance to debug further but I guess it's the same problem). The blog notebook worked well.

I will try with your test and let you know. Any idea on what is going on?

[2020-08-20 21:03] masahi commented on #232
I have no idea, but since conversion to Relay is instant, this is not a frontend problem, but somewhere deep inside codegen.

It's likely that workloads from hummingbird are novel ones that TVM hasn't seen. It would be really interesting if debugging this problem uncovers a bug in TVM codegen.

[2020-08-20 21:28] interesaaat commented on #232
On my mac actually worked. It took like few minutes (probably 3 or 4).

[2020-08-20 21:37] masahi commented on #232
Interesting, but still taking few minutes for such a simple model doesn't seem right. I've seen a report saying compiling Mask RCNN taking 20 min https://discuss.tvm.ai/t/vm-slow-compilation-of-tf-object-detection-models/7479/8

I'm assuming making dataset bigger also makes trees and hence converted models bigger? I wonder how much it would take to compile for a real world dataset.

(I've read you

[2020-08-20 22:08] interesaaat commented on #232
Yes for some models on GPU I think we saw something like in the ballpark of 40 minutes. This was with some GBDT with 500 trees on a dataset with few hundreds features. In the paper however we used custom Relay implementations (not the PyTorch frontend, which should make no difference), few custom operators, and TVM 0.6.

Our goal for the moment is to replicate the same speedups we saw using the cu

[2020-08-20 23:40] interesaaat commented on #232
Now I am having the same problem. I increased the numbers of trees to 10 and the input dataset to 2000x28 and it is still compiling after 10 minutes. I tried with the dataset we were using in the lgbm notebook (200k records) and compilation throws a segfault.

[2020-08-21 00:24] interesaaat commented on #232
Ok, still running after 1 hour. My setting:

[code]
@masahi do you think we can have someone looking into this? It get unmanageable quite fast, this was not happening with our internal Relay models on 0.6.

[2020-08-21 00:46] masahi commented on #232
We can open an issue there once we understand what is going on inside codegen. I have no idea yet, but I know where to look. If this is something I can fix, I'll do it.

One thing worth checking now is comparing the output of PyTorch frontend and the hand written one you have.

[2020-08-21 01:00] interesaaat commented on #232
Getting that version will take a while, but I will try. Will keep you posted once I get there, please share if you find anything in between.

[2020-08-21 02:05] interesaaat commented on #233
Closed with #231.

[2020-08-21 11:37] masahi commented on #232
I did some digging. It seems the problem is due to the very aggresive operator fusion TVM does and its  consquence of very large inlined expression.

First, this is the Relay graph for dataset of size (5, 10).
[code]

This is the same graph after operator fusion. Pay particular attention to the first fused op named %7, which has gather, where, take etc. This fused op has 7 ops inside it. If we inc

[2020-08-21 16:30] interesaaat commented on #232
This is really interesting, thanks for digging into it! I have few questions:
- What changed between TVM v0.6 and 0.7 such that this happens?
- In our custom implementation directly using Relay, I remember that `where` was implemented has custom op. (@scnakandala can weight in on why we did this, I guess that it was because `where` was not implemented back then). Do you think that this "aggressive

[2020-08-21 19:01] masahi commented on #232
I opened a thread in their forum to discuss this issue https://discuss.tvm.ai/t/aggressive-operator-fusion-and-its-consequence-of-huge-inlined-tir-expression/7687

I'm pretty sure the op fusion logic hasn't changed between 0.6 and 0.7. But I do know that there have been a lot of effort around refactoring their lower level IR. I'm not sure if that change is related to this problem.

Yes. If there i

[2020-08-21 20:34] interesaaat commented on #232
Thanks for opening the thread on the forum! Looking forward for a possible generic solution (e.g, without having to resort to custom ops). For the models where compilation works, the numbers look on par with what we saw using the custom model implementation, so this is exciting!

[2020-08-21 21:48] masahi commented on #232
According to https://discuss.tvm.ai/t/aggressive-operator-fusion-and-its-consequence-of-huge-inlined-tir-expression/7687/2, the reason of code blow up is due to indexing operations being duplicated at the lower IR level. I think this makes a lot of sense, although it's not obvious to me exactly where duplication is happening.

Do you have an idea where could this happen? If the graph has a diamond

[2020-08-21 21:51] interesaaat commented on #232
Ok I think that diamond patter appears because the model actually iterates over trees (all batched together) at a level by level fashion. So indexes in the i-th level are used at the i-th + 1 level. ([code here](https://github.com/microsoft/hummingbird/blob/fee38ab828e74b0872acd948425584c4703e42c7/hummingbird/ml/operator_converters/_tree_implementations.py#L227))

Is there a way we can tell TVM to

[2020-08-21 22:15] masahi commented on #232
No, because at the Relay IR level, the loop is unrolled so TVM cannot find a loop boundary. Tracing by Torch already does unrolling (Torchscript cannot generate jit modules with for loop).

What we can do immediately to unblock your development is to make `where` op opaque to the fusion pass.
This should have the same effect of `where` op being implemented as if it was a custom op.

You can do tha

[2020-08-21 22:23] interesaaat commented on #232
Is the segfault due to the same problem?

Ok I will do that and see what this unblocks.

[2020-08-23 08:31] scnakandala commented on #232
@interesaaat I think the reason why we didn't get this issue in the prototype system is because of the use of custom WhereOp which braked the fusion at every tree depth level. Back then there was no support Where in Relay.

From some previous experiments, I remember operator fusion was the main reason for low runtimes in TVM compared to TorchScript. When I disabled optimizations in TVM it was on p

[2020-08-24 04:21] masahi commented on #232
The configurable fuse depth is supported in https://github.com/apache/incubator-tvm/pull/6327. With this change there is no need to change `where` op to `kOpaque` (mentioned above).

But note that due to the way fusion works in TVM, the resulting size of fused subgraphs are not "tight" wrt the max fused depth in the sense that, if the max depth is 20, and in the middle of fusion pass there are two

[2020-08-24 04:29] masahi commented on #232
@interesaaat It seems the reason I got the segfault with big dataset is, there is a very large concatenation of parameter tensors at the beginning of the graph. For example, for the dataset of size (10, 10), there is this function that can be evaluated at compile time (since all param tensors are constant)

[code]

The %0 above is a tuple of 10 (1, 50) tensors, all that function above does is crea

[2020-08-24 04:55] scnakandala commented on #232
@masahi I think it is coming from here: https://github.com/microsoft/hummingbird/blob/master/hummingbird/ml/operator_converters/_tree_implementations.py#L224

We rely on the PyTorch input to get the batch size as TorchScript runtime can support any batch size.
@interesaaat I think for TVM backend we can have an additional batch_size argument given at the compile time to create this tensor at compi

[2020-08-24 16:19] interesaaat commented on #232
Thanks @masahi! I am going to try with your PR and see what we get. From your comments I see that pretty much now it solves the problem, and we only need to fix the batch size as @scnakandala suggested (will send a fix shortly). Question: do you think we can fix the diamond pattern thing. Setting the limits is good to unblock us, but is un-optimal. I am more than happy to help in case.

[2020-08-24 18:55] interesaaat commented on #232
Ok I have pushed a commit fixing max depth and batch size and now TVM works, even with large datasets :)

[2020-08-24 19:44] interesaaat opened #248 "Add TensorRT backend"

[2020-08-24 21:20] masahi commented on #232
Do you mean you want to fuse only the inner loop (one tree level)? That would creates many smaller functions, so compile time is certainly faster but the runtime perf might be slower than having big functions whose size is bounded by max depth param.

But big fused functions generated by TVM would contain many duplicated expression, so the performance relies on CSE being done by LLVM or NVCC.

[2020-08-24 21:23] interesaaat commented on #232
Ok so bottom line, this is the best we can do.

[2020-08-24 23:14] masahi commented on #232
Yes I think so. We should certainly benchmark the runtime performance with different fuse depth, to see how much fusion helps and if CSE by LLVM and NVCC are done as expected.

[2020-08-24 23:26] interesaaat commented on #232
Once I finish with covering the other operators  I can work on the benchmark.

One question: to remove the warnings such as `Cannot find config for target=llvm -keys=cpu, workload=('batch_matmul.x86', ('TENSOR', (1, 100, 99), 'float32'), ('TENSOR', (1, 100, 99), 'float32')). A fallback configuration is used, which may bring great performance regression.` I need to add something like [this](https:/

[2020-08-24 23:36] masahi commented on #232
Yes, after you tune for a particular workload, a log will be created that stores tuned parameter. Note that this warning is for AutoTVM as it exists today, but the community is working on a new version of AutoTVM, which is supposed to generates faster code and also tunes faster. More details https://discuss.tvm.ai/t/rfc-ansor-an-auto-scheduler-for-tvm-autotvm-v2-0/7005

If you are tuning or benchm

[2020-08-24 23:52] interesaaat commented on #232
Thanks for all the tips! How can I find the list of supported targets?

I will share my findings in this thread so that you (@masahi) take track. I want to try to squeeze as much as we can performance from TVM (something that we didn't fully explore in the paper), so I want to play with all the possible options.

[2020-08-25 00:01] masahi commented on #232
For LLVM, we don't have a list of supported targets. Since this option is passed directly to LLVM, there should be LLVM documentation somewhere, but I don't know. On TVM + x86, either `llvm -mcpu=core-avx2` or `llvm -mcpu=skylake-avx512` depending on avx512 is available is a standard choice.

[2020-08-25 00:03] interesaaat commented on #232
Gotcha, thanks! Any timeline on when Ansor is planned to be fully integrated into TVM? (I haven't found any timeline in the thread). I want just to make sure I am not going to work on something that in in 2 weeks will be obsolete :)

[2020-08-25 00:10] masahi commented on #232
No idea, but we are getting a quite lot of related PRs. According to the upstreaming plan https://discuss.tvm.ai/t/rfc-ansor-an-auto-scheduler-for-tvm-autotvm-v2-0/7005/32, we are now at the phase 2. So I guess it would take at least one or two months?

[2020-08-26 01:59] interesaaat commented on #237
The `ArgMax` problem was fixed in this [PR](https://github.com/microsoft/onnxruntime/pull/4907). Will wait for ORT 1.5 before closing this issue.

[2020-08-26 16:20] #233 closed, assigned to interesaaat

[2020-08-26 16:22] interesaaat opened #250 "Add support for scikit-learn pipelines"
For the moment Hummingbird is only able to support single model \ featurizers.

We should also add support for `Pipeline`objects, as well as `FutureUnion` and `ColumnTransform`.

[2020-08-26 16:30] interesaaat opened #252 "Add support for Pandas Dataframes"
In Hummingbird we currently support `ndarrays` as input. We should add support for Pandas `Dataframes` too. This is particularly critical for pipelines since each operator in a pipelines can work on a set of columns on the dataframe. This will require extracting schema information from the dataframe.

[2020-08-27 17:35] interesaaat commented on #232
@masahi, I am adding tests for the TVM backend. I just added one for isolation forest [here](https://github.com/microsoft/hummingbird/blob/6e1ce1aa408e973d59a91a93128d57f21d8ab0e3/tests/test_sklearn_isolation_forest_converter.py#L108). It using similar code as the other tree examples we were testing. However I got this error:

[code]

Any idea on what is going on here? The same model works on pyto

[2020-08-27 18:55] interesaaat commented on #232
One more thing. I think casting to double is also missing the the PyTorch frontend.

The first thing we are doing in SVM forward method is `x = x.double()` but in the trace I see:

[code]

[2020-08-27 22:40] #2 closed, assigned to nobody

[2020-08-27 23:05] interesaaat opened #254 "LogisticRegression returns wrong results with lbfgs"
With `lbfgs` solver the results are wrong. To replicate:

[code]

[2020-08-28 00:47] masahi commented on #232
@interesaaat The error is happening here at the `where` op:
[code]

The problem seems to be that the second and the third args to `where` is a scalar. The error message is saying you are trying to index 0 dim tensor.

https://github.com/apache/incubator-tvm/blob/082f27ebf8b14f537f0d7686e8161db1684f3110/include/tvm/topi/transform.h#L899

I think passing a constant tensor instead of a scalar should

[2020-08-28 00:50] masahi commented on #232
Yes, we can add that. But the question is, what happens after you cast to double? If you are you doing every compute in double, it's ok. But we cannot mix float and double tensors (e.g., there is no automatic promotion from float to double tensor).

[2020-08-28 00:58] interesaaat commented on #232
Yes we need cast to double exactly for that reason (we are doing computation in double precision but the input tensor is float).

Thanks for the suggestion about scalars, that's an easy fix.

One last error we found: any chance we you can add support for aten::mode?

[2020-08-28 01:04] masahi commented on #232
I don't know what it does or how I can generate this op. Can you give me a minimal repro? Sounds like a trivial op (either identity or something that can be ignored).

[2020-08-28 01:12] masahi commented on #232
@interesaaat Which tests needs double? Adding a cast to double support is trivial, but I want to make sure the rest of operations properly work after cast (since our PyTorch frontend mostly assumes float32 by default).

[2020-08-28 01:33] interesaaat commented on #232
[This](https://github.com/microsoft/hummingbird/blob/10a92b8578d72358cf0215718d0cef219936a10e/tests/test_sklearn_sv_converter.py#L131) is the test I was working on. We have to use double precision because we had to do some trick to implement SVM.

I can provide you a simple test for mode tomorrow (the same svm test requires cast to double and mode to work).

[2020-08-28 01:46] masahi commented on #232
Adding a cast to double worked, but I get a shape mismatch error at the end

[code]

The last operation in TVM, `batch_flatten`, doesn't seem to be doing anything:
[code]

UPDATE:  Converting Torch flatten to Relay `batch_flatten` is wrong (it is not tested). Will fix
https://github.com/apache/incubator-tvm/blob/158e9beeb547699727b164db037bb21a22d47bea/python/tvm/relay/op/nn/nn.py#L1239-L1243

[2020-08-28 02:10] masahi commented on #232
I found the test case that uses `torch.mode`, so there is no need for that. It seems `torch.mode` https://pytorch.org/docs/stable/generated/torch.mode.html is a bit unusual op, we don't have an equivalent op in Relay.

Implementing it is possible but it would take some time. And it is not clear how to write a GPU implementation (Torch doesn't support mode on cuda either).

For now, it would be gre

[2020-08-28 13:52] masahi commented on #232
Cast to double added and flatten conversion fixed in https://github.com/apache/incubator-tvm/pull/6357

Now I can pass 2 class SVC test.

[2020-08-28 17:30] interesaaat commented on #232
Thanks @masahi! I will fix isolation forest first, and look into `torch.mode` next (while waiting for your PR to be merged).

[2020-08-28 18:48] interesaaat commented on #232
I was looking at `where` for isolation forest and it is not that trivial. I created 2 constants tensors of size 1 and I am getting.

[code]

So apparently I have to size the 2 tensors based on the batch size, but this will introduce a lot of waster memory. No way we can update the semantics of `where` in TVM to match the one in PyTorch (i.e., either the second and third operands can be constants,

[2020-08-28 20:20] #250 closed, assigned to interesaaat

[2020-08-29 00:19] interesaaat opened #259 "Add support for setting the number of threads directly from the container"
Right now users can set the number of thread by manually doing something like (e.g., for torch)
[code]
It would be good to have this directly into the container so that (1) one does not have to set the number of threads manually, (2) we can provide a consistent, generic API across backends.

[2020-08-29 07:50] scnakandala commented on #252
@interesaaat  Will the columns be referenced by the index or by the column name?
I remember there are some operators like ColumnTranformer which refer columns by index.
I think these cases should be easy to support by simply converting the dataframe to numpy (df.to_numpy())

[2020-08-29 15:53] #200 closed, assigned to nobody

[2020-08-29 17:18] scnakandala opened #264 "Add XGB Missing Values Support"

[2020-08-29 17:21] interesaaat commented on #252
Yes this is exactly what we have right now. It would be good to extend it to support dataframes more in general.

[2020-08-29 20:01] #254 closed, assigned to nobody

[2020-08-29 21:58] ksaur commented on #134
#262 fixed chi2 skb.

#263 (SelectPercentile ) closes this

[2020-08-29 21:58] #134 closed, assigned to ksaur

[2020-08-30 02:27] #153 closed, assigned to scnakandala

[2020-08-30 05:09] scnakandala opened #270 "Add Sklearn Matrix Decomposition Operators"
Add support for the following operators

- PCA
- KernelPCA
- TruncatedSVD
- FastICA

[2020-08-30 05:19] scnakandala opened #271 "Performance benchmark as part of CI/CD"
I was wondering whether we should have some kind of performance-based tests as part of the  CI/CD pipelines.
Any thoughts?

[2020-08-30 05:53] interesaaat commented on #271
I was thinking about something similar today. It would be good to have some benchmarking refresh every time a new commit goes in. Perhaps we can store the benchmark numbers in the same location as the documentation.

The only problem I see is that if we add benchmarks as part of the ci/cd, the pipelines will take forever. Maybe we can have not a full benchmark as we have in the paper but just some

[2020-08-30 11:21] masahi commented on #232
Supporting `where` with scalar should be possible. I thought it should be easy and tried, but I got an error at a lower level IR I don't understand (https://discuss.tvm.ai/t/unclear-error-from-te-inliner/7764). We'll see.

[2020-08-30 18:30] ksaur commented on #271
I love the *idea* of performance-based tests, because it would be great to be auto-notified if there is a regression (especially when new versions of pytorch, etc, change things unexpectedly).

But the CI/CD is already _crawling_.  If we do add something to the pipeline, it would have to be minimal.   Matteo's idea of a  couple of tests only could work!

Regarding benchmarks in general,  one thoug

[2020-08-30 18:35] ksaur opened #273 "fixup scikit-learn PolynomialFeatures"
In #269, the basics are implemented, but to be fully complete we need:
(1) degree larger than 2
(2) support for  interaction_only
(3) more tests

[2020-08-30 18:46] ksaur commented on #270
Do you want me to assign this to you since you are on a roll?  ;)

[2020-08-30 20:03] scnakandala commented on #270
Yes, please. I am working on it.

[2020-08-30 20:50] interesaaat commented on #271
Yes, we can put all the scripts into a `benchmark` directory. Do you know how other projects deals with performance regression in an (semi-)automatic way?

[2020-08-30 22:16] interesaaat commented on #244
This is a copy of #250 and closed with #251.

[2020-08-30 22:16] #244 closed, assigned to interesaaat

[2020-08-30 23:50] interesaaat commented on #232
I Added an issue to Pytorch to support bincount beyond 1d arrays. I also tested binary SVM and indeed it works.

[2020-08-31 00:09] masahi commented on #232
One tricky issue with bincount is the output shape is inherently dynamic. To support dynamic shape, we need to use Relay VM runtime, rather than graph runtime (what `relay.build` gives you). So for optimal performance, supporting `torch.mode` is better (but it is less general and may be harder to implement). I'm open for both alternatives.

VM runtime supports dynamic shape and control flow, but m

[2020-08-31 01:10] interesaaat commented on #232
Regarding bincount: in our case the number of bin is fixed to the number of classes (which we know at compile time) so also fixed shape is ok. (Also pytorch I think returns the same len of the input 1d array).

Regarding dynamic shapes: you are right, that's a big deal for us! For example, we don't support string featurizers because of lack of dynamic ops in pytorch.

[2020-08-31 17:07] ksaur commented on #174
closed with #189

[2020-08-31 17:07] #174 closed, assigned to KranthiGV

[2020-08-31 17:15] ksaur commented on #217
I hear you are working on this @scnakandala? let me know if that's not the case :)

[2020-08-31 17:31] interesaaat opened #275 "Isolation Forest results do not match in sklearn 0.21.3"
To reproduce: run isolation forest tests with `scikit-learn==0.21.3`

[2020-08-31 17:38] ksaur commented on #275
Is there some way around rolling back `sklearn` to `0.21.3` in #274 ?

[2020-08-31 18:57] scnakandala commented on #217
Yes, @ksaur. I am exploring what we can do to support it. Can you assign this to me?

[2020-09-01 00:26] interesaaat opened #279 "Disable predict_proba for models not returning probabilities"
Models such as SVC do not return probabilities. HB should then throw an error if users try to call `predict_proba` from these models.

[2020-09-01 00:40] scnakandala commented on #270
#277

[2020-09-01 01:36] interesaaat opened #280 "MLP bug when run on GPU."
The current MLP implementation uses arrays of `Parameters` instead of `ParameterList`. This will not allow PyTorch to correctly load the parameters on GPU.

[2020-09-01 01:47] interesaaat commented on #232
I found another weird error. I don't see anything wrong here.

[code]

throws:

[code]

The line creating problems is this:
[code]
Does max has different outputs in TVM than PyTorch?

[2020-09-01 01:57] masahi commented on #232
Yes, it could be that at Torchscript layer there can be auxiliary outputs. The fix is always trivial. What is `Normalizer`?

[2020-09-01 03:05] #280 closed, assigned to interesaaat

[2020-09-01 03:56] interesaaat commented on #232
[This](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.Normalizer.html#sklearn.preprocessing.Normalizer). It is simple normalization over feature vectors. `l1` and `l2` works with TVM, but for the above reason not `max`.

[2020-09-01 09:49] masahi commented on #232
Thanks, indeed our conversion of `torch.max` was not correct (the correct conversion is a bit more involved)
https://github.com/apache/incubator-tvm/pull/6372 should fix this. Please try.

[2020-09-01 12:12] zhanjiezhu commented on #275
I can reproduce this, it only throws errors on "predict" but fine for "decision_function" and "score_samples", so must be problem with the offset in "predict". It's due to in 0.21.3, the "behaviour" defaults to "old", which cause the "predict" rely on the value "_threshold_" which is already removed in 0.22 onwards. To make it also work for 0.21.3, I think we can try to parse the _threshold_ if ex

[2020-09-01 16:34] interesaaat commented on #232
Yes it worked. Thanks @masahi!

[2020-09-01 16:56] interesaaat commented on #232
I add few tests for MLP and Binarizer. I am now stuck at Bernoulli Naive Bayer with the following error: `NotImplementedError: The following operators are not implemented: ['aten::logsumexp']`.

We use `torch.logsumexp` [here](https://github.com/microsoft/hummingbird/blob/df4434f86dfc3c087f0a8d3a62b3d032700e8484/hummingbird/ml/operator_converters/_nb_implementations.py#L36), for example.

[2020-09-01 18:51] interesaaat commented on #275
Thanks @zhanjiezhu for looking into this. The fix should be easy.

[2020-09-01 22:22] masahi commented on #232
Thanks, logsumexp support added in https://github.com/apache/incubator-tvm/pull/6374

[2020-09-01 22:40] interesaaat commented on #232
Thanks, that was fast :). Any news regarding the problem with scalars in `where`?

We are also re-running all the scripts from the paper (we are preparing a submission for the reproducibility track at OSDI) and we found a couple of interesting things:
- Compilation on GPU is much faster than CPU. Like in certain cases (LinearSVC) for GPU takes seconds while for CPU I had to kill it after > 30 minu

[2020-09-01 23:39] masahi commented on #232
No. I'm getting an error from a lower layer in the stack I'm not familiar with. I need more time to understand what's going on. Please don't expect this would be fixed soon.

This is strange, since both CPU and GPU target go through the same IR lowering step before codegen, and it is this lowering step that gets stuck without fuse depth bound. So I don't think it is LLVM vs NVCC problem.

I need t

[2020-09-02 02:53] masahi commented on #232
A few things I found regarding performance issues:

* For a big data set like (200000, 28), TVM's CPU utilization is terrible. On my 8 core machine, only 1 CPU gets 100 % util and other like 15 %.

* In a Relay model converted from Torchscript, there are a lot of `reshape` op (see for example Relay dump in my earlier comment https://github.com/microsoft/hummingbird/issues/232#issuecomment-67824649

[2020-09-02 03:06] interesaaat commented on #232
Yes we use `view` quite a bit because in pytorch is often for free. Is there something we can do differently to get better models?

Is the bad CPU utilization due to the type of operations we are doing, or this is a well known problem in TVM? One of our claims is that we let the inference system figure out how to paralelize the operations rather than manually doing it (as in cuML for instance or o

[2020-09-02 03:13] masahi commented on #232
Removing view surely helps, but since usage of view is very common and it is not reasonable to ask users to avoid using view, I think this is an area where TVM needs improvement (make reshape non-copy). Anyway, thanks to fusion I don't think having a lot of reshape is a problem.

No, this shouldn't happen. For a dataset of (20000, 28), it is not bad (one cpu getting 100% and others 75 %). I need t

[2020-09-02 05:04] interesaaat opened #282 "LGBM 3.0 breaks test with RF"
The test `test_lgbm_classifier_random_forest` returns wrong results with the latest version of lgbm.

[2020-09-02 11:03] masahi commented on #232
@interesaaat `where` with scalar inputs supported!! https://github.com/apache/incubator-tvm/pull/6383
I had a simple mistake in how to turn a zero dim tensor into a scalar.

To pass `test_sklearn_isolation_forest_converter.py`, I had to change

https://github.com/microsoft/hummingbird/blob/mainterl/tvm/hummingbird/ml/_container.py#L567
to
[code]

https://github.com/microsoft/hummingbird/blob/maint

[2020-09-02 18:00] interesaaat commented on #232
Great! I tested NB and they work. I will wait for the PR to be merged before testing on my side isolation forest. Yes, we will need to add a `view(-1)`.

[2020-09-03 03:02] scnakandala opened #283 "Add support for sklearn KBinsDiscretizer"

[2020-09-03 03:56] #270 closed, assigned to scnakandala

[2020-09-03 04:13] scnakandala opened #284 "Fixup FastICA on macos"
FastICA converter with n_components None fails on macos-latest  and Python 3.8 due to a sklearn bug.

[2020-09-03 17:21] ksaur commented on #283
Closed with #285

[2020-09-03 17:21] #283 closed, assigned to scnakandala

[2020-09-03 20:18] scnakandala opened #287 "Add support for sklearn MLPRegressor"
Extend the existing sklearn MLPClassifier to also support MLPRegressor.

[2020-09-03 20:50] zhanjiezhu commented on #275
Hi @interesaaat, are you already fixing it? if not, I'm happy to help :)

[2020-09-03 20:56] ksaur commented on #275
We would love to have your help, thanks! :)

[2020-09-03 23:57] scnakandala commented on #287
#288

[2020-09-04 04:36] #287 closed, assigned to nobody

[2020-09-07 22:18] #275 closed, assigned to zhanjiezhu

[2020-09-10 22:12] Hemantr05 commented on #164
@ksaur I would like to contribute by writing the code for tf-idf, if possible.

[2020-09-10 22:20] Hemantr05 commented on #273
@ksaur working on the same.

[2020-09-10 22:21] interesaaat commented on #164
Please! Having tf-idf will be fantastic. Can you please open as issue specific for tf-idf so that we can discuss on the implementation? I don't think it will be super trivial because, for example, PyTorch does not support string data types, so we will have to transform the input data into some numeric form (for one-hot encoding we had to do the same).

[2020-09-10 22:50] ksaur commented on #273
Welcome! Please reach out with questions as necessary! :)

[2020-09-11 00:56] masahi commented on #232
@interesaaat To see if perf regression could be related to frontend specific issues, I tried running hummingbird models via PyTorch -> ONNX -> TVM path, using the ONNX frontend. You need this PR https://github.com/apache/incubator-tvm/pull/6446 to use ONNX frontend with hummingbird.

The graphs generated by PyTorch and ONNX frontend are almost equivalent, and I didn't see any performance differenc

[2020-09-11 02:44] interesaaat commented on #232
Thanks @masahi for doing this! We just finished cleaning the scripts for the OSDI artifact evaluation and we will open source them shortly (so that we can work towards having a good benchmarking suite). Next I want to try to the trees over the HB open sourse version using the pytorch front-end and the old version using just relay. Hopefully I will have some time next week.

One thing that we notic

[2020-09-11 02:58] masahi commented on #232
To be clear, the CPU performance I mentioned in the previous post is about runtime performance. I thought I'm done with compilation time issue with the fuse depth bound I added. Why are you still having compilation problem?

I'm curious to see how TVM is failing (including GPU one you mentioned). Happy to take a look if these are something I can reproduce on my end.

[2020-09-11 03:13] interesaaat commented on #232
Yea. Give us few days and we will push the code to run the benchmarks so that you can also test on your side.

For the operators we are using large batches (1M records) using Iris. Like if you try LogisticRegression over iris with 1M records compilation takes forever on CPU and fails on GPU.

[2020-09-11 10:52] Hemantr05 commented on #273
@ksaur will do ksaur

[2020-09-11 10:54] Hemantr05 opened #293 "tf-idf implementation"
This is regarding the implementation of tf-idf issue (#164 )
@mattetti We can discuss the same in this issue.

[2020-09-11 12:19] masahi commented on #232
@interesaaat I found the cause of low CPU utilization with TVM, it's fixed in https://github.com/apache/incubator-tvm/pull/6455. Basically, some of what should be embarrassingly parallel loops are left single threaded, due to a bug in TVM.

After this fix, CPU utilization is full and I'm getting 2-3x better numbers on 6 cores box for TVM + HB on CPU. Please try this, it should definitely help!

[2020-09-11 15:02] interesaaat commented on #232
This is fantastic! Maybe this explains why while we were trying to replicate the tree experiments on 6 cores the numbers were a bit slow compared to before. Will try this PR today.

[2020-09-13 20:10] Hemantr05 commented on #273
@ksaur

`from sklearn.preprocessing import PolynomialFeatures`
`from hummingbird.ml import convert`

`X = np.arange(6).reshape(1,6)`
`y = np.random.randint(2, size=6)`

`poly = PolynomialFeatures(1)`
`poly_x = poly.fit_transform(X)`
`poly.fit(X, y)`

`poly_convert = convert(poly, 'pytorch')`

This is the error reproduced after implementing the above code for 1 dimension.

Unable to find converter

[2020-09-13 21:51] Hemantr05 commented on #203
@ksaur I'm solving the same in issue #293 as discussed in issue #164

[2020-09-14 02:35] ksaur commented on #273
If you see this error, it's possible you don't have the latest hummingbird (`0.0.6`) installed, or that you are feeding it the wrong data type

For "(1)" above: The error I get when I run your code (and the error I expect to see) is :
[code]

Please let me know if I misunderstood your question! Hopefully that makes sense!

[2020-09-14 02:53] ksaur commented on #203
Hi @hemantr05,

For issue #164, there are two parts:
* In #293, you are working on the first half `tf-idf`.  This issue is challenging and non-trivial for sure!!
* For the second part there is `CountVectorizer` (this issue). As mentioned in #164, we have some internal code already for `CountVectorizer` that was a bit more time-consuming to integrate, which I can definitely post in the future!

We

[2020-09-14 03:06] interesaaat commented on #203
Actually you can take a look at count vectorizer code at [this](https://github.com/microsoft/hummingbird/tree/mainterl/wipcountvectorizer) old branch.

[2020-09-14 04:08] ksaur commented on #203
@interesaaat - I see that I also had the old CV code already posted in the original post above (See "[this branch](https://github.com/microsoft/hummingbird/blob/ksaur/countv/hummingbird/ml/operator_converters/skl_count_vectorizer.py#L150)"). :-D   I can delete mine if you made changes in yours? (else the appear to be dups)

[2020-09-14 04:12] interesaaat commented on #203
I made no changes, let me delete mine then since it is not used.

[2020-09-14 16:23] Hemantr05 commented on #203
@ksaur Sure. Will finish the previously assigned issue first and get back to this

[2020-09-14 17:27] ksaur opened #297 "Strings for pipelines"
We need to implement Strings for Pipelines.

When we do, we can change the test (`test_pipeline_column_transformer_string`) in PR #295 to call `convert` rather than check for `NotImplementedError`

[2020-09-14 23:17] Hemantr05 commented on #273
@ksaur, I have the updated version of hummingbird, was able to reproduce the error you got.
As you mentioned, the input was incorrect.

[2020-09-15 04:55] interesaaat commented on #232
@masahi sorry if it took me a bit of time to setup the machine but now I have all ready to compare our previous TVM implementations with the current (open sourced) one. To start, I tried with Fraud, random forest:

[code]
This is the old implementation using directly Relay. With the current Hummingbird branch:
[code]
10x improvement in compilation time, and 25% better prediction time! These number

[2020-09-15 05:18] masahi commented on #232
It is interesting to see the conversion time being faster, since now we should be fusing more ops than before. You said in your original implementation `where` op is custom-implemented, so fusion would break there.

Of course it depends on what tree strategy you use, the balanced tree variant has no where op and less ops compared to the normal tree variant, so it can fuse more ops for a given time

[2020-09-15 05:36] interesaaat commented on #232
Actually, I am not setting the max fuse limit in this case!

[2020-09-15 05:48] masahi commented on #232
hmm then I have no idea where the conversion time win comes from... surprising we can compile for a large dataset without fuse bound.

[2020-09-15 05:50] interesaaat commented on #297
This will be solved once we support pandas dataframes as inputs.

[2020-09-15 10:05] ksaur commented on #297
tagging pandas DF issue: #252

[2020-09-15 10:17] ksaur opened #298 "Verify notebook-based pip install"
I'm not familiar with the `collab` notebook environment.  I'm looking at all of our notebooks, and I see that we have text like `pip install hummingbird_ml[extra]` at the top of all of them. This was added by a `collab` user (ex: #150).

I would expect this to be `pip install hummingbird-ml[extra]` with a dash, not underscore...but before I change it back maybe there is a notebook environment diff

[2020-09-15 16:24] ksaur opened #299 "Integrate with SparkML"
Since there is a pyspark API: https://spark.apache.org/docs/latest/api/python/pyspark.ml.html

We should be able to embed into HB the sparkml parser as we did with sklearn parser.

[2020-09-15 17:52] interesaaat commented on #232
@masahi I am digging a bit more in the results. For `xgb` (and `lgbm`) our custom implementation is actually a bit faster (1.7s vs 2.4s) than the one translated from PyTorch because of custom ops (I believe).

This is from Fraud, `xgb` using our current implementation:

[code]

This instead is from the custom implementation using Relay and custom ops (note, the code should be doing the same thing,

[2020-09-15 18:07] masahi commented on #232
To be sure, is the input size the same? The relay graph shows one is 10000 while other is 1000

[2020-09-15 18:45] interesaaat commented on #232
Good catch! Re-running again.

[2020-09-15 19:15] interesaaat commented on #232
Same 1.7s.

[code]

[2020-09-15 20:01] masahi commented on #232
It would be interesting to see the difference between a custom op and open source version in more detail. If indeed they are equivalent, the lowered IR should also be equivalent. We need to debug, I think such a large perf delta shouldn't exist.

To me it is also a bit surprising to see prediction on 10000 rows taking more than 1 second.

[2020-09-15 22:42] interesaaat commented on #232
That's for 500 trees of dept 8. Regulare `xgb` takes about 2s. What can I do to debug this, I have everything already setup.

[2020-09-15 23:06] masahi commented on #232
I want to take a look at this if your are open sourcing this stuff. If you like, I'd start by looking at the lowered IR by uncommenting this line. `_build.lower` needs to be replaced with `tvm.driver.lower`

https://github.com/apache/incubator-tvm/blob/e63e08febd682f40a536075998a6839bccccd3c6/python/tvm/relay/backend/_backend.py#L51

[2020-09-16 00:54] interesaaat commented on #232
Ok trying now. Open sourcing the code can be a bit problematic because I need to take a cut of the whole code and most likely the cut won't work end to end. Is this the expected output? I can do the same for the custom code.

[code]

[2020-09-16 01:42] masahi commented on #232
hmm isn't that for the custom op version? For the open source one we should have more ops fused into one function, so the lowered IR would be more complicated. For the custom op version IR makes sense.

[2020-09-16 05:16] interesaaat commented on #232
Sorry I didn't past the whole output. This is the whole output.

[code]

[2020-09-16 18:40] interesaaat commented on #232
Ok I finally managed to get it working with tvm 0.6 and custom ops.

[code]

[2020-09-16 19:58] masahi commented on #232
Interesting. One thing that is immediately obvious is there are a lot of memory buffers (`placeholder_` stuff) in the current version. I think they correspond to all tree parameters (node indices, thresholds etc) coming from PyTorch.  If you look at the Relay graph of current version, there are tensors of size (5000000,) or (10000, 500), but I don't see them in the relay graph or lowered IR of cus

[2020-09-16 20:03] masahi commented on #232
Also, if it is possible, it would be interesting to run your custom op version with the current TVM. As you can see how the lowered IR looks like in two different versions, there have been a major change in how lower level IR is represented since v0.6. We should make sure the perf regression is coming from solely due to custom op and not from internal change in lower level IR.

[2020-09-16 20:22] interesaaat commented on #232
Do you think that placeholders are because of the reshape ops that copy all the time? There are no reshapes in the custom ops.

I will start with your first suggestion since I already tried months back to switch to 0.7 and miserably fail. I am quite sure that the params are the same.

[2020-09-16 20:31] masahi commented on #232
No, since reshapes ops are fused into one memory movement operation.

I'm pretty sure they come from tree parameters. In the relay graph of custom version, there are also many parameters represented as `meta[relay.Constant][1]` etc. I wonder why they don't appear in the lowered IR as parameters of current version do (as various `placeholder_`)

[2020-09-17 00:54] interesaaat commented on #232
The two `__init__`s are as follows:
[code]

and
[code]

[2020-09-17 00:56] interesaaat commented on #232
I don't see any major difference beside the fact the we were previously cast by `int32` instead of `int64`.

[2020-09-17 01:12] interesaaat commented on #232
This is a print for `param` in current HB.

[code]

[2020-09-17 01:33] masahi commented on #232
I realized that, since in the custom version you are not converting from PyTorch, comparing two PyTorch code doesn't tell us much. What I want to see is the `params` you pass to `relay.build(mod, params=params)`. For example, for data set of (20000, 28), if I do

[code]

I get this
[code]

Also, I want see the Relay graph after fusion. You can dump that by

[code]

In the current HB, there should

[2020-09-17 05:40] interesaaat commented on #232
Does the `param` print [here](https://github.com/microsoft/hummingbird/issues/232#issuecomment-693748327) make sense? I am trying to print the same for the custom version.

[2020-09-17 05:46] masahi commented on #232
ah right, for the current HB they make sense. Yes, I want to see the params for the custom version.

I don't need the values of params, just the shape is enough.

[2020-09-17 06:03] interesaaat commented on #232
Yes that was quite verbose :) I am trying to print also for the other case, but it takes a while...Question: do you want to have a call and go over this live? Maybe we can find a solution with less iterations :)

[2020-09-17 06:08] masahi commented on #232
:) ok I'll send an email to you (this thread is already too long)

[2020-09-17 06:15] interesaaat commented on #232
This is the print of `params` for the custom version.
[code]

[2020-09-17 16:02] #297 closed, assigned to nobody

[2020-09-19 01:24] interesaaat commented on #232
I don't think there is an easy solution for the `reshape` problem. [index_select](https://pytorch.org/docs/stable/generated/torch.index_select.html) requires a `1d` index, that's why we always flatten the tensor. I don't think there is any op in pytorch (or TVM) that does exactly what we want. Maybe I can implement the function in python and with torchscript it will get compiled into what we want?

[2020-09-19 02:24] masahi commented on #232
I don't think having a custom pytorch would help.

We can at least remove the last reshape here (it doesn't do anything) https://github.com/microsoft/hummingbird/blob/master/hummingbird/ml/operator_converters/_tree_implementations.py#L328

If we need to keep indices around as 1D, can we do `gather` at https://github.com/microsoft/hummingbird/blob/master/hummingbird/ml/operator_converters/_tree_imp

[2020-09-19 16:40] interesaaat commented on #232
Yea i also saw that one. Will remove.

I see. Let me try to make everything a 1d array. Hopefully it will work.

I think that indices are supposed to be Long in pytorch.

[2020-09-21 03:44] scnakandala opened #301 "Add support for more distance metric types in Sklearn KNeighbors classifier"
Add support for the following distance metric types:

identifier | class name | args | distance function
-- | -- | -- | --
“manhattan” | ManhattanDistance |   | sum(\|x - y\|)
“chebyshev” | ChebyshevDistance |   | max(\|x - y\|)
“wminkowski” | WMinkowskiDistance | p, w | sum(\|w * (x - y)\|^p)^(1/p)
“seuclidean” | SEuclideanDistance | V | sqrt(sum((x - y)^2 / V))
“mahalanobis” | MahalanobisDistanc

[2020-09-21 03:47] scnakandala opened #302 "Add support for more algorithms in Sklearn KNeighbors classifier"
The current Sklearn KNeighbors classifier supports only the brute force method. It would be interesting to explore whether we can support kd-tree and ball-tree methods.

[2020-09-21 03:49] scnakandala opened #303 "Add support for Sklearn KNeighbors Regression"

[2020-09-21 20:57] #217 closed, assigned to scnakandala

[2020-09-21 21:45] #303 closed, assigned to nobody

[2020-09-22 01:33] interesaaat commented on #232
Unfortunately there is no solution to this because we cannot `gather` on 1D indices. Unless @scnakandala has some idea. (BTW I removed the unnecessary `view` ops but the performance in TVM didn't change).

[2020-09-22 22:11] #252 closed, assigned to nobody

[2020-09-22 23:31] interesaaat opened #305 "Generate automatically the schema for ONNX models."
ONNX models contains all the input information therefore it should be possible to automatically generate the schema definition \ inputs starting just from the model.

If this is true, we can remove `ONNX_INITIAL_TYPES ` from the support input parameters.

[2020-09-23 17:36] interesaaat commented on #232
@masahi We tried to get rid of the `reshape`s ops in PR #306.

Unfortunately since we are using `expand` TVM crashes with a seg fault error for the 10k batch size. I was able to make it work with a batch size of 100 and the optimized graph is the following:

[code]
This version is actually about 2x slower than the previous one. Even without reshape I don't see any major operator fusion happening.

[2020-09-23 17:47] interesaaat commented on #232
Actually, is `%55` the result of fusion? In that case it actually fuses a lot.

Although the original version without `expand` actually fuses more.

[code]

[2020-09-23 21:21] masahi commented on #232
Yes exactly. The new version has more gather and that doesn't seem help improving performance. Segfault is likely due to the same issue we met previously, you need to fix the batch size at compile time and pass the concated parameters to TVM.

In general, I recommend setting fuse depth to something like 50, even if you can compile without it. It seems too much fusing hurts performance (for a simil

[2020-09-25 16:35] interesaaat opened #308 "Use * and ** to pass test_data and extra_configs"
Right now in the `convert` function we ask users to explicitly create a `extra_configs` dictionary. We can skip this process by using `**kwargs` instead.

Similarly we expect users to pack multiple inputs into a tuple when, for example, a pipeline requires multiple input datasets. This can be avoided by just having `*test_data` in the signature.

So I was thinking to change the `convert` API `conv

[2020-09-26 00:24] scnakandala opened #309 "Fix issue in sklearn KNeighbors Classifier/Regressor with chebyshev metric type"

[2020-09-26 00:36] #301 closed, assigned to nobody

[2020-10-02 15:58] ksaur commented on #271
Maybe we can use something from [this github blog](https://github.blog/2020-06-17-using-github-actions-for-mlops-data-science/) which shows runtime.  It's not a perfect fit for what we're looking for, but it does provide some useful features.

[2020-10-02 17:15] ksaur commented on #273
Hi @Hemantr05 , just checking in to see  if you have any questions? :)

[2020-10-04 22:37] ksaur opened #311 "Better error message for converting before fit"
If a user forgets to call `fit` before calling `convert` they will get a confusing error message.  We should find a way to print a more helpful error message in a case such as a the following:

[code]

[2020-10-05 04:12] ksaur opened #312 "Support for sklearn Kmeans"
A user has requested sklearn.cluster.KMeans

Hopefully/I think that that one should be an easier one

[2020-10-08 09:20] sephib opened #314 "running hummingbird.ml in conda"
Hi,
Are you planning to publish hummingbird as a conda package (recipe) in anaconda?

[2020-10-08 20:41] interesaaat commented on #314
Hi @sephib, no plan on this yet.

[2020-10-09 21:10] interesaaat commented on #271
I am starting with pushing the code for the benchmarks. The tasks to complete this PR will be:
- [ ] Trees [#315]
- [ ] Operators [#316]
- [ ] Pipelines [#317]
- [ ] Add benchmarking to CI/CD pipeline

[2020-10-09 21:11] interesaaat opened #315 "Add benchmarking script for trees"
The scripts will allow the replication of the results in Section 6.1.1 of the paper.

[2020-10-09 21:12] interesaaat opened #316 "Add benchmarking scripts for operators"
The scripts will allow the replication of the result of section 6.1.2 of the paper.

[2020-10-09 21:13] interesaaat opened #317 "Add benchmarking scripts for pipelines"
The scripts will allow the replication of the results of section 6.3 of the paper.

[2020-10-11 05:29] saadhaxxan commented on #298
Actually, the inline pip statement in jupyter or colab is used to install the library if not installed before its just like running a pip install in cmd. Pip uses whl file or a separate pypa uploaded library to install the dependencies and library. In your case, I think its a whl file which is in hummingbird_ml[extra] format for it pip requires an underscore to install giving a dash will give an e

[2020-10-11 05:37] saadhaxxan commented on #298
After verification, I have seen that the notebook statement with underscore also works fine and a statement with dash also does the same so nothing to worry about. Now it's all up to which you want an underscore or a dash 👍

[2020-10-11 15:56] ksaur commented on #298
Thank you for verifying @saadhaxxan!

[2020-10-11 15:56] #298 closed, assigned to nobody

[2020-10-13 00:01] #299 closed, assigned to nobody

[2020-10-13 06:00] sephib commented on #314
Do you mind if I publish `onnxconverter` and  `hummingbird.ml` to anaconda?

[2020-10-13 06:28] scnakandala opened #318 "Add support for Spark ML SQLTransformer"
Explore the possibility of adding support for Spark ML SQLTransfomer (https://spark.apache.org/docs/latest/ml-features.html#sqltransformer) in HB.

[2020-10-13 15:16] interesaaat commented on #314
Hey @sephib, I don't see any problem with that! Thanks! You might want to ask the `onnxconverter` folks if they are ok with it (for the `onnxconverter` side)

[2020-10-13 22:26] ksaur opened #320 "Integrate XGBoost support with ONNX-ML"
Similar to the [LightGBM converter integration](https://cloudblogs.microsoft.com/opensource/2020/09/29/accelerate-machine-learning-models-gpu-onnx-runtime-hummingbird/) which integrated Hummingbird into onnxmltools, integrate Hummingbird with the [XGBoost converter](https://github.com/onnx/onnxmltools/tree/master/onnxmltools/convert/xgboost).

The code will likely look somewhat similar to [the Lig

[2020-10-14 05:27] setuc opened #321 "How to persist Hummingbird Models?"
What is the recommended way to persist in Hummingbird models? Is pickle the recommended way?

[2020-10-14 15:27] ksaur commented on #321
Hi @setuc ! Hummingbird does not change the way the models are persisted, so no need to do anything different/special.

For example, if you convert a scikit-learn model to PyTorch, you would simply persist the converted model the same as any other PyTorch model. (ex: [PyTorch docs](https://pytorch.org/tutorials/beginner/saving_loading_models.html))

Hopefully this makes sense! If you have further/

[2020-10-14 15:27] #321 closed, assigned to nobody

[2020-10-14 17:18] interesaaat commented on #321
Let me elaborate a bit on this. I think this is actually a good question we somehow overlooked. As Karla mentioned, at the moment you can persist each model using the "native model way". For instance if you convert to pytorch you can do
`torch.save(your_hb_converted_model.model, path)`.

There are two problems with this:
- Users will have to implement save\load code specific for each target model

[2020-10-14 17:23] interesaaat opened #322 "Add save\load primitives to Hummingbird"
With the current design, saving and loading models has a couple of drawbacks (listed in #321). To overcome these we can add `save` and `load` primitives to HB.

A possibility is to have `save` and `load` as part of the package (as for `torch.save` and `onnx.save`) so that users can do `hummingbird.ml.save` for instance.

We should also have an option to save only the base model and not the contain

[2020-10-14 22:39] ksaur opened #325 "Doc automation"
In #107, we looked at automating our doc generation as part of our build, but removed it in #324 because it still requires pushing the html to a separate branch, and generally caused PRs to be larger than necessary with all of the HTML code.

Ideally we need a system that auto-generates and pushes the docs (maybe as part of our release process rather than every commit).

And we also need to revisi

[2020-10-15 04:35] interesaaat commented on #180
Hey @zhanjiezhu, we haven't heard from you in a bit, do you have any update?

[2020-10-16 11:26] Hemantr05 commented on #273
Hi @ksaur , none as of now.
Will be creating a PR in a couple of days.

[2020-10-18 23:09] #259 closed, assigned to interesaaat

[2020-10-19 20:46] interesaaat opened #335 "Move n_features from supported conf to internal"
`N_FEATURES` is not in `supported.py` but I think it should not be surfaced to users but just used internally (it is much easier to pass a test dataset rather than having specific configurations for the each algorithm).

[2020-10-19 21:19] interesaaat opened #337 "Add more test in test_extra_conf"
We should have at least one test for each of the available configurations. Now those tests are spread in different files.

[2020-10-20 03:37] #335 closed, assigned to nobody

[2020-10-20 22:27] interesaaat opened #338 "Add ability to inject Concat operators into models when shapes don't match"
Sklearn models accept single inputs. If you pass a pandas Dataframe, for instance, it will create a single input. We instead consider Dataframes columns as different inputs, e.g., if we pass a dataframe with 10 columns, we will consider it as 10 inputs. This works well for pipelines, but not for models requiring single inputs (e.g., trees).

One possibility is to have operators checking whether th

[2020-10-20 23:10] #305 closed, assigned to nobody

[2020-10-21 14:51] #219 closed, assigned to nobody

[2020-10-22 22:06] #315 closed, assigned to interesaaat

[2020-10-23 10:10] zhanjiezhu commented on #180
Hi @interesaaat, sorry for late reply, I was busy with daily work. Unfortunately I was not able to find a good balance between speed up and memory, I have managed to translate the algorithm 2 (calculated SHAP values are correct) into tensor computations, but I found out it involves an iterative calculation (i.e. the "EXTEND" function as mentioned in algorithm 2 of above paper) which I think is not

[2020-10-23 20:15] ksaur opened #344 "Weirdness with sphinx docs"
It seems that sphinx doc generation in HB works with torch==1.5 but not 1.6.

Several of the files (ex: `onnx_converter.py`, `iforest.py` get an error such as:

[code]

There are mentions around the `torch` forums on `has no attribute 'training`.    Ex: [this torch sample](https://github.com/blue-season/pywarm/issues/3).  In general, this error message seems nonsensical, as many of the errors occu

[2020-10-23 22:40] #316 closed, assigned to nobody

[2020-10-24 17:56] interesaaat commented on #180
Don't worry, no one else is working on it right now so it is still all yours. Now that we have torchscript and soon TVM for loops are ok if they are static because they will be unrolled. Anyway keep us posted if you have any further update. If you want us to look at the code you can open a draft PR. Up to you!

[2020-10-26 20:19] #325 closed, assigned to nobody

[2020-10-27 16:35] #317 closed, assigned to nobody

[2020-10-27 16:48] interesaaat commented on #10
Ok this should be fixed in pytorch 1.7 ([issue](https://github.com/pytorch/pytorch/pull/42004)).

[2020-10-28 00:20] scnakandala opened #346 "Sklearn KBinsDiscretizer fails with torch==1.7.0"

[2020-10-28 00:38] #346 closed, assigned to nobody

[2020-10-28 22:13] ksaur opened #352 "Bug in scikit-learn multinomial_naive_bayes?"
The tests for sklearn_multinomial_naive_bayes  are currently failing.  See #351

[code]

[2020-10-28 22:15] ksaur commented on #352
@scnakandala is this something you have time to take a look at? :)

[2020-10-28 22:42] interesaaat commented on #352
In the worst case we can increasing the abs error.

[2020-10-28 22:48] ksaur commented on #352
Yes, setting `atol=1e-5` to `atol=1e-4` fixes it, but wanted to make sure nothing else was off.

[2020-10-28 23:00] interesaaat commented on #352
Yep, agreed. This should be the last resort.

[2020-10-30 18:55] interesaaat commented on #344
@ksaur I think this was fixed, right? Can I close it?

[2020-10-30 18:58] interesaaat opened #356 "Training on XGB versions > 0.90 on Pandas breaks the converter"
When using XGBoost version > 0.90 over a pandas dataframe, the tree representation contains the column labels instead of indexes. This breaks our converter. A temporary workaround is to just train over numpy arrays, but on the long term, we should fix our tree-parser logic to address also this case.

[2020-10-30 20:30] ksaur commented on #344
Ah! yes, closing!

[2020-10-30 20:30] #344 closed, assigned to nobody

[2020-11-03 18:21] interesaaat opened #358 "Refactoring of the tests"
Some of the test files are getting quite long (e.g., `sklearn_decision_tree`). We should refactor them in a way that makes them more easy to parse.

[2020-11-03 22:18] ksaur commented on #232
closed with #236

[2020-11-03 22:18] #232 closed, assigned to interesaaat

[2020-11-04 22:52] ksaur commented on #138
done

[2020-11-04 22:52] #138 closed, assigned to nobody

[2020-11-09 18:36] #352 closed, assigned to nobody

[2020-11-09 18:37] ksaur commented on #352
Thank you so much @scnakandala !

[2020-11-10 22:48] Hemantr05 commented on #293
@ksaur Apologies for the delay.
Will resolve this by the end of the week.

[2020-11-10 22:48] Hemantr05 commented on #273
@ksaur Apologies for the delay.
Will resolve this by the end of the week

[2020-11-11 00:21] ksaur commented on #237
ORT 1.5 has been out for a few months now, so I revisited this.  It's available in [pypi](https://pypi.org/project/onnxruntime/)

I pulled from main in a fresh container with `pip install -e .[onnx]`, and i still get ORT==1.4.0.
[code]

In `setup.py`, we have `"onnxruntime>=1.0.0"`, so I'm a little surprised I didn't get the latest in Pypi.  Should we pin to `"onnxruntime>=1.5.0"` @interesaaat ?

[2020-11-11 00:41] interesaaat commented on #237
Thanks for doing this @ksaur, I completely forgot about this issue.

Yea it is strange that it didn't pull the latest ORT. And this is not even from the cache since it's a fresh container. In general I prefer to have the lowest supported version in the requirements, but I am ok with pinning to `1.5`, if we cannot find any other workaround.

BTW does the test work if we use ORT 1.5?

[2020-11-11 01:01] ksaur commented on #237
I learned the reason I was getting ORT==1.4.0 is that 1.5.1 requires an update to a newer version of `pip`.  That makes me a bit cautious about pinning to `onnxruntime==1.5.x` just yet because I don't want to break other things...but maybe it's ok.

All of our existing tests pass with the new ORT, but I still get an error with the above code snippet.

Investigating. :)

[2020-11-11 01:45] ksaur commented on #237
We have tests for `boosting_type='rf'` in `test_lightgbm_converter.py` but not `test_onnxml_lightgbm_converter.py`, and for this example we need the latter (to call `convert_lightgbm`).

In this [test case i wrote](https://github.com/microsoft/hummingbird/commit/ce819c1d8ddbbbb39f95c86684188b1a492be51f), it fails with:
[code]

Also, I had to add a check on the way we determine shapes in `tree_ense

[2020-11-11 01:51] interesaaat commented on #237
I don't think we are missing a converter. Maybe that current onnx converter get mislead from the fact that lightgbm is a gradient boosting alo but it generates a random forest model. The tree implementations are ok since the convert works if we pass as input the lightgbm model directly, so I think it is something related to how the onnxmltool lightgbm converter translates the lightgbm model in an

[2020-11-11 08:54] ereide commented on #273
Just came over this library. Great initiative. However I second that there is a bug in the polynomial transformer:

This code runs, but does not evaluate the test at the bottom to true, it looks like something is up with the polynomial features.

[code]

[2020-11-11 14:34] Hemantr05 commented on #273
@ereide working on fixing the same.

[2020-11-11 16:56] ksaur commented on #273
Hi @ereide  Welcome!

Thanks for reporting this!  PolynomialFeatures is only partially implemented, so yes it is very likely that there is a bug.  Thanks for this example! We will use it in our testing.

[2020-11-13 18:11] speedfreakw opened #362 "sklern RandomForestRegressor with multiple regression targets dosnt seem to be supported"
I'm trying to convert an sklern RandomForestRegressor that predicts multiple targets to PyTorch, but it doesn't seem to work or at least Hummingbird does not support this yet, which is not noted in the "supported" section.

If I'm running the following example with only one target (**n_targets = 1** ) everything works as intended:

[code]

but if I change the Targets to **n_targets = 2**, I get th

[2020-11-13 18:19] interesaaat commented on #362
Hi @speedfreakw, thanks for finding this. Yes, we currently don't support multiple regression targets. Do you want to give it a shot?

Another thing that I noticed is that the error returned is not that helpful, we should improve on that too.

[2020-11-13 18:50] speedfreakw commented on #362
Hi @interesaaat, thanks for the information!
Unfortunately I don't have the time to give it a shot myself at the moment, as I am working on my master thesis right now.

[2020-11-13 19:05] interesaaat commented on #362
How badly do you need this feature? I can try to see if I can fix it quickly (although I don't think it will be an easy fix).

[2020-11-13 19:17] speedfreakw commented on #362
I have not yet found an alternative. So it would be really awsome if you could see if you could fix it quickly. My problem is that the sklern-model is very bad at making a single prediction quickly (takes about 230ms) and I want to use it for realtime processing of depth images. So I need to cut the processing time below 30ms somehow.

[2020-11-13 19:17] zhanjiezhu commented on #180
![Screenshot 2020-11-13 at 17 41 05](https://user-images.githubusercontent.com/18643459/99111467-7e83ab80-25ec-11eb-96e4-f64aaffbf38a.png)

@interesaaat: A quick update about using Hummingbird for SHAP, I just realised that for KernelExplainer we can simply pass in the prediction function of the Hummingbird model object. This already offer quite many speed ups (in above case 30 times faster) becau

[2020-11-13 19:24] speedfreakw commented on #362
I could also try to train 6 separate RandomForests (I need 6 targets), which I could convert to PyTorch and see if the total processing time of these 6 is less than if I use a single sklern random forest

[2020-11-13 19:43] interesaaat commented on #362
You will have to call the models in parallel somehow. If you have GPU, also doing inference sequentially should be ok.

[2020-11-13 19:52] speedfreakw commented on #362
I will try that tomorrow.
I also just noticed that there appears to be a bug if I try to assign the model to the GPU. I will open an seperate Issue with on that later.

[code]

[2020-11-13 21:14] scnakandala commented on #180
@zhanjiezhu Nvidia RAPIDS recently released a GPUTreeShap variant implementation (https://github.com/rapidsai/gputreeshap, https://arxiv.org/pdf/2010.13972.pdf). Maybe as a starting point, you can check whether you can implement that algorithm purely using tensor ops instead of writing cuda code.

[2020-11-13 21:21] zhanjiezhu commented on #180
@scnakandala: many thanks for the links, very interesting. For implementing TreeShap using tensor ops, I've tried that before but failed. Will look into their paper and implementation.

[2020-11-13 21:56] interesaaat commented on #362
Yea this should work. I think the `to` function got removed inadvertently in some PR.

[2020-11-14 00:19] masahi opened #363 "[Benchmark] Support XGBoost GPU prediction and remove large CPU overhead in benchmark timing"
XGB supports GPU prediction, so we should be able to compare XGB GPU perf and HB + GPU on Torch, TVM.

Also, I found that there is a large CPU overhead in how prediction results are stored in the `predictions` array.
https://github.com/microsoft/hummingbird/blob/main/hummingbird/ml/_container.py#L103-L115

Before the benchmarking script was merged to the main branch, `predictions` array was preall

[2020-11-14 16:05] speedfreakw opened #364 "Unable to allocate model to GPU"
I'am getting a error if Iam trying to allocate models to a Cuda GPU

Iam using:
Python 3.8
PyTorch 1.7.0 + Cuda 11.0
SciKit-lern 0.23.2
Hummingbird 0.1.0

Windows 10 v2004
Nvidia RTX 3080

Here is a short code snipped that I run:
[code]

At the line `model = model.to('cuda')` I get the following error:

if I step down to **Hummingbird 0.0.6** I get a basicly the same Error at the subsequent line:

[2020-11-16 19:58] #364 closed, assigned to nobody

[2020-11-20 22:32] masahi opened #368 "Batch inference API for backends that require fixed batch size (TVM)"
TVM backend requires a fixed batch size specified at convert time. Currently, hummingbird uses [_run_batch_inference](https://github.com/microsoft/hummingbird/blob/main/hummingbird/ml/_container.py#L89) function to run prediction on test data whose batch size is bigger than the batch size TVM is compiled for.

`hb_model.predict(test_data)` is supposed to work the same way as sklearn does, and that

[2020-11-24 01:53] interesaaat commented on #368
I like this idea. Another problem with the current setup is that if the final prediction size is bigger than memory, we will fail. With this proposal we can solve also this issue as well as the performance problem.

One minor point that I need to think about is the `predict_batch` API. I am not 100% sure that having a different signature will help here. I am a bit worried that we will add a techni

[2020-11-24 03:01] masahi commented on #368
I prefer following sklearn API convention, so that `predict(...)` always return an array. I imagine, returning a list of prediction is already confusing to users, so having a new, dedicated API (`predict_batch` or whatever) would be less surprising.

So if users use this new API, we can assume that users know what they are doing. Returning a list of array, although awkward, should be no brainer in

[2020-11-24 13:02] smilenrhyme opened #370 "MissingConverter : Unable to find converter for model type <class 'sklearn.pipeline.Pipeline'>"
Getting below error : Is this expected, please assist. thanks a lot !!

`` **MissingConverter**                          Traceback (most recent call last)
<ipython-input-283-85599cede8e0> in <module>
----> 1 h_model = convert(pi_clf_pipeline, 'pytorch')

/venv/lib/python3.6/site-packages/hummingbird/ml/convert.py in convert(model, backend, test_input, device, extra_config)
    393         return _

[2020-11-24 15:30] ksaur commented on #370
Hi @smilenrhyme ! Can you please share some of your code that you used to create the model/pipeline?  That will help us understand a bit more about what `"Parameter model must be an object not a " "string '{0}'.".format(model)` might mean for example.

[2020-11-24 18:10] scivm opened #371 "Feature request: extensibility framework"
We have sklearn pipeline operations such as changing columns to lowercase, extracting columns, sorting columns, string cleaner , NA filler, etc.

Hummingbird errors out on first one that lower case of column names (self._cols_to_lower(X)).  I am assuming we need to implement converters for these ourselves.   Is there some example for these simple cases?

Unable to find converter for model type <cl

[2020-11-24 18:26] ksaur commented on #371
Hi @scivm !  I don't see `ColumnNameLowerizer` as an SKL operator.  Is this a function that you wrote yourself and added to your SKL pipeline manually?

Can you please share some of your code that you used to generate the model?  That will help us troubleshoot.

[2020-11-24 19:36] scivm commented on #371
Thanks.  It is a simple custom function added to the skl pipeline that changes columns to lowercase.    There is a series of similar standard operations such as extracting columns, sorting columns, string cleaner.

[code]

[code]

[2020-11-24 22:33] ksaur commented on #371
Thanks for posting this!  So far, we have focused only on strict onnx or sklearn pipelines.

This example highlights an important limitation in our setup.  I'll change this to a feature request for us to add extensibility framework.

For now, the only way to make your code work is to either change your code to not need this additional pipeline step, or to implement a converter manually (which woul

[2020-11-25 00:44] interesaaat commented on #368
One problem I have with the different API is its usage wrt convert and the `batch_size` parameter. Like if in `convert` someone passes `batch_size` the expectation is that the prediction will do batching, but this won't happen if the user picks `predict` instead of `predict_batch`. Similarly, if no `batch_size` is passed at convert time, still a user could pick `predict_batch`, i.e., because they

[2020-11-25 01:55] masahi commented on #368
ok let's do `convert_batch` then. So if a user uses the plain `convert` with TVM backend, the compiled model can only `predict` on the dataset whose #of rows is the same as `test_input`. I think this is the majority of use cases and this is what we should advertise as the recommended usage. We never have to mention `batch_size` stuff in `convert` API, to keep it clean and simple. I like that.

May

[2020-11-25 02:15] interesaaat commented on #368
At least we converged for one aspect :smiley:.

I think you have a good point regarding `test_input`. Right now we are passing the full dataset because (1) we need to compute the remainder (that's why `batch_size` alone won't help) and (2) we need to know the number of features. One possibility is to ask for `trace_input` to be `some_multiple_of_batch_size + remainder_size` and then have `batch_si

[2020-11-25 02:26] masahi commented on #368
Well if we assume that users can calculate `remainder_size`, then why not simply ask
* `trace_input` (`batch_size` x num feature) array
* `remainder_size` (an int smaller than `batch_size`, maybe default to 0)

?

If `remainder_size` is > 0, we create `remainder_model`. From `trace_input` and `remainder_size`, we can create `remainder_trace_input`.

This is the minimal and necessary info to enable

[2020-11-25 03:47] interesaaat commented on #368
You are right. Remainder will always be smaller than batch_size so that we can trace using the trace_input also over remainder. Yep.

[2020-11-26 02:03] masahi commented on #368
Ok I'll work on the implementation next week.

[2020-11-26 02:05] masahi commented on #363
XGB gpu support is added in https://github.com/microsoft/hummingbird/pull/369

More discussion to continue in https://github.com/microsoft/hummingbird/issues/368

[2020-11-26 02:05] #363 closed, assigned to nobody

[2020-11-27 14:51] smilenrhyme commented on #370
Hi @ksaur , Thanks a lot for the quick response :)

Sorry for delay in the reply. Below is the code in brief

[code]

=> This is failing
convert(pipeline, 'pytorch')

=> This is working fine when I extract only ligtgbm model from pipeline
lgbm_model = pipeline.named_steps['learner']
h_model = convert(lgbm_model, 'pytorch')

Note : hummingbird-ml==0.1.0

Please let me know if you need other details

[2020-11-27 18:48] ksaur commented on #370
Hi @smilenrhyme  Thanks for posting this so we have another datapoint! We don't yet support custom classes inside pipelines, (and I also think we don't support nested pipelines) so the error you're getting is expected as of right now.

This issue is similar to the recently posted #371 feature request.  This is on our list of things to implement!

[2020-11-28 11:30] smilenrhyme commented on #370
@ksaur Thanks a lot 👍 Closing this issue for now :)

[2020-11-28 11:30] #370 closed, assigned to nobody

[2020-11-29 13:16] ThomasWolf0701 opened #372 "Numpy install error"
I tried to install hummingbird with pip and it tried to downgrade numpy to an old version, and gives an error.

Would it be possible to install via conda ?

WARNING: Error parsing requirements for numpy: [Errno 2] No such file or directory: 'c:\\users\\thomas wolf\\anaconda3\\envs\\my-rdkit-env\\lib\\site-packages\\numpy-1.19.4.dist-info\\METADATA'
Installing collected packages: numpy, onnx, onnxc

[2020-11-30 01:20] ksaur commented on #372
Hi @ThomasWolf0701 ! We don't currently have hummingbird in conda (see #314).

I think the easiest way to install Hummingbird if it conflicts with an existing `numpy` installation would be to create a fresh virtual environment.  Does that work for you?

[2020-11-30 23:51] ksaur opened #373 "Document and write examples for working with our hb model containers (wrappers)"
In working on #226 , I tried to run some of the user-code:

[code]

which, with our latest updates (since that issue was posted) gives:
[code]

To fix this, we need to access the model with `.model`:
[code]

This is fine, but we need to add this to the documentation to not confuse users.

[2020-11-30 23:59] interesaaat commented on #373
Yes documentation on the container topic is quite lagging.

[2020-12-08 16:22] ValentinMuhr opened #380 "sklearn RandomForestClassifier with random_state=42 breaks conversion"
Hi,
I tried to convert a sklearn RandomForestClassifier model to PyTorch.
The parameter random_state seems to break the conversion process when set to '42'.
I have tried different random_stat values and they all worked well, except form '42'.

    def random_forest(X_train, y_train, jobs):

        clf  = RandomForestClassifier(criterion="entropy", min_samples_split=2, random_state=42, n_jobs=jobs

[2020-12-08 16:25] ValentinMuhr commented on #380
Edit: It seems that not only '42' creates this issue but also other values.
But still some values work fine.

[2020-12-08 16:26] interesaaat commented on #380
Thanks @ValentinMuhr for reporting this. This is clearly a bug. The problem is that with some `random_state` some tree in the forest will be empty, and this breaks conversion. We had few test cases for this already, but apparently they are not covering all cases! Will send a fix soon.

[2020-12-08 17:26] interesaaat commented on #380
@ValentinMuhr any chance you can replicate the error with a random dataset (or the ones provided in Sklearn)?

I tried with this test and I cannot replicate the error.
[code]

[2020-12-13 15:22] speedfreakw opened #388 "Type Error when using a Pipeline with StandardScaler and PCA (+RandomForestRegressor)"
I'am getting a type error if I'm trying to use an Pipeline consisting of an StandardScaler, an PCA and an RandomForestRegressor.

The prediction before converting the model to pytorch works fine, but after converting it to pytorch the prediction raises an type Error.

Here is the short code snipped that I run:
[code]

At the line `prediction = model.predict([[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0

[2020-12-13 17:07] interesaaat commented on #388
Thanks for reporting this. We recently merged a PR dealing with doubles, and perhaps we introduced this bug. I will take a look, seems an easy fix.

[2020-12-14 00:35] memeplex opened #389 "Support lightgbm >= 3"
setup.py requires lightgbm < 3, I'm using the current version of lightgbm so hummingbird reports that it's not installed. Is there any blocking incompatibility or is it just that the requirement version is out of date?

[2020-12-14 00:37] memeplex commented on #389
Not the same, but related https://github.com/microsoft/hummingbird/issues/282

[2020-12-14 00:41] interesaaat commented on #389
I think we just didn't test it with >= 3. We found #282 when we tried with v3. As far as I remember this was the only problem, so beside random forest it should just work.

[2020-12-14 00:44] memeplex commented on #389
That was fast! It's weird that it is complaining that lightgbm is not installed then, but if you say it should work I will give it another try and let you know, thanks!

[2020-12-14 00:51] interesaaat commented on #389
I saw warning that the version is not supported etc., but not real errors. So if the complaining is just a warning, I think it should work. Otherwise if you installed from source, you can just change `setup.py` and remove the `<3` for lightgbm.

[2020-12-14 00:56] memeplex commented on #389
Ok, another similar issue is that it wants to downgrade numpy from 1.19.4, do you think it would be a problem if I keep 1.19.4, now that I'm in the business of forcing dependencies?

And even more OT: currently I'm using onnxtools, which is compiling to the tree ensamble operator (in the ML set) that is later evaluated by onnx runtime (C++ code that more or less straightforwardly evals the ensambl

[2020-12-14 01:15] memeplex commented on #389
Ok, I've been trying again, this was my test code:

[code]

`convert_lightgbm` in onnxtools works fine, but both attempts to convert using hummingbird failed:

1. onnx backend:

[code]

2. pytorch backend:

[code]

Maybe this is related to lightgbm version, maybe not, but I have no clue.

[2020-12-14 03:24] interesaaat commented on #389
This is with lgbm 3.0m right? I am worried that to return that error they changed the encoding of the tree. I will take a look.

BTW, Hummingbird is already integrated with onnxmltools and the lgbm converter. You can translate into onnx op sets by using the flag `without_onnx_ml=True` (but I guess it will not work because of a similar exception as above).

Regarding the performance, are you testin

[2020-12-14 03:41] memeplex commented on #389
I know but it has not been released yet and I am stuck with the stable release for now.

I'm using CPU right now but part of what I'm trying to do is testing GPU performance. About 100 trees with 4-5 depth, pretty standard ensamble.

I'm not in my computer but lgb version is the latest stable one, I believe 3.1 or so. Definitely > 3.

Thanks for the advice.

[2020-12-14 05:16] ksaur commented on #389
Regarding `Ok, another similar issue is that it wants to downgrade numpy from 1.19.4`; as far as I know this works.  Other users have mentioned issues about the numpy downgrade (#372 ), and I  *think* it is ok since for now you're already `in the business of forcing dependencies`  :-D  Please let us know if you have issues with that!

[2020-12-14 15:22] memeplex commented on #389
@interesaaat one thing I should have mentioned is that the example above uses categorical variables, maybe they are not supported by hummingbird?

AFAICS lightgbm encodes the split subsets like `n1||n2||n3||..||nk` and one of the errors I get when trying to convert the ensamble is like:

[code]

Looking at the onnx tree ensamble operator specification I don't see direct support for such stuff, all

[2020-12-14 15:28] memeplex commented on #389
Also the comparison is codified as `==` in those cases:

![image](https://user-images.githubusercontent.com/2845433/102100001-b195a680-3e07-11eb-9514-fc84250dc286.png)

So only by inspecting the threshold it is possible to recognize it is a set operation and not simply numerical equality.

[2020-12-14 15:45] memeplex commented on #389
Here is something about onnx (and onnx tools) not supporting that feature: https://github.com/onnx/onnxmltools/issues/309

[2020-12-14 17:30] interesaaat commented on #389
Ah-ha! This explain the error. Yes, neither onnxmltools nor Hummingbird (#245) support categorical values in the trees, yet. Do you want to give it a shot? :)

The easy way would be to add a one-hot encoder right before the tree, but perhaps we can do something better. We already convert strings into 2d tensors of numbers, perhaps we can use a similar trick here.

[2020-12-14 18:34] memeplex commented on #389
For onnx / onnxmltools maybe the way to go is to add support for set membership in the operator definition itself and implement it in the runtime in a straightforward way.

Could you expand on this a bit more?

[2020-12-14 22:24] #368 closed, assigned to nobody

[2020-12-14 23:38] ksaur commented on #372
closed with #390

[2020-12-14 23:38] #372 closed, assigned to nobody

[2020-12-15 17:59] #388 closed, assigned to interesaaat

[2020-12-15 19:51] speedfreakw opened #393 "Runtime Error running HistGradientBoostingRegressor on GPU"
I'm getting an Runtime Error, if I'm trying to run an HistGradientBoostingRegressor on an CUDA GPU.

Here is the short code snippet that I run to produce this Error:
[code]
At the line `prediction_pt_gpu = model.predict([[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]])` I get following Error:

Full Traceback:

[2020-12-15 20:01] interesaaat commented on #393
Interesting. I am worried that for some reason the data is not transferred to GPU. Let me test it and I will get back to you. If you do `model = convert(clf, 'pytorch', device='cuda')` does it work?

[2020-12-15 20:18] speedfreakw commented on #393
No that also doesn't work. Same error

[2020-12-16 00:09] interesaaat commented on #393
I found the problem. I am sending a PR right now.

[2020-12-16 01:44] speedfreakw commented on #393
When using the extra_config `{"tree_implementation": "gemm"}` or `{"tree_implementation": "perf_tree_trav"}` the Error still remains. But the extra_config `{"tree_implementation": "tree_trav"}` which is the default works now.

`model = convert(clf, 'pytorch', extra_config={"tree_implementation": "gemm"})`
`model = convert(clf, 'pytorch', extra_config={"tree_implementation": "perf_tree_trav"})`

[2020-12-16 18:54] #393 closed, assigned to interesaaat

[2020-12-16 18:55] ksaur commented on #393
Hi @speedfreakw, thanks so much for finding all of these! Please let us know if this doesn't work or if you run into more issues!

[2020-12-16 20:52] speedfreakw commented on #393
I am the one to thank. The speed with which you have fixed all the bugs I've found is incredible! Furthermore, Hummingbird is an amazing converter and helps me a lot with my master thesis!

[2020-12-16 21:03] interesaaat commented on #393
I was hoping for "The speed ~~with which you have fixed all the bugs I've found~~ of Hummingbird is incredible!" 😄 .

Glad to hear we helped!

[2020-12-16 21:31] speedfreakw commented on #393
Haha yes the speed of Hummingbird is also incredible 😄 Currently it cuts the time of the Prediction from 400ms to only 22ms and this is huge!

[2020-12-18 00:42] ksaur commented on #160
closed via #374

[2020-12-18 00:42] #160 closed, assigned to ksaur

[2020-12-21 20:48] ogencoglu opened #398 "Support for catboost"
`catboost` support would be fantastic.

[2020-12-23 14:06] shoegazerstella opened #400 "Add support for sklearn.multioutput.MultiOutputRegressor"
Hi,
Just asking if you have plans for supporting `sklearn.multioutput.MultiOutputRegressor` in the near future.
I get this error when I try to convert my model:

[code]

thanks a lot!

[2020-12-23 17:11] ksaur commented on #400
Hi @shoegazerstella!  Thanks for posting this! I will add it to the list of [requested operators](https://github.com/microsoft/hummingbird/wiki/Roadmap-for-Upcoming-Features-and-Support#other-features-requested)! :)

[2020-12-23 23:50] #322 closed, assigned to nobody

[2020-12-30 18:53] interesaaat opened #406 "Refactoring of the containers"
The container file is getting bloated. I think it is time to divide it into different files and do some refactoring.

[2020-12-30 22:36] #406 closed, assigned to interesaaat

[2020-12-30 23:25] interesaaat opened #411 "TVM does not work with string"
I tried to run `LabelEncoder` and `OneHotEncoder` using TVM and it breaks. I think `OneHotEncoder` should work, but for `LabelEncoder` we need TVM VM.

[2021-01-02 15:37] speedfreakw opened #412 "pip install of Version 0.2.0 dosen't work"
I try'd to install the new hummingbird 0.2.0 release in a new venv and the installation failed because the hummingbird wheel specified a pytorch version that seems to have a broken wheel or the hummingbird wheel is missing the full pytorch installation command (which is: `pip install torch===1.7.0 torchvision===0.8.1 torchaudio===0.7.0 -f https://download.pytorch.org/whl/torch_stable.html`). It's

[2021-01-03 17:45] interesaaat commented on #412
Interesting. Thanks for reporting this. Apparently something happened to torch over the break because on the 31st the pipeline was working. We will investigate on Monday.

[2021-01-03 19:28] ksaur commented on #412
I tried pip-installing our `0.2.0` release just now in a new Linux container (with `torch-1.7.0-cp37-cp37m-manylinux1_x86_64.whl`) and had no issues, so maybe this is specific to Windows.   Can you please confirm @speedfreakw ...was this on windows (I see "win_amd64" so I'm assuming yes)?

I noticed there is a [stackoverflow post](https://stackoverflow.com/questions/65191751/error-torch-has-an-inv

[2021-01-03 20:06] ksaur commented on #412
The [pipeline passed](https://github.com/microsoft/hummingbird/runs/1640585951) again just now on Windows with Python 3.7 with:
[code]
but this is the `+cpu` version of torch, as the pipeline does not have GPU's unfortunately!!

What version of CUDA do you have?

[2021-01-04 13:00] speedfreakw commented on #412
Yes Iam using Windows 10 64-bit an
I have to use Cuda 11.0+ as my RTX 3080 dosen't support CUDA 10. But the installation of Pytorch with Cuda 10 should pass on my PC anyway.

I tryed some different install commands  to see whats working and whats not:
`pip install torch===1.7.0 -f https://download.pytorch.org/whl/torch_stable.html` - works
`pip install torch===1.7.0+cu110 -f https://download.pytor

[2021-01-04 14:41] EdgarMCR opened #413 "PyTorch `predict_proba` does not match original SGDClassifier model"
I have been trialing using hummingbird to convert a [SGDClassifier ](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.SGDClassifier.html) with  modified_huber loss to a PyTorch model.

The predictions of the converted model match the original (and it was amazingly easy to convert, really awesome).

However, calling `predict_proba` the output does not match. Its a factor of 10

[2021-01-04 17:27] interesaaat commented on #412
I think is more a problem with pypi then with Hummingbird. By default for windows machines probably torch picks the cu102 version which does not work in your case. The correct way of installing Hummingbird is to first get the desired pytorch version, and then install Hummingbird. If you go with Hummingbird first, you are basically doing `pip install torch` which may not work in some cases (althoug

[2021-01-04 17:28] #412 closed, assigned to nobody

[2021-01-04 17:28] ksaur commented on #412
Thanks for the info. We didn't change anything related to the torch installer, so I am not sure if it is a change on their (pytorch) end.  In the ticket you mention that this is a new problem with pip install of hb `0.2.0`...do older versions of hb (ex `0.1.0`) still work on your machine without issue?  I think your problem is related to the pypi/torch installer.

A workaround might be to just ins

[2021-01-04 17:35] interesaaat commented on #413
Thanks for reporting this. We haven't tried with this loss so maybe something funky is happening (for SGD I believe we use float and not double, so maybe we are loosing something because of rounding errors, but 10x looks like a lot, so maybe something else is happening)

[2021-01-04 19:06] interesaaat commented on #413
I just figured that we don't support `modified_huber` loss. I am working on adding it.

[2021-01-04 19:16] speedfreakw commented on #412
Installing Version 0.1.0 of Hummingbird is also not working.
Yes it seems that the pipy Version 1.7.0 of Pytorch is broken on Windows which is set as fixed reqirement in Hummingbird. The pipy Version 1.7.1 or 1.6.0 of Pytorch works without a Problem.

First trying, I had preinstalled the Version 1.7.1 of pytorch and then tryed to install hummingbird, but the hummingbird pip package automatically u

[2021-01-04 19:24] interesaaat commented on #412
This is because we haven't update Hummingbird to 1.7.1 yet, and v0.2 at most supports 1.7. We will add support for 1.7.1 soon, but it will take a bit until we roll a new version of hummingbird with 1.7.1 support to pypi. @ksaur, perhaps we can have a v0.2.1 with added support for pytorch 1.7.1.

[2021-01-04 20:16] EdgarMCR commented on #413
Wow, I am blown away by your speed! Thank you very much

[2021-01-04 22:20] ksaur commented on #412
Confirmed that `pip install`  pulls `torch-1.7.1` with the `hummingbird-ml==0.2.1`, so hopefully this avoids the downgrade on hb install! :)

It's not ideal that we have to keep tracking new torch versions, but when we allowed `torch<1.4.0` we got all kinds of unexpected breaking changes/perf regressions, so the incremental approach seems less disruptive at least for now.

[2021-01-04 23:38] speedfreakw commented on #412
Isnt it also possible to specify only a minimium version in the requirements instead of an specific version? Newer Versions should not break old conventions if properly coded. Both variants have theire own advantages and disadvantages. Manualy updating is a lot of work but ensures that it works all the time. A minimum version is much less work and works a long time until it breaks, but it will bre

[2021-01-04 23:46] interesaaat commented on #412
Thanks for the suggestion @speedfreakw! What you are suggesting is the solution we were having before, and we found that pretty much any new pytorch release break something. This was annoying because then the version on pypi remained broken until the next release. While our current solution is suboptimal, at least it is not breaking every time a new pytorch release arrive and we smoothly add suppo

[2021-01-04 23:56] speedfreakw commented on #412
Oh alright so pytorch has a habit of changing a lot of things they maybe shouldn't or at least should not change in the minor versions :D Otherwise you could at least use torch==1.7.* to skip updating the minor version manualy.

[2021-01-05 00:18] ksaur commented on #412
Yes, using something like ` torch==1.7.*` was how we got in trouble last time.  Thanks for the suggestion, but I think we'll stay as-is.

And yes, haha, I am indeed _very_ familiar with how to specify min versions! :)

[2021-01-05 01:52] #413 closed, assigned to interesaaat

[2021-01-07 01:03] ksaur opened #420 "Bug in `save` code"
I ran into a bug today when trying to export some onnx models to torch.  (See models and script [here](https://github.com/microsoft/hummingbird/tree/kasaur/onnxmodel/tests/models)).

[code]

It seems there is a similar [issue](https://github.com/tensorflow/tensorflow/issues/31421) with saving tensorflow models.

[2021-01-07 01:46] KIIIIK opened #421 "Did it supports KNN and SVR?"
if i use sklearn KNN training my model , it takes too long, so i want to know weather i can use this lib to fit my model

[2021-01-07 01:56] ksaur commented on #421
Hi @KIIIIK

Hummingbird only works for inference/scoring...you must have created and trained the model ahead of time in scikit-learn before converting.  For inference, we do support SKL's KNN: KNeighborsClassifier and KNeighborsRegressor (list of supported operators is [here](https://github.com/microsoft/hummingbird/wiki/Supported-Operators#classifiers-other)).

If the inference case is useful to

[2021-01-07 01:56] #421 closed, assigned to nobody

[2021-01-07 02:35] KIIIIK opened #422 "RuntimeError: Hummingbird requires explicit specification of batch_size parameter when compiling KNeighborsClassifier"
`from hummingbird.ml import convert
knn_model = KNeighborsRegressor()
model = convert(knn_model, 'pytorch')
model.to('cuda')
model.fit(X_train, y_train)`

this code is error, where i should add batch_size ?what should i do ?thanks

[2021-01-07 06:04] KIIIIK opened #423 "fit and convert"
In sklearn, my model fit is too long(such as KNN).I want to use this lib. But i find it must fit before convert. If i want to sppedup fit, what should i do ,please!
Can i convert first and then fit?

[2021-01-07 17:36] interesaaat commented on #420
On it!

[2021-01-07 23:55] rjboczar opened #424 "Converting RandomForestClassifier throws errors for small n"
When trying to convert a RandomForestClassifier, it seems that with with n \< d or n only slightly \> d, there are some issues converting it (maybe due to "degenerate" trees?)
[code]
Throws the warning

  values = np.array([np.array([0.0]), values[0], values[0]])

and the error message

[code]

[2021-01-08 00:16] interesaaat commented on #424
Yes this is because of degenerate trees. Working on it.

[2021-01-08 00:56] #420 closed, assigned to interesaaat

[2021-01-08 00:58] interesaaat commented on #422
Hi! In this specific case you can do something like (if you want a batch size of 10):
[code]

[2021-01-08 01:17] #424 closed, assigned to interesaaat

[2021-01-08 01:57] scnakandala commented on #423
@KIIIIK Can you provide us an example code snippet to recreate your problem? We can then have a look into what we can do from the Hummingbird side to optimize your pipeline.

[2021-01-13 00:09] #264 closed, assigned to nobody

[2021-01-13 22:27] #400 closed, assigned to nobody

[2021-01-13 22:28] interesaaat commented on #362
Closed in #430.

[2021-01-13 22:28] #362 closed, assigned to nobody

[2021-01-14 18:57] interesaaat opened #431 "Add support for MLFlow as input model type"

[2021-01-26 05:25] luisquintanilla opened #433 "[ONNX Converter] Allow for specification of ONNX Initializers"
I have a regression model trained and converted to ONNX using ML.NET.  When I take the ONNX model and try to optimize it using Hummingbird I get an error because of incompatible operators / data types.

Given the following Python code:

[code]

The result is the following.

[code]

It's unclear how to specify ONNX Initializers. I see [how it's done in sklearn](https://github.com/microsoft/hummingb

[2021-01-26 17:50] interesaaat commented on #433
Thanks @luisquintanilla for reporting this. I think that the problem is that we don't currently support strings from onnx models. With sklearn models we do, so it is just a matter of enabling this. I will work on this.

[2021-01-26 18:58] luisquintanilla commented on #433
Thanks for the quick response @interesaaat . I'll give it another try using only numerical values to check whether I run into the same issue.

[2021-01-26 21:15] luisquintanilla commented on #433
No luck using only numbers, here's the updated code.  and model. In this case, I think the issue is, the Label column. I'm using a label encoder because although it's a number, it's a categorical value.

Code:

[code]

Console Output:

[code]

Model attached

[iris-classification.zip](https://github.com/microsoft/hummingbird/files/5876118/iris-classification.zip)

[2021-01-26 21:35] luisquintanilla commented on #433
Tried it using a regression sample all with numerical values and got the following:

Code:
[code]

Console output:

[code]

Model attached:
[real-estate-price.zip](https://github.com/microsoft/hummingbird/files/5876274/real-estate-price.zip)

[2021-01-27 01:44] interesaaat commented on #433
@luisquintanilla is it possible to export the models such that only the actual model that needs to be evaluated is contained into the onnx file? I see that this models contains different separate graphs for labels, etc and I think this is what is creating problems.

[2021-01-27 15:19] luisquintanilla commented on #433
@interesaat. I'm not sure, but definitely something I can look into.

[2021-01-28 05:34] masahi opened #434 "[-1] is treated as "non trivial missing value""
The following trivial program using TVM backend doesn't finish compiling, with the latest main.
[code]

I did bisect and found that after the commit https://github.com/microsoft/hummingbird/pull/419 that added missing value support, the infinite compilation time began to happen.

I don't know what's causing TVM troubles, but one thing I found was that after https://github.com/microsoft/hummingbird

[2021-01-29 22:05] #434 closed, assigned to nobody

[2021-02-02 07:35] masahi opened #436 "Missing value support brought perf regression"
I'm working on a blog post for HB + TVM, and I found that the PR https://github.com/microsoft/hummingbird/pull/419/ brought big perf regression compared to the benchmark results I had two months ago.

For example, here is the GPU result on `year` dataset, before and after https://github.com/microsoft/hummingbird/pull/419/. I'm seeing similar regression on other dataset as well, and pytorch results

[2021-02-02 17:00] ksaur commented on #436
Thanks for the reminder. It's on our todo list (#271) and we are always happy for volunteers! :)

[2021-02-02 17:02] interesaaat commented on #436
@masahi can you please try with commit 94b584b87bd4ae4374f1c9828a418df201eca62f? If the performance are good with that commit we can do the revert and investigate the performance problems, but we need to be sure that the problem is created by that commit.

[2021-02-02 18:41] masahi commented on #436
Yes, I bisected it and the Before number above is from https://github.com/microsoft/hummingbird/commit/94b584b87bd4ae4374f1c9828a418df201eca62f

Ideally we want a design where missing value support is factored into a single class, and turning it on or off can be done by swapping in or out that class.

[2021-02-03 01:11] #436 closed, assigned to nobody

[2021-02-03 01:14] ksaur commented on #436
This autoclosed.  Please confirm fixed and we'll reopen if not!

[2021-02-03 01:33] masahi commented on #436
@ksaur yes it fixed it, thanks for quick action! @interesaaat

[2021-02-03 17:16] interesaaat commented on #433
Hi @luisquintanilla, were you able to look into it? Otherwise I will start with your models and see how I can remove unnecessary operators within Hummingbird.

[2021-02-04 21:41] luisquintanilla commented on #433
Hi @interesaat,

Unfortunately I didn't get a chance. I might be able to tackle this sometime in the next two weeks.

[2021-02-04 22:32] interesaaat commented on #433
Thanks @luisquintanilla. Please keep us posted.

[2021-02-11 01:57] ksaur opened #440 "Better error message needed on missing input"
With PR #439, I ran into an issue. In converting onnx models, forgetting to provide input gives an unhelpful error message.

Code:
[code]

If you leave the **`X`** out like **`onnx_model = convert(model, "onnx")`**, the error message is misleading:

[code]

We should clean this up so it's clear the user just needs to pass in some text input.

[2021-02-18 20:52] #440 closed, assigned to nobody

[2021-02-22 21:50] scnakandala opened #447 "Simplify the Discretiser logic"

[2021-02-23 17:49] #447 closed, assigned to nobody

[2021-03-04 15:42] amirhszd commented on #423
I am having the same problem, the introduced pipeline calls for a fit sk-learn model, I am interested in using an untrained sk learn model and fit my model using Hummingbird. If an untrained model is passed to hummingbird below error is the ouput:

`AttributeError: 'RandomForestClassifier' object has no attribute 'estimators_'`

[2021-03-04 16:13] interesaaat commented on #423
Hi @yxoos, unfortunately Hummingbird only works with trained pipelines. With KNN we could maybe also work if the model is not trained, but in general (e.g., with RandomForests) this won't work.

[2021-03-04 17:01] ksaur commented on #423
@KIIIIK do you have an updated code snippet?

Maybe untrained KNN works, but otherwise I think we should close this issue with a PR adding a bit more in our documentation to explain that Hummingbird can only handle trained models! :)

[2021-03-05 00:13] ksaur opened #454 "Onnxruntime 1.7.0 breaks tests"
https://github.com/microsoft/hummingbird/runs/2035682979

We need to investigate why `onnxruntime==1.7.0` breaks the tests. (Last known good at `1.6.0`)

[2021-03-05 09:37] KIIIIK commented on #423
@ksaur Sorry, I don't use this model now,very thanks you for answer my question.

[2021-03-05 16:46] ksaur opened #457 "Need error messages and documentation that you must "fit" before convert"
In issue #422/#423, users brought up that it's not clear from the error messages that you must fit before convert for most models.

We suspect that with KNN we could maybe also work if the model is not trained, but in general (e.g., with RandomForests) this won't work.

We need help documenting this, and also generating proper error messages.  (You can see an example of an unhelpful error message

[2021-03-05 16:46] ksaur commented on #423
Closing with #457 issue

[2021-03-05 16:46] #423 closed, assigned to nobody

[2021-03-05 16:47] ksaur commented on #422
Closing with #457 issue

[2021-03-05 16:47] #422 closed, assigned to nobody

[2021-03-11 06:40] muhammad49 opened #463 "Add support for 'tpot.builtins.stacking_estimator.StackingEstimator'."
I am using tpot for auto ml and unable to convert the model into pytorch getting following error.
Unable to find converter for model type <class '**tpot.builtins.stacking_estimator.StackingEstimator**'>.
It usually means the pipeline being converted contains a
transformer or a predictor with no corresponding converter implemented.
Please fill an issue at https://github.com/microsoft/hummingbird.

[2021-03-11 16:52] interesaaat commented on #463
Thanks @muhammad49 for the opening this issue. We currently don't support `tpot`, but I think this feature should not be too hard to add.

[2021-03-11 19:48] rathijit opened #464 "Improve description in Step 2 for the example"
The description in Step 2 does not seem very clear, e.g., in " internal node is a parent of that internal node", it is not clear which nodes are referred to here. It would be good to walk through how one column of C is constructed. Should the second column be (1,-1,0,1)? It would be nice to have some more intuition about C and D.

There is also a typo: "tenor".

[2021-03-11 19:58] ksaur commented on #464
Thanks @rathijit, we'll take a look

[2021-03-12 08:38] rathijit opened #465 "incorrect import statement in example code"
The import statement on line 3 in the example code should be changed to "import hummingbird.ml", or to "from hummingbird.ml import convert, load" with just "load" on the last line.

[2021-03-12 17:27] ksaur commented on #465
Good catch, thanks!  We added the `load` function recently.

I am happy to fix this, or would you prefer to submit a PR? :)

[2021-03-12 22:38] rathijit commented on #465
OK, I will try submitting a PR -- will be my first PR for this project and repo :)

[2021-03-12 22:54] interesaaat commented on #465
Don't worry, we are nice :)

[2021-03-13 19:16] xhochy commented on #314
This is now available via conda-forge: https://github.com/conda-forge/hummingbird-ml-feedstock

[2021-03-13 23:15] interesaaat commented on #314
This is a great news! Thanks @xhochy.

[2021-03-13 23:15] #314 closed, assigned to nobody

[2021-03-15 01:26] ksaur commented on #465
Closed with #467, thanks @rathijit!

[2021-03-15 01:26] #465 closed, assigned to nobody

[2021-03-15 21:09] ksaur opened #468 "Add 'sklearn.ensemble._stacking.StackingClassifier'"
A user requested us to add `sklearn.ensemble._stacking.StackingClassifier`.  (See [doc](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.StackingClassifier.html)).

At first glance this appears it should be reasonably easy to implement/similar to our other classifier converters.

[2021-03-19 16:17] #10 closed, assigned to nobody

[2021-03-24 22:38] #468 closed, assigned to nobody

[2021-03-25 00:25] #312 closed, assigned to nobody

[2021-03-27 03:02] univerone opened #474 "ONNX and PyTorch model from RandomForestClassifier have different prediction results"
When I try to convert a RandomForestClassifier model to ONNX and Pytorch format, the prediction results from these two models fail to match, here is the example code

[code]

and here is the output

[code]

[2021-03-27 09:26] interesaaat commented on #474
9% is indeed a big difference. I will look into this. Did you try to compare against the skl model, just to double check that the problem is hummingbird, not onnx.

[2021-03-27 23:09] scnakandala commented on #474
I tested the provided example code and on my setup and it passed. @univerone Can you also provide the library versions that you using?

[2021-03-28 07:36] univerone commented on #474
I'm using
- hummingbird-ml 0.2.2
- onnxmltools 1.7.0
- sklearn 0.23.2
- torch 1.5.0
- onnxruntime 1.2.0
- onnxconverter_common 1.7.0

[2021-03-28 07:40] univerone commented on #474
I have tried and found that sklearn model has the same prediction results as ONNX model, but different from torch model

[2021-03-28 20:45] interesaaat commented on #474
@univerone can you please try with the latest version of PyTorch? In earlier versions `argmax` had some weird behavior (see [here](https://github.com/microsoft/hummingbird/issues/10)).

[2021-03-28 20:57] scnakandala commented on #474
I tested on different torch versions.
On torch==1.5.0 the test fails. But, it passes on torch==1.7.0.

[2021-03-29 16:05] ksaur commented on #474
Yes as Matteo says, it seems this is related to #10, where we know this mismatch occurs in torch<1.7.0.

What would be the best way to handle it?  Print a  warning for older torch versions?

[2021-03-29 16:27] interesaaat commented on #474
Or we can ditch PyTorch < 1.7 directly? Maybe this is too drastic, WDYT? Adding a warning is easy too since this happens specifically for multiclass.

[2021-03-30 05:59] petrojeff opened #475 "Hello! Is it possible to use scikit-learn's Gridsearchcv ?"

[2021-03-30 08:46] interesaaat commented on #475
I think gridsearchCV will just work since it's something you would do at training time, not at inference time.

[2021-03-30 09:49] #475 closed, assigned to nobody

[2021-03-30 09:59] interesaaat opened #477 "Add support for scikit-learn GaussianMixture"

[2021-03-30 20:52] #474 closed, assigned to nobody

[2021-03-30 21:48] petrojeff opened #479 "GridsearchCV hummingbird"
Is there a way to use hummingbird on gridsearch instead of fitting each iteration of the model? Thank you.

AdaBoost_pipe = make_pipeline(
    StandardScaler(),
    AdaBoostRegressor(random_state=10)
)
AdaBoost_default_cv_results = cross_validate(AdaBoost_pipe, X_train, y_train, cv=5)
AdaBoost_grid_cv = GridSearchCV(AdaBoost_pipe, param_grid=grid_params, cv=5, n_jobs=-1)
AdaBoost_grid_cv.fit(X_tra

[2021-03-30 22:10] interesaaat commented on #479
Do you mean using Hummingbird for speeding up the `fit` method? I don't think we can help at the moment because we don't support training.

[2021-03-30 22:37] petrojeff commented on #479
Hi Matteo thank you for your response. Is this something you plan to support in the future? Thank you.

[2021-03-31 03:37] seuzha opened #480 "Add support for SHAP package"
SHAP is a general model attrition package: https://fburl.com/5lq7ho5y

I have a use case to first use SHAP to explain a sklearn/xgboost classifier and then convert the model to pytorch. SHAP is not supported yet for model conversion. Is there a quick way to walk it around?

[2021-03-31 10:01] interesaaat commented on #480
Hi @seuzha! We were looking into it (see #180) but we didn't make much progress. Do you want to give it a shot?

[2021-04-02 18:35] indiangolfer opened #481 "sklearn random forest classifier hb model throws mismatch inputs"
AssertionError: number of inputs or number of columns in the dataframe do not match with the expected number of inputs ['input']

sklearn model works correctly:

# Load from sklean model file
with open('sklearn_model.pkg', 'rb') as file:
    RF_model = pickle.load(file)

predicted_proba = RF_model.predict_proba(sample_input) # this works correctly

HB_model = convert(RF_model, 'pytorch')
HB_predic

[2021-04-02 18:44] interesaaat commented on #481
Is sample input a numpy array or a pandas dataframe? If it's the latter, can you try with `sample_input.values`? (By default if no test input is passed to the `convert` model, Hummingbird expects a numpy array at prediction time).

[2021-04-02 19:00] ksaur commented on #480
Closing as a duplicate of #180 .  @seuzha, if you feel inspired to work on this, please let us know and I'll repoen!! :)

[2021-04-02 19:00] #480 closed, assigned to nobody

[2021-04-02 19:29] indiangolfer commented on #481
Thanks for your comment.  Your assumption was correct, sample_input is a pandas dataframe.  I figured out that I need to pass in numpy array but when I pass in sample_input as numpy array (sample_input.to_numpy()), I get the following when predict_proba is called:

TypeError: can't convert np.ndarray of type numpy.object_. The only supported types are: float64, float32, float16, complex64, complex

[2021-04-02 19:36] indiangolfer commented on #481
Ok, this worked based on https://github.com/yassouali/pytorch_segmentation/issues/31#issuecomment-562510155

sample_input.to_numpy(dtype=np.float32)

Thanks.

[2021-04-02 19:45] indiangolfer commented on #481
Closing the issue, please see the above comment.

[2021-04-02 19:45] #481 closed, assigned to nobody

[2021-04-05 12:18] muhammad49 opened #482 "Getting error while predict after converting it to pytorch on KMeans model"
I am simply converting my clustering KMeans model like this
**
from hummingbird.ml import convert
model_torch = convert(sklearn_model, 'pytorch')
predicted = model_torch .predict(data)
**
The columns are exactly same but it is showing me the following error and without converting it to pytorch when I use the simple skl-algo it works fine

"Traceback (most recent call last):
  File "/root/anaconda3

[2021-04-05 12:32] interesaaat commented on #482
Hi @muhammad49! I think this happens because your input dataset is in pandas dataframe format while by default Hummingbird expects a numpy array. Does it work if you pass `data.values` as input to the predict function?