[2021-04-05 12:44] muhammad49 commented on #482
Yes it worked. Thanks

[2021-04-05 12:57] interesaaat commented on #482
Great!

[2021-04-05 12:57] #482 closed, assigned to nobody

[2021-04-05 13:19] muhammad49 commented on #482
After converting it into numpy array it throws the following traceback
"Traceback (most recent call last):
  File "/root/anaconda3/envs/pyspark_env/lib/python3.6/site-packages/hummingbird_ml-0.2.2-py3.6.egg/hummingbird/ml/containers/_sklearn_api_containers.py", line 114, in predict
    return self._run(self._predict, *inputs)
  File "/root/anaconda3/envs/pyspark_env/lib/python3.6/site-packages/hum

[2021-04-05 13:27] muhammad49 commented on #482
Can you please re-open this issue or should I post a new issue?

[2021-04-05 13:34] interesaaat commented on #482
Let's use another issue for this since it's a different error.

[2021-04-05 13:37] interesaaat commented on #479
He have some initial idea (e.g., [here](https://arxiv.org/abs/1906.03822)) but we have not currently scheduled any work on this, so it might take some time.

[2021-04-05 13:37] interesaaat commented on #479
Closing for the moment.

[2021-04-05 13:37] #479 closed, assigned to nobody

[2021-04-05 13:38] interesaaat opened #485 "KMeans expect Float but could get Double"
From issue #482. @muhammad49.

After converting it into numpy array it throws the following traceback
"Traceback (most recent call last):
File "/root/anaconda3/envs/pyspark_env/lib/python3.6/site-packages/hummingbird_ml-0.2.2-py3.6.egg/hummingbird/ml/containers/_sklearn_api_containers.py", line 114, in predict
return self._run(self._predict, *inputs)
File "/root/anaconda3/envs/pyspark_env/lib/pyth

[2021-04-05 13:46] muhammad49 opened #486 "Getting error while predict after converting it to pytorch on KMeans model"
I am simply converting my clustering KMeans model like this
**
from hummingbird.ml import convert
model_torch = convert(sklearn_model, 'pytorch')
predicted = model_torch .predict(data.values)
**
and it is throwing the following error
"Traceback (most recent call last):
  File "/root/anaconda3/envs/pyspark_env/lib/python3.6/site-packages/hummingbird_ml-0.2.2-py3.6.egg/hummingbird/ml/containers/_skl

[2021-04-05 15:11] interesaaat commented on #485
Duplicate of #486.

[2021-04-05 15:11] #485 closed, assigned to nobody

[2021-04-05 15:26] interesaaat commented on #486
This should be fixed with commit [3f115b4](https://github.com/microsoft/hummingbird/commit/3f115b4433dab535d4e57e6544d7d0703094542b). Can you please try?

[2021-04-11 11:05] sdjafkhk opened #489 "please add support for BaggingClassifier and the base estimator is SVC"
SVC is so slow in big dataset，so we can speed up it by using BaggingClassifier，but the model predict is so slow ，please add support for  BaggingClassifier and the base estimator is SVC

[2021-04-12 22:44] ksaur opened #493 "CI/CD failing for spark due to GH Actions issue"
Today it seems that we run into
[code]

when (re)-running the pipeline.

It does not appear to be something we can fix on our end.  For now, commenting out Spark (#492)  in the pipeline with
[code]

This issue is a reminder to put this back when the issue is fixed.

[2021-04-12 23:16] #489 closed, assigned to nobody

[2021-04-13 16:16] ksaur commented on #493
closed with #494

[2021-04-13 16:16] #493 closed, assigned to nobody

[2021-04-14 12:28] interesaaat commented on #486
Closed with #485.

[2021-04-14 12:28] #486 closed, assigned to nobody

[2021-04-14 16:33] lhotari commented on #493
FYI, this seems to be caused by https://github.com/actions/virtual-environments/issues/3185 . Reverse name lookup for current hostname is broken.

[2021-04-14 16:34] ksaur commented on #493
Ah!! Thank you so much for the info! We were wondering what went wrong suddenly. :)

[2021-04-14 16:47] ksaur opened #495 "XGBoost does not work for 1.4.0 for hummingbird"
In #492 , we needed to pin to `xgboost<1.4.0` because `==1.4.0` ([released](https://github.com/dmlc/xgboost/commit/b9a4f3336af7c78f9f7b66f7c91a419108b7ec83) on April 12th 2021) broke our tests.  We need to investigate why.

From [the pipeline](https://github.com/microsoft/hummingbird/pull/490/checks?check_run_id=2328236386):

[code]

[2021-04-14 16:48] ksaur commented on #495
Perhaps the issue is [related](https://github.com/dmlc/xgboost/commit/b9a4f3336af7c78f9f7b66f7c91a419108b7ec83) to:
[code]

[2021-04-19 22:01] ksaur opened #496 "onnx->torch bug when no input passed"
When we convert from onnx to torch, the converter calculates the expected number of inputs wrong.
Ex:
[code]

We need to force the user to pass some test input along with the conversion to prevent this issue.
Ex:
[code]
should work.

For now we can add an `assert` with a helpful error message

[2021-04-22 00:08] ksaur opened #497 "Better error message needed for bad path"
In troubleshooting with a user reporting a `RuntimeError`, he got an unhelpful error message on file not found:

[code]
We later determined that this was due to a bad path.

It would be nice to give an additional error message indicating that the file doesn't exist.

[2021-04-22 02:27] ksaur commented on #497
Digging a bit further, i see that on line [205](https://github.com/microsoft/hummingbird/blob/main/hummingbird/ml/_utils.py#L205) we are in fact checking that the file exists.

I wasn't able to reproduce the bug

[2021-04-22 16:46] ksaur commented on #497
[code]

[2021-04-23 06:39] #497 closed, assigned to nobody

[2021-04-23 16:47] ksaur opened #501 "Unzipping file twice breaks"
Thanks to @dbanda for pointing out this issue:

When you call `load` twice in the same directory, it gives an error
[code]

[2021-04-23 23:24] #501 closed, assigned to interesaaat

[2021-04-24 16:33] ksaur opened #505 "cannot deploy gh-pages"
The pipeline is failing on the "Deploying to gh-pages" stage

[code]

It might because tokens were rolled (`secrets.ACCESS_TOKEN`), need to investigate. Disabling for now.

[2021-04-24 16:36] ksaur commented on #505
Last [successful deployment](https://github.com/microsoft/hummingbird/commit/fe307ee536c1838e5e47745a25fbfba98d82d805) was 18 hours ago, so it is not related to rolled tokens.

Maybe it is transient?  It is not clear to me  if `The requested URL returned error: 403` is due to perms or due to outage.

Also,  we should update the `github-pages-deploy-action@3.6.2` to a newer version; it seems _Both

[2021-04-24 17:00] ksaur opened #506 "caching is broken in the pipeline"
We keep hitting
[code]
which means our pipeline takes >40min each run.

It seems there is an [open issue.](https://github.com/actions/toolkit/issues/658)

Maybe we can try renaming it as a workaround?

[2021-04-28 16:20] #505 closed, assigned to nobody

[2021-04-28 21:08] ksaur commented on #506
NOPE.  DENIED. (from [https://github.com/microsoft/hummingbird/runs/2460962168](pipeline))
[code]

[2021-04-28 21:12] interesaaat commented on #506
Let's try with 3?

[2021-04-29 02:37] ksaur commented on #506
Now we have a broken build so fun!

[code]
this was at the end of my [PR run](https://github.com/microsoft/hummingbird/pull/509/checks?check_run_id=2462770958), and now we have the same issue as before on `main` branch ([run](https://github.com/microsoft/hummingbird/runs/2463097691)):

[code]

[2021-04-29 02:43] interesaaat commented on #506
Should we do with the python version as you were suggesting?

[2021-04-29 04:14] ksaur commented on #506
mmmkay it says

[code]

let's see.   i'll rerun the same

[2021-04-29 17:43] ksaur commented on #506
closed with #510 . i really hope it keeps working!

[2021-04-29 17:43] #506 closed, assigned to nobody

[2021-05-01 17:16] ksaur commented on #496
I should clarify that this is a _predict-time error_, not runtime error:

[code]
gives:
[code]

But this works:
[code]

[2021-05-18 23:26] ksaur commented on #496
In theory, we shouldn't need to require inputs for onnx->torch, but it seems that our code that processes the onnx inputs fails to get it right in some cases.  (dangling inputs in the model?)

For now, we'll add an assert.

[2021-05-19 02:30] #496 closed, assigned to nobody

[2021-05-20 19:30] ksaur opened #515 "Error with inputs on a model converted onnx->torch"
For [this](https://github.com/microsoft/hummingbird/tree/kasaur/onnx_cols_prob/tests/errorcode) model and data, a user reported the following error when converting their model from onnx to torch:

[code]

[code]

[2021-05-20 19:32] ksaur commented on #515
probably related to #513

[2021-05-20 20:15] ksaur commented on #515
Ok, the problem is due to the fact that the model has 20 inputs, but the data the user provided has 21 inputs.

In `pytorch_containers.py` we have `extra_config[constants.N_INPUTS]=21`, because we get that out of the test data.

So the user either needs to fix their input data to match the model data, or we need do dig a bit deeper into the onnx model parameters.

[2021-05-20 20:41] ksaur commented on #515
Verified that the [correct CSV file](https://raw.githubusercontent.com/microsoft/hummingbird/361277f461b9f80f58936704ff651596bc02e7b4/tests/errorcode/X_pruned.csv) fixes the error; closing

[2021-05-20 20:41] #515 closed, assigned to nobody

[2021-05-27 03:11] marsupialtail opened #516 "What is pytorch container and how do I see the actual matrices?"
In the example code, how would I go look at the pytorch model container variable model, and find out what actual computations it is computing? Aka how do I convert the pytorch container type to an actual nn.Module in pytorch?

[2021-05-27 15:52] ksaur commented on #516
Hello!

From the sample code for example:
[code]

you can then do something like:
[code]

to see the internals. Is that what you mean?

[2021-05-28 01:47] marsupialtail commented on #516
I thought hummingbird actually converts things to matrix multiplications? I tried to force it to convert to gemm by doing this: model = convert(skl_model,'pytorch',extra_config = {"tree_implementation":"gemm"})
But then, I can't actually see any weight matrices when I do model._model.

[2021-05-28 19:38] Hemantr05 commented on #293
Hi @ksaur, I have an implementation of tf-idf ready, could you kindly guide me onto where to add the code?

[2021-05-28 20:41] interesaaat commented on #516
Hey @marsupialtail (Karla is currently off so I am picking this up)! In your case, if you do `model.model._operators[0]` as Karla suggested you should see a bunch of matrixes as `weight_1`, `weight_2` etc.

The code of that particular implementation is [here](https://github.com/microsoft/hummingbird/blob/0ea7c44500467b39f803fb651fe2be027aa8315e/hummingbird/ml/operator_converters/_tree_implementati

[2021-05-30 18:58] marsupialtail commented on #516
So here is the problem. When I use model = convert(skl_model,'pytorch'), I see a bunch of pytorch weights, but they are called Nodes, which are LongTensors and Biases, which are Floats. I suspect that you are converting it to a Decision Tree, just implemented in Pytorch. I don't see any weight matrices.

When I use convert(skl_model,'pytorch',extra_config = {"tree_implementation":"gemm"}), I see G

[2021-06-02 05:17] interesaaat commented on #516
What do you mean you cannot see the weight matrices?

If I do `print(model.model._operators[0].weight_1)`

I see:
[code]

[2021-06-02 06:12] marsupialtail commented on #516
Ah I see. Thank you! Btw, I noticed that using the gemm strategy with a batch size of 1000 in this case results in a 10x slowdown compared to the tree strategy or sklearn. Is that expected behavior?

[2021-06-02 16:45] interesaaat commented on #516
The gemm strategy is only efficient for small trees. If you are using PyTorch, this is also expected, as usually we get the best results with TVM as backend.

[2021-06-02 18:14] ksaur commented on #293
Hi @Hemantr05 !  You can just submit it as a pull request using the standard github way, see [here](https://github.com/microsoft/hummingbird/blob/main/CONTRIBUTING.md#pull-requests) if you need a link to instructions!  Let me know if you have questions. Thanks!

[2021-06-02 18:41] Hemantr05 commented on #293
Thank you @ksaur

[2021-06-02 21:04] #516 closed, assigned to nobody

[2021-06-02 21:06] marsupialtail opened #518 "Support for SparkML"
On the repo I see some code supporting SparkML conversion into hummingbird. I wonder if there are any examples that showcase this? Thanks a lot!

[2021-06-02 21:39] interesaaat commented on #518
We don't have any notebook yet, but you can look at our tests. For example, [here](https://github.com/microsoft/hummingbird/blob/main/tests/test_sparkml_linear_converter.py) are the tests for linear models.

[2021-06-13 06:18] #518 closed, assigned to nobody

[2021-06-13 06:19] marsupialtail opened #522 "potential support for tree training"
I am wondering if there is plan to convert the training phase of these algorithms to matrix operations? Feel free to close this issue if it's not relevant.

[2021-06-13 16:18] interesaaat commented on #522
Hey! Yes we can do training with the GEMM strategy. Check [this branch](https://github.com/microsoft/hummingbird/tree/mainterl/fine-tune-trees) if you want to try training.

[2021-06-13 21:12] marsupialtail commented on #522
Sorry can you please give me more information? Like what code do I run once I check that branch?

[2021-06-14 16:56] interesaaat commented on #522
Sure! There is a test [here](https://github.com/microsoft/hummingbird/blob/mainterl/fine-tune-trees/tests/test_sklearn_gbdt_converter_fine_tune.py) showing how to do training \ fine tuning of a GBDT model. If you are interested in more details, [here](https://arxiv.org/abs/1906.03822) is a paper explaining the technique.

[2021-06-15 01:07] marsupialtail commented on #522
Can you give some ballpark performance estimates of using this approach versus say sklearn's tree.fit()? Would I ever want to use this instead of tree.fit()? I would be interested in potentially contributing some code if this area looks promising.

[2021-06-15 01:13] interesaaat commented on #522
In general this is slower, if you are looking for performance, even when you are using a GPU. There might be some trick there to boost performance, but we haven't look into this yet (if you want, this could be a good thing to look at). What we found is that this method can return better accuracy.

[2021-06-15 02:19] marsupialtail commented on #522
I see that this is code for finetuning. Is training from scratch a worthwhile thing to do? Does the finetuning give you better accuracy?

[2021-06-15 17:37] interesaaat commented on #522
In the paper I linked above we weren't able to find cases where training from scratch was better than finetuning. Our intuition is that the trained model already provide good initial parameters for the NN model.

[2021-06-18 18:41] #522 closed, assigned to nobody

[2021-06-18 23:26] marsupialtail opened #524 "conversion from sklearn extratrees very very slow"
X = np.random.rand(10000, 200)
y = np.random.randint(2, size=10000)
tree = ExtraTreesRegressor(n_jobs=4)
tree.fit(X, y)
convert(tree, 'torch', X,extra_config = {"tree_implementation":"gemm"})

Takes more than 10 minutes on my laptop (and I had to kill it before completion).

Do you know what might be the speed bottleneck? Also can convert be parallelized?

[2021-06-19 04:33] interesaaat commented on #524
Gemm works well only on shallow trees, like with depth less than 4. In your case I believe your trees are too deep. Hummingbird by default picks another tree implementation in that case, but you are forcing it to use gemm which is slow in this case.

[2021-06-19 23:19] ksaur commented on #454
Closed with #523 🎊

[2021-06-19 23:19] #454 closed, assigned to nobody

[2021-06-19 23:22] ksaur commented on #389
@interesaaat, was there one lingering test/issue you wanted to look at (`@unittest.skipIf(True, reason="boosting_type=='rf' produces different probabilites.")`),  or does #523 close this since we support lgbm`>=3`?

[2021-06-19 23:24] ksaur commented on #495
Closed with #523

[2021-06-19 23:24] #495 closed, assigned to nobody

[2021-06-19 23:48] interesaaat commented on #389
Yes let me take a look at that test. If it does not work I can try to fix it.

[2021-06-20 21:34] marsupialtail commented on #524
I am not doing predict with the trees. Just the conversion. You mean that conversion speed is slow too?

[2021-06-21 18:42] ksaur opened #527 "new scipy release (1.7.0) breaks KNN tests"
SciPy 1.7.0 was [released](https://github.com/scipy/scipy/releases/tag/v1.7.0) yesterday with changes to `cdist`.  It seems we need to remove an arg from our KNN converters, see [build](https://github.com/microsoft/hummingbird/runs/2877767604?check_suite_focus=true).

Ex:      `TypeError: cdist_old_weighted_minkowski_double_wrap() takes at most 5 arguments (6 given)`

for:
[code]

Troubleshooting

[2021-06-21 19:08] ksaur commented on #527
It seems that this is an SKL problem, and they are working on a fix [#20309](https://github.com/scikit-learn/scikit-learn/pull/20309).  (the torch converter is fine, it's creating the model in skl that is causing the test to fail.)

[2021-06-21 21:14] interesaaat commented on #524
The conversion speed should be almost instantaneous for torch. I am worried that by forcing gemm you are creating very large tensors that take forever to generate. Can you try to remove the gemm extra configuration and see if the compilation is faster?

[2021-06-22 18:07] ksaur commented on #527
Leaving this open until we can remove the pin in the ci/cd .yaml (#526)

[2021-06-22 20:14] ronilaukkarinen opened #528 "Fix icon consistency for dark theme"
Sorry to say but this bugs the hell out of me 😁  Which one doesn't belong:

![Screen-Shot-2021-06-22-23-12-40 74](https://user-images.githubusercontent.com/1534150/122993053-83dd7b80-d3af-11eb-9406-1e89095e5073.png)

Can you change it to be more consistent or add an option for it?

[2021-06-22 20:16] ronilaukkarinen commented on #528
Omg... accidentally opened an issue to the wrong repository. It seems there's a lot of hummingbirds out there. I meant [this one](https://github.com/finestructure/Hummingbird)... sorry!

[2021-06-22 20:16] #528 closed, assigned to nobody

[2021-06-22 20:49] ksaur commented on #528
Haha yes we do converters for ML models, not temperatures/icons :-D

[2021-06-23 07:13] marsupialtail commented on #524
Would you mind pointing me to the exact place where the gemm conversion happens for these large trees? Thanks!

[2021-06-24 20:33] interesaaat commented on #524
Sure! [Here](https://github.com/microsoft/hummingbird/blob/0bb9b0e63151e30db498616de29b8e3281b8ca0c/hummingbird/ml/operator_converters/_tree_implementations.py#L133).

[2021-06-25 13:03] alexyar88 opened #529 "Completely different output to original LGBMClassifier predict() and predict_proba() results"
Hi! I got completely different outputs for LGBMClassifier and "hummingbirded" model. It's just tabular data with binary label.

Converted RandomForestClassifier works well on this data but it's something wrong with lightgbm.

I tested hummingbird with lightgbm 3.2.1 and 2.1.1 version, results are the same. Outputs are completely different.

[code]

Python 3.9.5
OS: MacOS Big Sur 11.4

My environme

[2021-06-25 16:25] interesaaat commented on #529
I think this is related to #389. Can you please try with a 2.* version of lightgbm? I will be looking into this.

[2021-06-25 21:37] alexyar88 commented on #529
@interesaaat, I think it's something else. I've already tried with lightgbm version 2.1.1. The same results

[2021-06-25 21:39] interesaaat commented on #529
Ok then you either have some missing or categorical value in your dataset.

[2021-06-25 21:44] alexyar88 commented on #529
I think no but I re-check it one more time and post results here

[2021-06-28 07:33] alexyar88 commented on #529
@interesaaat the reason of this behaviour was `int` columns in my dataset. I just convert this columns to `np.float32` and everything works fine. Thanks for helping me!

[2021-06-28 07:33] #529 closed, assigned to nobody

[2021-07-08 22:04] prashanthharshangi opened #530 "TVM Conversion:AttributeError: 'String' object has no attribute 'array'"
Ran into this issue on latest install of hummingbird. This happens when I load a saved tvm hummingbird model

Stacktrace:
[code]

Temporarily resolved by updating the param loader in tvm_container to :

[code]

[2021-07-09 00:13] interesaaat commented on #530
Thanks for reporting this. I am looking into it.

[2021-07-09 21:05] interesaaat commented on #530
Which version of TVM are you using? It looks that the version you are using has a different way of loading the saved parameters.

[2021-07-09 21:23] prashanthharshangi commented on #530
Thanks for looking into it. I am using the nightly version of tvm from `https://tlcpack.ai/wheels`
[code]

[2021-07-09 21:29] interesaaat commented on #530
Ok I think this is the problem. We only support releases and currently we are on TVM 0.7. We can fix this once they cut the 0.8 release. At least you are not blocked 😄 .

[2021-07-12 06:21] marsupialtail opened #531 "xgb_model_gemm does not give same result as xgb_model for Bosch"
I tried to use hummingbird on the Bosch dataset, and I noticed that the xgb_model_gemm doesn't give the same results as real xgboost. Is this because there are nans in this dataset?

import pandas as pd
a = pd.read_csv("subbosch.csv")
X = a[[i for i in a.columns if "L" in i]].to_numpy()
y = a["Response"].to_numpy()
dtrain = xgb.DMatrix(X, label=y)
dtest = xgb.DMatrix(X, label=y)
xgb_model = xgb.XG

[2021-07-12 18:02] interesaaat commented on #531
Yes you have to first do imputation if you want to use Hummingbird on Bosch. We actually have an implementation supporting missing values, but it is not currently in the main branch.

[2021-07-12 20:02] marsupialtail commented on #531
Can you briefly comment on how you would do that? I suppose you can kind of just ignore the Nan value features in the first matrix?

[2021-07-14 17:18] ksaur opened #533 "Tests are failing due to onnx changes"
It seems there were several updates to [sklearn-onnx](https://github.com/onnx/sklearn-onnx/commits/master), and in [our workflow](https://github.com/microsoft/hummingbird/blob/main/.github/workflows/pythonapp.yml#L56) we pull from main.

Last known good run [here](https://github.com/microsoft/hummingbird/actions/runs/962178702).
Error run ( [here](https://github.com/microsoft/hummingbird/pull/532/

[2021-07-16 05:12] WhatAShot opened #535 "Which tools did you use to draw the figures in README?"
Which tools did you use to draw the figures in README? I think that style is pretty attractive.

[2021-07-16 15:45] ksaur commented on #535
The graphics are all done by @vumichien!  We loved his [blog post](https://towardsdatascience.com/standardizing-traditional-machine-learning-pipelines-to-tensor-computation-using-hummingbird-7a0b3168670) and asked for permission to use them. :)  You'll have to reach out to him directly to learn what tools he used.  Thanks!

[2021-07-16 15:45] #535 closed, assigned to nobody

[2021-07-21 00:46] #531 closed, assigned to nobody

[2021-07-21 00:46] #524 closed, assigned to nobody

[2021-08-09 12:42] BaurB opened #538 "Torch Tensor output for model.predict(X) after converting basic sklearn ML model"
I would like to know whether there is a possibility/there is already a way to have torch.tensor datatype as an output of predict function for converted sklearn model. In current implementation all the prediction outputs has data type of numpy.ndarray. Giving an option of having a torch.tensor  as an output would be nice since your function already converts sklearn model to tensor operations

[2021-08-09 16:33] interesaaat commented on #538
Hi! This is currently not possible but I think it shouldn't be too hard to add a configuration flag for this. Going from numpy arrays to tensors however should be 0-copy so you shouldn't see any penalty on doing this externally to Hummingbird.

[2021-08-09 18:05] BaurB commented on #538
Thanks for reply!
I am not sure I got a note about 0-copy, can you please show how to do it externally?
My current setup is as follows:

`from sklearn.ensemble import RandomForestRegressor
from hummingbird.ml import convert
random_forest = RandomForestRegressor()
random_forest.fit(X, y) # X and y are from any dataset
random_forest_converted = convert(random_forest,'pytorch')
print(type(random_fore

[2021-08-10 04:26] interesaaat commented on #538
This should work:
[code]

[2021-08-10 05:36] BaurB commented on #538
Thanks a lot, appreciate your help!

[2021-08-10 05:36] #538 closed, assigned to nobody

[2021-08-12 07:13] marsupialtail opened #539 "loading lightgbm.basic.Booster"
Is there a way to directly convert a LightGBM booster object instead of using the sklearn API?

With the sklearn API for lgb, I think you can only load file to a booster object, and I'm not sure how to initialize a lgb regressor from a booster object.

Currently when I try convert booster object directly I get: hummingbird.ml.exceptions.MissingConverter: Unable to find converter for model type <cl

[2021-08-12 16:40] ksaur commented on #539
Right now we only [support](https://github.com/microsoft/hummingbird/wiki/Supported-Operators#lightgbm) direct conversion from LGBM Classifier/Ranker/Regressor, so the error you get is expected.

I'm not sure how much additional effort it would be to support `lightgbm.Booster`; I'll add it to feature requests list.

Other thoughts @interesaaat ?

[2021-08-13 04:34] interesaaat commented on #539
Hey! I think it should be doable. I saw that we get all infos from the `booster_` object.

![image](https://user-images.githubusercontent.com/1534199/129305179-6a07dbd6-b7ee-4ff0-9712-63b2ac71d941.png)

@marsupialtail I think it is a matter of adding LightGBM booster among the supported operators. Do you want to give it a shot?

[2021-08-13 17:54] marsupialtail commented on #539
If you point me to a couple places in the code you think would serve as a good reference, I can try to work on this.

[2021-08-13 18:55] ksaur commented on #539
@marsupialtail - PR #173 (LGBMRanker) is a good starting point! For Booster, you'll probably need to add a separate converter function in `hummingbird/ml/operator_converters/lightgbm.py`. (For the Ranker one in the PR, it was able to reuse the `convert_sklearn_lgbm_regressor`.)

I'm not sure what else will be needed, but as Matteo showed above, the information will be there in [line 99](https://gi

[2021-08-20 06:36] marsupialtail commented on #539
I made a PR. Please review. Thanks.

[2021-08-30 01:19] #539 closed, assigned to nobody

[2021-09-21 08:13] alexyar88 commented on #539
You can create sklearn object from your booster. Something like that:

[code]

[2021-09-27 18:58] ksaur opened #544 "New SKL==1.0 update causes mahalanobis to break"
With  `scikit_learn==1.0`, we get:

[code]

See [run](https://github.com/microsoft/hummingbird/pull/543/checks?check_run_id=3723686368).

Last known good [run](https://github.com/microsoft/hummingbird/runs/3690424401) four days ago had `scikit_learn-0.24.2`.

[2021-09-27 21:08] #544 closed, assigned to nobody

[2021-10-01 19:50] leonardomurakami opened #546 "Add support for NGBoost (NGBRegressor/NGBClassifier)"
Trying to run hummingbird for NGBRegressor and receiving
`
MissingConverter: Unable to find converter for model type <class 'ngboost.api.NGBRegressor'>.
It usually means the pipeline being converted contains a
transformer or a predictor with no corresponding converter implemented.
Please fill an issue at https://github.com/microsoft/hummingbird.
`

[2021-10-01 20:20] ksaur commented on #546
Thanks! Added this to the [requests  list](https://github.com/microsoft/hummingbird/wiki/Roadmap-for-Upcoming-Features-and-Support#other-features-requested).

I'm assuming you mean this [NGBoost](https://stanfordmlgroup.github.io/projects/ngboost/).  Can you please give us a few more details about your model?

[2021-10-12 12:56] leonardomurakami commented on #546
Ay, sorry for taking so long to answer.
Giving some more details, it is basically a boosting model which follows the sklearn API, except, on top of being able to do point estimates, it is able to predict a probabilistic distribution through the `pred_dist` method

Thanks for adding this to the requests list!

[2021-10-28 10:33] xesdiny opened #547 "Sklearn Pipeline has None estimator,Convert MissingConverter"
Hi,I used the convert to translate a mutli-ouput sklearn pipeline,Struction as:
![image](https://user-images.githubusercontent.com/21252416/139239405-41cfa12b-4b62-4b58-8196-564b843e8c5f.png)

`scaler` and `selector` maybe is None

Exception result:
[code]

How can I do about this case?

[2021-10-28 15:48] interesaaat commented on #547
Hi! Thanks for reporting this. Can you please share the script you used to
generate the pipeline or a minimum example for reproducing this?

On Thu, Oct 28, 2021, 3:33 AM X_Bee ***@***.***> wrote:

[2021-11-11 18:01] christophermwhite5 opened #548 "Add support for model type sklearn.cross_decomposition._pls.PLSRegression"
I was running tests of converting from multiple machine learning algorithms to pytorch using hummingbird.ml, and got a Missing Converter error. Could you please add this to the roadmap?

## Code example:
from sklearn.cross_decomposition import PLSRegression as PLSR
modInstance = PLSR(n_components = 10,).fit(X_train,y_train)
model = convert(modInstance,'pytorch')
pred = model.predict(X_test)

## Er

[2021-11-11 18:26] interesaaat commented on #548
Hi! Yes we don't support PLSRegression. I will look into it and keep you posted on whether we can add it or not.

[2021-11-11 18:35] christophermwhite5 commented on #548
Thank you!

[2021-11-15 05:01] #548 closed, assigned to nobody

[2021-12-02 16:33] rodsang opened #551 "Error when converting Json model generated by XGBoost to Pytorch"
Hello,

I am trying to convert my model into a pytorch model. My model is generated by XGBoost in python and is saved in the Json format, as follows:
.
.
.

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=1)
enc = OneHotEncoder(handle_unknown='ignore')
Y_train = enc.fit_transform(y_train.values.reshape(-1,1)).toarray()
Y_test = enc.fit_transform(y_

[2021-12-02 17:21] interesaaat commented on #551
Hi! Maybe but converting the model to JSON and back some field get erased
in the process. I will look into it and keep you posted.

On Thu, Dec 2, 2021, 8:33 AM rodsang ***@***.***> wrote:

[2021-12-02 18:07] rodsang commented on #551
I'd just like to say that I tried to do it without saving in jason :

clf.save_model('model')
model = XGBClassifier()

model.load_model('model')
#---------------------------------------
from hummingbird.ml import convert

modelc = convert(clf, 'pytorch')
#modelc.save('hb_model')

!!!ERROR

ValueError: invalid literal for int() with base 10: 'chroma_stft'

::::::::::::::::::::::::::::::::::::::::::

[2021-12-02 18:41] interesaaat commented on #551
I see. What's the XGBoost version you are using?

[2021-12-02 18:46] rodsang commented on #551
'1.5.0'  Im using this one

[2021-12-02 23:00] angecas commented on #551
hello, I changed it to this :
`from hummingbird.ml import convert

m=convert(model, "pytorch")
print(m)

#modelc = convert(clf, 'pytorch')
m.save('hb_model')`

And I could download a file , it comes with "hb_model.zip" It's a zipped folder. I try to open it and I can't. I just wanted to get a pytorch model... Is this normal ? this ZIP folder is expectable? how can I get my pytorch model? I tried t

[2021-12-02 23:13] interesaaat commented on #551
Yes our model is a zip because it contains a bunch of stuff, not just the pytorch model. But you can load the zip file using `hummingbird.ml.load('hb_model')`. From there you should see the pytorch model.

[2021-12-02 23:21] angecas commented on #551
from hummingbird.ml import convert

m=convert(model, "pytorch")
#print(m)

#modelc = convert(clf, 'pytorch')
m.save('hb_model')
mh=m.load('hb_model')
print(mh)

-----> output:
<hummingbird.ml.containers.sklearn.pytorch_containers.PyTorchSklearnContainerClassification object at 0x7fda6e05d4d0>

Ok, its no giving an error.. But Id like to save this pytorch model in a file because i need to use it la

[2021-12-03 00:35] interesaaat commented on #551
Ok in this case you can just save `m.model`. `m.model` is a pytorch model so you can use it as such.

[2021-12-07 19:08] ksaur opened #553 "Replace Boston dataset in tests"
[code]

in tests `_test_kneighbors_regressor` in `test_sklearn_kneighbors.py`

[code]

[2021-12-07 22:13] #527 closed, assigned to nobody

[2021-12-07 22:13] #553 closed, assigned to nobody

[2021-12-08 01:23] ksaur opened #555 "Python 3.6 EOL"
Python 3.6 is [EOL on Dec 23, 2021.](https://endoflife.date/python).

We need to remove that and add python 3.9 (and possibly 3.10) to the ci/cd pipeline.
This also means ditching pytorch < 1.6. support.

[2021-12-08 17:20] ksaur opened #556 "ONNX test fail on Linux/Mac with torch==1.10"
Four of our ONNX tests fail when we move from `torch==1.8` to `torch==1.10` with onnx on Linux/Mac.  Windows passes.  (All three OS are using same ONNX versions.)

This blocks PR #554 .

See build run [4451697032](https://github.com/microsoft/hummingbird/runs/4451697032?check_suite_focus=true)

[code]

It seems index values overflow the data. Example:
[code]

Nothing immediately obvious in the [py

[2021-12-08 17:41] ksaur commented on #556
`pytest test_extra_conf.py -k test_onnx_classification_batch` passes for `torch==1.9.1`.

But also fails for `https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html`

[2021-12-08 19:20] ksaur commented on #556
In our test `test_extra_conf:test_onnx_classification_batch`, when we call `hb.model.predict`:

in `batch_container.py:119`, we reach i=10, with end=103, start = 100, (total_size = 103. iterations is 11.)
* Then we hit line 127 (i=10 and iterations -1 = 1 ), so we call the remainder function with the last 3, all as expected.

* That's where we die (in `skl_api_containers:222`, named_inputs is [0:3

[2021-12-10 01:03] ksaur commented on #556
After a fun day of digging, it seems that this issue is due to the symbolic dimensions in onnxruntime seeming to not work in our test case ([_topology:279](https://github.com/microsoft/hummingbird/blob/main/hummingbird/ml/_topology.py#L279)) with the new torch.  Maybe it's related to https://github.com/pytorch/pytorch/pull/64642 which mentions zero-dim tensors, maybe not.

For now, we'll use stati

[2021-12-13 16:53] akshjain83 opened #557 "Remove implicit deletion of model files from .load() method"
**Issue**
The load() method within `PyTorchSklearnContainer` container class implicitly deletes the original file location provided to the function class. This implicit deletion is unknown to the callers as well as it has side effects that leads to race condition and blocks concurrency setup for our inference servers in production.

1. When running inside docker container, deletion of original mod

[2021-12-13 17:06] akshjain83 commented on #557
This line in particular causes the issue: https://github.com/microsoft/hummingbird/blob/72a313007e7d9f559ae2b26b0f1fb3c31495387c/hummingbird/ml/containers/sklearn/pytorch_containers.py#L159

[2021-12-13 17:13] interesaaat commented on #557
Hi @akshjain83, thanks for reporting this. We decided to delete the temp folders because when you have multiple model versions it can get tricky but indeed I understand your problem when loading multiple models concurrently.

How about adding an optional flag disabling the deletion of the model? In that way we can still have our default behavior, and in your situations you can just set something l

[2021-12-13 17:49] akshjain83 commented on #557
@interesaaat Thanks for getting back. Given the location is provided by the caller to this method, it may or may not be the temporary folder. Its deleting the original model file artifact so I think providing an extra param to control deleting with default value as to delete (keep back compatibility) sounds like a good plan.

Happy to shoot a PR for this. Would you like me to do that?

[2021-12-13 18:04] interesaaat commented on #557
Yes! Please go ahead. We love contributions.

[2021-12-13 18:08] akshjain83 commented on #557
Sounds good, I am on it.

[2021-12-13 20:49] akshjain83 commented on #557
@interesaaat Added this PR: https://github.com/microsoft/hummingbird/pull/558

I will move comms to the PR itself on next steps. Thanks.

[2021-12-14 19:25] ksaur commented on #557
Closed with #558 thank you!

[2021-12-14 19:25] #557 closed, assigned to akshjain83

[2021-12-15 00:10] ksaur commented on #556
Ok, the PR [as-is ](https://github.com/microsoft/hummingbird/pull/554/commits/8ab21d5e342d32751e4654406d60f5ca2bc326db)currently fixes the dimensions problem shown above.  Now all of the tests pass.....but....never return...

The NEW problem (also described in the PR #554 ) is that the **onnx tests involving strings hang indefinitely** after printing the "all tests pass" message.

For example, `te

[2021-12-15 00:55] ksaur commented on #556
Trying to sort out if it's **only** with `torch.from_numpy` in the codepath+ONNX, or if some other issue.

Looking quickly at two test files (`extra` and `label encoder`):

SKL: finishes all

ONNX Hangs:
* [test_extra_conf.py](https://github.com/microsoft/hummingbird/blob/main/tests/test_extra_conf.py): (most of these don't use strings, still hangs)
  * test_onnx_one_thread
  * test_onnx_deafault_

[2021-12-15 01:09] ksaur commented on #556
Turns out, in [_label_encoder_implementations.py#L44](https://github.com/microsoft/hummingbird/blob/main/hummingbird/ml/operator_converters/_label_encoder_implementations.py#L44), changing:

[code]
to
[code]

works!  Which...yay!  But also...yikes! This seems bad.  Also, it does not explain why this only is necesary in the ONNX code path but not SKL.

[2021-12-16 00:32] ksaur commented on #556
Ok, using best [tensor copying practices](https://stackoverflow.com/questions/55266154/pytorch-preferred-way-to-copy-a-tensor)   (ex:[ this commit](https://github.com/microsoft/hummingbird/pull/554/commits/65034555fb65aed914b3e4043924dfebcc7df30f)), it's passing.

It's not clear how the ONNX session is using the tensor that requires this copy (vs SKL which doesn't), but fortunately this extra clon

[2021-12-16 00:55] #556 closed, assigned to nobody

[2022-01-07 19:49] meta opened #561 "incompatible with XGBoost 1.5.0 due to breaking model format changes"
In xgboost 1.5.0 release, a breaking change is introduced to the model format causing this error when trying to use `convert`:
[code]
The error happens because this line: https://github.com/microsoft/hummingbird/blob/main/hummingbird/ml/operator_converters/xgb.py#L33

Previously, XGBoost seemed to use an indexed integer to store the feature name, but now it's changed to the alphabet name of the fe

[2022-01-07 20:14] ksaur commented on #561
Thanks, yes, this is a problem currently.  (Linking #551 as well)
And thank you for providing details, that will help us troubleshoot!

[2022-01-07 20:29] ksaur commented on #561
Digging in:  It seems in the [pipeline](https://github.com/microsoft/hummingbird/runs/4541815211?check_suite_focus=true) run we do `Downloading xgboost-1.5.1-py3-none-manylinux2014_x86_64.whl`, which means our tests aren't catching this some how.  [Codecov](https://app.codecov.io/gh/microsoft/hummingbird/blob/main/hummingbird/ml/operator_converters/xgb.py) says that we hit that line, but there mus

[2022-01-07 21:46] interesaaat commented on #561
Yea how is that we don't hit this in our pipeline?

[2022-01-07 22:00] ksaur commented on #389
Can we close this since we support lgbm>=3 and we concluded that it wasn't the cause?  It seems like the issue here is now just in #245 ?

[2022-01-07 22:45] ksaur commented on #561
@meta can you share more of your test code so we can repo the error?

[2022-01-07 23:00] interesaaat commented on #389
Yes let's close this one. Thanks!

[2022-01-07 23:00] #389 closed, assigned to interesaaat

[2022-01-08 00:32] meta commented on #561
sure, here's the repro notebook:
https://github.com/meta/notebooks/blob/main/hummingbird_xgboost.ipynb

[2022-01-08 00:54] interesaaat commented on #561
Ok so apparently the problem is pandas used for training.

If you change ` xg_reg.fit(X_train, y_train)` with `xg_reg.fit(X_train.to_numpy(), y_train.to_numpy())` it should work.

For predict you can still use pandas, so you can do `xg_torch.predict(X_test)`.

[2022-01-08 00:55] interesaaat commented on #561
Still we will try to fix the pandas problem for training because it is not that convenient to force users to use numpy for training xgboost models.

[2022-01-08 17:50] #561 closed, assigned to nobody

[2022-01-12 22:31] #555 closed, assigned to nobody

[2022-02-01 18:07] fgrosa opened #563 "Error in ONNX conversion"
I tried to run the following script based on the example in the `README.md` changing backend from `pytorch` to `onnx`:

[code]

Everything works as expected, but at the end of the execution I get the following error:

[code]

Is there something wrong in my installation or is something in the `onnx` conversion?

[2022-02-01 18:14] ksaur commented on #563
Hello and welcome!  We have not seen that error before, and I'm pretty sure I personally have hit all errors onnx has to offer. :-D So  I do not think it is specific to Hummingbird, but let's see. |
What platform are you using? Does it happen to be related to [this rclpy/#805 ](https://github.com/ros2/rclpy/issues/805)?  Can you tell us a little more about your system and versions?

[2022-02-01 18:39] fgrosa commented on #563
Hi @ksaur thanks for the quick reply! Indeed it looks like the same error, not sure if it is related.
My platform is the following:

- Operating System: MacOS, 11.6.1 (non M1)
- Installation type: pip
- Version: hummingbird_ml[extra]>=0.4.2

[2022-02-01 19:17] ksaur commented on #563
Ok, and do I understand correctly that it only happens when you change from `torch` to `onnx` for the convert?  Is it possible that you just use `torch` instead?

Also, does it still happen when you kill python, and THEN call `load` on the model?  You are able to still run predictions?

[2022-02-02 08:07] fgrosa commented on #563
It is correct, it happens only with `onnx`. Unfortunately currently I need to use `onnx` because I need to apply the models on `c++` and in our framework we use `ONNXRuntime` for this.

If I `load` the converted model and I call `predict` on a test sample, I get the correct output. The error only appears when I call `convert`.

[2022-02-02 17:34] ksaur commented on #563
Hmm ok.  Can share with us the full stack trace we can see where the error is in convert and try to sort it out? Also share version information on OS/GPU/Python/onnx libs?  I'm assuming you installed [onnxruntime-gpu](https://pypi.org/project/onnxruntime-gpu/) as opposed to regular [onnxruntime](https://pypi.org/project/onnxruntime/)?

I am curious...does it work on your platform if you instead in

[2022-02-02 18:34] fgrosa commented on #563
We are indeed working with `CPU` and therefore `onnxruntime` already. In principle we needed older versions of `onnx`,  `onnxruntime`, and `onnxmltools` (`onnx==1.8.0`,  `onnxruntime==1.7.0`, and `onnxmltools==1.7.0`), but I tried also with the latest versions I get no error, however it remains stuck after the last line and does not exit the script. I also tried by installing the `sklearn-onnx` th

[2022-02-02 22:04] ksaur commented on #563
If it is CPU-only, then I am surprised it doesn't work because we have tested onnx+cpu+mac quite a bit! Are you running the exact code above, or any modifications?   What version of Python?

In the past, we've used [this](https://stackoverflow.com/questions/3702675/how-to-catch-and-print-the-full-exception-traceback-without-halting-exiting-the) to force traceback:
[code]

For CentOS7, I would expe

[2022-02-03 01:26] ksaur commented on #563
I tried just now on CentOS7 with the above code with the older onnx versions and wasn't able to reproduce the error; it worked as expected, so I'm not sure.

[2022-02-03 15:09] jfrery opened #564 "tree_implementation parameter gets overwritten with onnx backend"
Hello,

I have been trying to use the gemm with onnx backend but the onnx graph did not really look like we were using gemm tree implementation:
[code]
It seems that the `tree_implementation` parameter gets overwritten deeper in the code:

[code]
I am not sure why this is done tho? Removing this part gives me back the expected behavior.

Could you give a bit more info on what is the point of this?

[2022-02-03 16:19] ksaur commented on #564
Hi @jfrery , I think there is an open issue on this [#199](https://github.com/microsoft/hummingbird/issues/199#issuecomment-660321825).

@interesaaat any thoughts?   It's possible that there have been upstream patches since then that could fix this, or did PR #211 already help with this?

[2022-02-03 17:15] interesaaat commented on #564
Yes it could be that with the newest version they fixed the problem. @jfrery we had to pin the tree implementation for onnx because of a bug on onnx runtime. Can you please share your onnx + onnxruntime versions? We can try to remove the check and see if it works in our tests.

[2022-02-04 06:28] shubh0508 opened #565 "Improper converter check"
Can someone please check this [converter check](https://github.com/microsoft/hummingbird/blob/2705c42585ac1d3ee69e65a93e5f59d7d42f44d5/hummingbird/ml/_topology.py#L205) in topology.py?
Shouldn't it be a `if converter is None:` ?

Or am I just missing something in the flow?

[2022-02-04 08:43] jfrery commented on #564
Thanks for the info. Here are the versions I am using:
[code]
If I can be of any help here I would be glad to help.

[2022-02-04 17:28] ksaur commented on #565
Hi @shubh0508 Yes it definitely looks like the case!  Would you like to submit a PR fixing it? We value your contribution! :)

[2022-02-04 17:49] interesaaat commented on #564
Yes, we love contributions! So if you want to submit a PR which removes the pin of the tree model to `tree_trav` it would be great!

One thing is, can you try to do an investigation on which version of pytorch breaks the conversions? You can leave your onnx dependencies as is, and try to downgrade pytorch until the conversion using gemm returns an exception. In your PR you can then uncomment the l

[2022-02-05 08:45] jfrery commented on #564
Yes of course I will prepare that. I think it is better to raise an exception rather than overwrite the parameter given by the user if the pytorch version is too low.

Does this sound right? I will have a PR soon.

[2022-02-05 11:13] jfrery commented on #564
Is there a reason why this line takes in the `onnx_ml_model` rather than `model`:

https://github.com/microsoft/hummingbird/blob/2705c42585ac1d3ee69e65a93e5f59d7d42f44d5/tests/test_onnxml_decision_tree_converter.py#L37

I am not sure what we are trying to test by sending the `onnx_ml_model` here.

It seems that this test is breaking with `tree_implementation="gemm"` with the following error:
<deta

[2022-02-05 17:14] ksaur commented on #564
These tests are a little bit confusing due to sooo many different types of conversions.  (We should add more comments to our tests!)

There are two different types of conversions we can do:
1) **converting scikit-learn into onnx (vectorized with HB)**
So in this test, we would just convert `model` as you mentioned, which works as expected.  This was your original use case!

2) **converting  onnx-m

[2022-02-05 23:01] interesaaat commented on #564
It looks that this error is coming from the onnxruntime. To bypass this, we can force onnxml models to not use `gemm`, and open an issue regarding this.

You can `extra_config[constants.TREE_IMPLEMENTATION] = "tree_trav"` somewhere [in this method](https://github.com/microsoft/hummingbird/blob/2705c42585ac1d3ee69e65a93e5f59d7d42f44d5/hummingbird/ml/convert.py#L152). In this way sklearn models will

[2022-02-09 19:28] #564 closed, assigned to nobody

[2022-03-10 19:29] ksaur commented on #563
Hi @fgrosa I'm going to close this since I couldn't reproduce it. If you are still stuck, please reopen or file another issue! Thanks!

[2022-03-10 19:29] #563 closed, assigned to nobody

[2022-03-10 19:34] ksaur commented on #547
Hi @xesdiny, are you able to share your code so we can check this?

[2022-03-10 20:02] ksaur commented on #380
@ValentinMuhr I'm going to close this due to staleness; if you are still blocked or can share the datatset with us, please reopen or file a new one, thanks!

[2022-03-10 20:02] #380 closed, assigned to interesaaat

[2022-03-10 20:03] #154 closed, assigned to nobody

[2022-03-10 20:04] ksaur commented on #176
@onacrame Closing this due to staleness; if you are still blocked please reopen!

[2022-03-10 20:04] #176 closed, assigned to nobody

[2022-03-11 18:33] #565 closed, assigned to nobody

[2022-03-12 03:26] congnt-dsv opened #571 "Use hummingbird with synapseML"
Can we use hummingbird with synapseML model?

[2022-03-12 03:38] congnt-dsv commented on #571
I want to convert this model, but current have problems.
![image](https://user-images.githubusercontent.com/43123781/158002273-81dde16d-c8ea-4776-b6a1-56e2c1086345.png)
![image](https://user-images.githubusercontent.com/43123781/158002282-70a52702-3a89-40fc-9d4f-fd31d508e18a.png)

[2022-03-12 17:28] interesaaat commented on #571
Hi! I assume this is LightGBM from SynapseML, right? The trace is truncated but since it is going into `_convert_sparkml` I presume that is the case. So if this is true, we don't currently support the LightGBM implementation in SynapseML (although we support the original LightGBM library). I think it is possible to add the SynapseML LightGBM support into Hummingbird if you need it. Question: are y

[2022-03-14 01:03] congnt-dsv commented on #571
Hi! Thank you for your quick response.
I'm using CPU and have to find method to speedup prediction step.

[2022-03-15 01:02] #571 closed, assigned to nobody

[2022-04-18 09:01] Qianxi opened #573 "The sample in README seems not correct"
Hello,

I am trying to understand how Hummingbird works by sample in README, but I have a problem with the matrix C.
The second and third rows of the matrix C seems incorrect. If the input feature is [1.5, 6, 3.5, 5, 4], then input path is [1, 1, 0, 1], the product of input path and matrix C will be [2, 2, 0, 0, -2], and the output path is [1, 1, 0, 0, 0].

I think the matrix C should be like this

[2022-04-22 21:33] carolinemckee opened #574 "KernelPCA + PyTorch"
Hello,
I'm trying to utilize GPU with Pytorch backend to speed up a Kernel PCA operation. However, when I convert to Pytorch, it ends up taking about 9x longer to run the .transform() function.
Additionally, I'm not seeing any GPU utilization at all.
Sklearn: 0.8 seconds
Pytorch + CPU: 7.8 seconds
Pytorch + GPU (supposedly, but again, not seeing any GPU utilization): 7.9 seconds

Would it be possi

[2022-04-22 21:38] ksaur commented on #574
Hello! Can you please post what version of torch you are using, and some of your code so we can troubleshoot?

[2022-04-22 21:50] carolinemckee commented on #574
Pytorch Version: 1.6.0+cu101

print(torch.cuda.is_available()) #prints True
KPCA = KernelPCA(n_components=8, kernel='rbf', degree=3, gamma=5e-4)
KPCA.fit_transform(train_data)
KPCA_pytorch = convert(KPCA, 'torch')
KPCA_pytorch.to('cuda')

t1 = time.time()
infer_output = KPCA_pytorch.transform(infer_data)
print('Time to infer:', time.time() - t1)

[2022-04-24 00:55] ksaur commented on #574
I expect this model to be slower on torch+cpu than native scikit-learn (due to redundancies introduced by hummingbird, many models are slower on Torch+CPU), but I wanted to dig into your GPU numbers!

I was able to reproduce this with torch==1.6 (and also torch==1.9 which i was hoping would fix); you're right, i think the GPU is not engaged/fully utilized.  Thoughts @interesaaat / @scnakandala?

[

[2022-04-25 15:04] carolinemckee commented on #574
Thank you for looking into this! Hopefully you can find a way to utilize the GPU.
I'm curious- with regards to the Torch+CPU version, is there a way to mitigate the redundancies introduced by hummingbird? 9x longer than native scikit-learn is a huge difference...

[2022-04-25 15:42] ksaur commented on #574
Thanks for reporting the issue!
The redundancies with Torch+CPU are required for the model to work with torch/tensors. Often, the Torch+CPU prediction time is the same speed or faster than SKL, but not in all cases (such as this one)...it really depends on the underlying data structure. It's these redundancies that lead to the huge speedup when loaded as tensor into the GPU!

[2022-04-25 17:33] ksaur commented on #574
Ok good news, @interesaaat found the bug where we didn't load the parameters into the model when we initialize it.  And if there is no parameter we just go with cpu.

With this fix (PR + patch release incoming soon), it's also faster on torch+CPU as well. :)  This is with torch==1.11 which has improved a lot the cpu kernels

[code]

I'll try to get the release out later today.  Thanks again for po

[2022-04-25 17:49] carolinemckee commented on #574
Thank you!!

[2022-04-25 17:53] interesaaat commented on #573
Thanks @Qianxi! You are right, good catch! We are going to contact who generate the figure and see whether they can fix it.

[2022-04-25 21:19] #574 closed, assigned to interesaaat

[2022-04-25 22:16] ksaur commented on #574
@carolinemckee Please `pip install hummingbird-ml==0.4.4` and you should be all set!

[2022-04-25 22:17] carolinemckee commented on #574
Thank you so much! Appreciate the quick fix :)

[2022-04-25 22:52] carolinemckee commented on #574
@ksaur @interesaaat
Just some quick feedback looking at the code- in the newly changed lines 40, 42, and 48 of hummingbird/ml/operator_converters/_decomposition_implementations.py which define the torch.nn.Parameter variables needed to run the model on GPU, the argument "requires_grad" is not specified. When not specified, it defaults to True, meaning memory is being allocated for backpropogration

[2022-04-25 22:56] interesaaat commented on #574
Good catch @carolinemckee! Let me quickly fix it.

[2022-04-26 08:44] vumichien commented on #573
@Qianxi Thank you very much! You are right, it's my mistake, I will change with the correct one.

[2022-04-27 06:36] #573 closed, assigned to nobody

[2022-06-05 22:57] ksaur opened #584 "New scikit learn release breaks SklearnHistGradientBoostingClassifier tests"
In the [pipeline](https://github.com/microsoft/hummingbird/runs/6732643088?check_suite_focus=true) we hit an issue with `scikit-learn==1.1.1`.  These are all related to a shape mismatch in `HistGradientBoostingClassifier`.

example:
[code]
We get this same error on 10 of our tests (9 in `test_sklearn_histgbdt_converters.py` and 1 in `test_sklearn_decomposition.py`.  For now (in #582) we pinned `"s

[2022-06-08 08:36] jaehyeongAN opened #585 "Add support 'sklearn.neighbors._nca.NeighborhoodComponentsAnalysis'"
[sklearn.neighbors._nca.NeighborhoodComponentsAnalysis](https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.NeighborhoodComponentsAnalysis.html) is an algorithm that uses a technique similar to k nearest neighbors to find a space in which neighborhoods of points sharing the same labels are tighter than points with different labels.
NCA  is very powerful if using with K-Nearest Neig

[2022-06-08 20:30] interesaaat commented on #585
Hi @jaehyeongAN! I can take a look at this and let you know.

[2022-06-10 18:28] #530 closed, assigned to interesaaat

[2022-06-13 13:43] ezecarrascosa commented on #245
Hi,
 I am trying to convert my LightGBM trained model using hummingbird but I am getting the same error
(ValueError: could not convert string to float: '2||5||13||18').
Are the categorical features still not supported?

Version:
hummingbird-ml = 0.0.4

[2022-06-14 15:48] ksaur commented on #245
Yes, sorry, categoricals still aren't implemented in LGBM as of `0.4.4`.

[2022-06-14 19:49] searope opened #587 "output with shape [369, 1] doesn't match the broadcast shape [1, 1, 369, 1]"
I have a sklearn's HistGradientBoostingRegressor trained on [369, 80] data to output [369, 1] result. After converting it to Hummingbird model, I'm getting this error on the very same data.

[2022-06-14 19:54] ksaur commented on #587
Hi @searope  yes we have an issue #584 with this!

Please downgrade `"scikit-learn>=0.21.3,<1.1.0"` your scikit-learn temporarily; we plan to have a proper fix soon!

[2022-06-15 00:09] searope commented on #587
Downgrading to scikit-learn==1.0.2 did the trick. Thank you very much.
I'm seeing 2-3 times speed improvement in prediction. Impressive!

[2022-06-15 03:47] ksaur opened #589 "Code coverage"
Code coverage dropped to 80% from 90% unexpectedly. TODO: investigate

[2022-06-15 04:16] ksaur commented on #589
It looks like the ONNX tests were skipped?
https://app.codecov.io/gh/microsoft/hummingbird/compare/581/changes
https://app.codecov.io/gh/microsoft/hummingbird/commit/65de4b21fbcefa172afaa31f9a2af3590b43a111

[2022-06-15 06:34] mshr-h commented on #589
I think that's true.

[Bump TVM to v0.8 (#581) · microsoft/hummingbird@65de4b2](https://github.com/microsoft/hummingbird/runs/6836144312?check_suite_focus=true)
[code]

[Fix problem with new onnx and protobuf (#582) · microsoft/hummingbird@a67e237](https://github.com/microsoft/hummingbird/runs/6747809647?check_suite_focus=true)
[code]

[2022-06-15 10:36] mshr-h commented on #589
With `onnxmltools==1.11.1`, `import onnxmltools` will fail and report an error below.
With `onnxmltools==1.11.0`, it works fine.
I think we have to use `onnxmltools==1.11.0`.

[code]

[2022-06-15 21:10] #584 closed, assigned to nobody

[2022-06-15 21:10] #587 closed, assigned to nobody

[2022-06-16 17:53] #589 closed, assigned to nobody

[2022-06-18 02:40] mshr-h opened #595 "[Tracking issue] Bump TVM to v0.9.0"
They're preparing to release TVM v0.9.0 within a few months.
After it is released, we'll bump TVM to v0.9.0.
https://github.com/apache/tvm/issues/11736

[2022-06-21 22:04] cxie00 opened #597 "Hummingbird documentation document generation broken"
https://microsoft.github.io/hummingbird/api/hummingbird.ml.supported.html among other links display blank pages. The documentation is missing.

[2022-06-21 22:28] ksaur commented on #597
Thank you, you're right. We just had some pipeline changes, so it seems something is broken. We'll take a look.

[2022-06-22 03:34] ksaur commented on #597
Update: the last PR where we deprecate `torch==1.7` causes the doc generation to fail.

For some reason, the docs only generate with torch==1.5 (due to a conflict), so I pinned doc generation to the working eversion. But now that we mandate `torch>1.7`, it [errors out](https://github.com/microsoft/hummingbird/runs/6989934612?check_suite_focus=true) in the "Generate Documentation" phase (`Assertion

[2022-06-22 18:22] asprasad opened #600 "Performance Issues Using the TVM Backend"
I am running inference on an XGBoost model using Hummingbird on a desktop CPU target. I've installed Pytorch, Hummingbird and TVM into a conda environment (TVM was built from source and linked to llvm-10). I have trained models serialized into XGBoost JSONs and am creating XGBoost sklearn objects from them. I am able to compile these models using Hummingbird and run them. My python code to run on

[2022-06-22 18:26] interesaaat commented on #600
Hi @asprasad, I think you are doing it right. You are measuring the performance on CPU right?

[2022-06-22 18:30] asprasad commented on #600
Hi @interesaaat, Yes, I am running everything on a CPU.

[2022-06-23 01:11] ksaur commented on #597
Ok the PR is in progress...for some reason I get a [segfault](https://github.com/microsoft/hummingbird/runs/7015107542?check_suite_focus=true) when building the doc (`free(): invalid pointer`).

It [worked](https://ksaur.github.io/hummingbirdtest/api/hummingbird.ml._topology.html) (meaning everything was successfully generated w/o issue) when I deployed it from my own account.

[2022-06-23 16:38] #597 closed, assigned to nobody

[2022-06-23 16:58] interesaaat commented on #600
Ok, can you share more info on the model characteristics? This is not what we usually see, TVM is in general much faster than pytorch. But maybe your model is far different than the ones we tested with.

[2022-06-23 17:23] asprasad commented on #600
Hi @interesaaat, Thank you for your response!

I'm using a variety of models and am seeing the same behavior for all of them (TVM not being faster than pytorch). For example, one of the models I'm testing with is trained from the airline data set using XGBoost (v 1.5). It has 13 features, 100 trees and a max depth of 9.

Here are some other system setup details that maybe relevant. I'm using pytor

[2022-06-23 17:37] interesaaat commented on #600
I am really not sure. Hummingbird should take care of triggering the optimizations on TVM so it should be automatic from your side. Maybe PyTorch improves so much in 1.11? Or TVM has worst performance in 0.9? (we tested up to 0.8 I think) How are the performance of TVM and PyTorch compared to the original models?

[2022-06-23 18:53] asprasad commented on #600
I haven't measured the performance of the original models. I will try installing an earlier version of TVM from conda-forge rather than building it myself and see if that resolves the problem.

[2022-06-24 17:55] ksaur commented on #431
@cxie00 :)

[2022-06-27 18:47] #533 closed, assigned to nobody

[2022-06-27 18:50] ksaur commented on #356
I think that #523 closed this, can you confirm @interesaaat ?

[2022-06-27 22:22] interesaaat commented on #356
I am not sure if that specific PR fixed this, but indeed we don't have anymore problems with xgb > 0.90, so we can clone this.

[2022-06-27 22:22] #356 closed, assigned to nobody

[2022-06-27 22:38] interesaaat commented on #318
We don't need this anymore because of [TQP](https://arxiv.org/pdf/2203.01877.pdf).

[2022-06-27 22:38] #318 closed, assigned to nobody

[2022-07-04 09:52] asprasad commented on #600
Hi @interesaaat, I found today that when I restrict the number of threads to 1, Torch and TVM are very similar in performance. With a higher number of threads, TVM is indeed faster than Torch as expected. I'm not sure why this is the case though. I will close this issue as it seems like the problem was that I was running single threaded.

[2022-07-04 09:52] #600 closed, assigned to nobody

[2022-07-08 04:41] mshr-h opened #606 "Remove the `except` part and use `n_features_in_` everywhere"
Related to https://github.com/microsoft/hummingbird/pull/605#discussion_r916084923

[2022-07-12 06:35] SangamSwadiK commented on #464
@ksaur  Hi ! First time contributor to humming bird, Can I please take up this issue ?

[2022-07-12 08:38] SangamSwadiK commented on #464
I guess  #579  closes this.

[2022-07-12 08:44] SangamSwadiK commented on #457
@ksaur Hi, First time contributor to hummingbird, Can I please take up this issue ?
Thanks.

[2022-07-13 16:45] #457 closed, assigned to nobody

[2022-07-21 12:55] mshr-h commented on #477
Is anyone working on this?

[2022-07-21 15:38] interesaaat commented on #477
Nope. I can assign it to you if you want to give it a try.

[2022-07-23 06:04] mshr-h commented on #477
I see.
We're internally considering optimizing the classification model (such as GaussianMixture) by using Hummingbird but haven't decided which model to use.
I'll put a comment before we start to work on adding GaussianMixture support to Hummingbird.

[2022-07-28 03:58] mshr-h commented on #595
We may be able to use the official pip package.
[apache-tvm · PyPI](https://pypi.org/project/apache-tvm/).

[2022-08-02 04:45] #595 closed, assigned to nobody

[2022-08-02 12:55] mshr-h opened #611 "[CI] TVM cache is broken"
https://github.com/microsoft/hummingbird/issues/586#issuecomment-1201529514_

Link to the CI result page: [Add Python 3.10 · microsoft/hummingbird@3c52b20](https://github.com/microsoft/hummingbird/runs/7615498689?check_suite_focus=true)

TODO: investigate

ideas worth trying
- [ ] execute build even if TVM cache is hit
- [ ] try to create pip package and only cache it (do not cache the entire TVM

[2022-08-03 03:33] ksaur commented on #611
This seems to happen about once every 4-8 weeks.  I'm not sure if it's something we can control (on github's end?  I think?).  It's definitely been going on for a while  ([example](https://github.com/microsoft/hummingbird/issues/506))!

[2022-08-03 17:55] jppgks opened #613 "Make onnx dependencies optional"
hummingbird-ml depends on onnxconverter-common. onnxconverter-common 1.12 introduced a dependency on onnxruntime. We had to pin onnxconverter-common: https://github.com/ludwig-ai/ludwig/pull/2347.

At Ludwig, we do not use the onnx features from hummingbird, so we'd like to avoid having to install them.

[2022-08-03 18:19] ksaur commented on #613
We use `onnxconverter-common` in our internal IR.  I'm not sure why onnxconverter-common 1.12 introduced a dependency on onnxruntime  (https://github.com/microsoft/onnxruntime/issues/11640).

@xadupre Do you have any suggestions?

As a temporary fix, since we already have `"onnxmltools>=1.6.0,<=1.11.0"` in the [optional deps](https://github.com/microsoft/hummingbird/blob/main/setup.py#L36) due to

[2022-08-03 19:55] xadupre commented on #613
I'll look into that. This is a surprise to me. There is no mention of onnxruntime in onnxconverter-common on github.

[2022-08-04 08:28] mshr-h commented on #613
HB 0.4.4 depends on `onnxmltools>=1.6.0`. The `onnxmltools==1.12.0` tries to import [onnxconverter-common.auto_mixed_precision.py](https://github.com/microsoft/onnxconverter-common/blob/master/onnxconverter_common/auto_mixed_precision.py) which [depends on onnxruntime](https://github.com/microsoft/onnxconverter-common/blob/master/onnxconverter_common/auto_mixed_precision.py#L29).
I think that's wh

[2022-08-05 20:37] interesaaat commented on #611
Still failing :(

[2022-08-05 22:02] ksaur commented on #611
Right, the time we did get the green checkmark, it was because it rebuilt from scratch (which of course took 51 minutes...)

This is a new level of broken I think! 🤣

[2022-08-05 22:03] ksaur commented on #611
Apparently we can somehow [clear it](https://docs.github.com/en/rest/actions/cache#delete-github-actions-caches-for-a-repository-using-a-cache-key) with the API

[2022-08-08 02:48] xiaowuhu commented on #613
update onnxconverter-common to 1.12.1 to fix this issue, please have a try.

[2022-08-08 15:36] ksaur commented on #611
One weird thing...when I run the github API (to delete the MacOS TVM caches so we can move forward temporarily by rebuilding), I only ever see the MacOS ones saved.

I see the following  cache keys:
`key": "macOS-7-3.9-tvm-0.9", "key": "macOS-7-3.10-tvm-0.9","key": "macOS-7-3.8-tvm-0.9","key": "macOS-6-3.9-tvm-0.9","key": "macOS-6-3.10-tvm-0.9","key": "macOS-6-3.8-tvm-0.9",`

It looks like #609 ch

[2022-08-08 16:11] ksaur commented on #611
Ah ok, nevermind. i see that on [line 80](https://github.com/microsoft/hummingbird/blob/main/.github/workflows/pythonapp.yml#L80) we always pip install Linux TVM now.

I was just trying to think back to a time when the cache worked more consistently and if something unexpected changed!

[2022-08-09 03:50] mshr-h opened #620 "[CI] Upgrade Ubuntu to 20.04 or 22.04"
[The Ubuntu 18.04 Actions runner image will begin deprecation on 8/8/22 and will be fully unsupported by 12/1/22 · Issue #6002 · actions/runner-images](https://github.com/actions/runner-images/issues/6002)

[2022-08-09 04:04] #613 closed, assigned to nobody

[2022-08-10 16:12] #606 closed, assigned to nobody

[2022-08-10 16:51] #611 closed, assigned to nobody

[2022-08-18 06:15] zhangjian94cn commented on #600
Hi @asprasad, does version 0.4.5 have supported tvm backend? When I using convert function, it just tell me 'MissingBackend'.

[2022-08-18 06:34] asprasad commented on #600
Hi @zhangjian94cn, I built TVM locally and setup the python bindings as [documented on the TVM website](https://tvm.apache.org/docs/install/from_source.html#developers-get-source-from-github). Installing TVM (through conda) gave me the same error. Hope this helps!

[2022-08-18 11:50] zhangjian94cn commented on #600
@asprasad  Thank you very much！

[2022-08-19 06:33] zhangjian94cn opened #622 "Question about Hummingbird performance on XGB-example.ipynb file."
I'm testing hummingbird performance in my computer which has **Intel Xeon CPU E5-2697 v2 @2.70Ghz with 48 cores**.
In your OSDI 2020's paper, you used NC6 v2 machine machine equipped with **Intel Xeon CPU E5-2690 v4 @2.60Ghz (6 virtual cores)**.

However, I found ours results were slower than yours. When testing XGB-example.ipynb file, I found that it consumed **700+ ms** to finish running Humming

[2022-08-19 15:24] ksaur commented on #622
Hi @zhangjian94cn !  Thanks for trying out Hummingbird. :)

Even though you used the same hardware, since these numbers are from early 2020, lots of new software has likely been released in the past 2.5 years, so I don't expect performance to be the same as in the paper even though you used the same underlying hardware.   For example, we found a performance regression with pytorch between v1.5 and

[2022-08-19 15:28] interesaaat commented on #622
To add to what Karla says, we usually gets the best performance using the TVM backend. PyTorch does not parallelize all the kernels on CPU so it is not surprise that having more cores does not help much with the performance. TVM should be better in this respect.

[2022-08-19 15:30] interesaaat commented on #600
@asprasad to answer to your previous question. PyTorch doesn't do a great job in parallelizing kernels on CPU, while TVM is better.

[2022-08-19 17:41] ksaur commented on #551
closed with #562

[2022-08-19 17:41] #551 closed, assigned to nobody

[2022-08-19 17:50] ksaur commented on #311
closed with #607

[2022-08-19 17:50] #311 closed, assigned to nobody

[2022-08-19 17:57] ksaur commented on #282
Closed with #523

[2022-08-19 17:57] #282 closed, assigned to nobody

[2022-08-20 02:41] zhangjian94cn commented on #622
@interesaaat @ksaur Thanks for your response! I'm trying to evaluate several inference frameworks which can accelerate the speed of prediction, such as hummingbird, FIL and so on. Therefore, I want to set a reasonable environment to evaluate these methods fairly.

Considering the version of current library (newest pytorch's version is 1.12), any suggestion could you provide to help me set the reas

[2022-08-22 13:02] fd0r opened #624 "Add support for Lasso, Ridge and ElasticNet"
There is no support for Lasso, Ridge and ElasticNet at the moment.

It should be fairly easy to add since the inference is the same as for LinearRegression.

[2022-08-22 16:05] ksaur commented on #624
Thanks I added it to the [list](https://github.com/microsoft/hummingbird/wiki/Roadmap-for-Upcoming-Features-and-Support#other-features-requested) of requested features! I'm not sure when we'll get to this, but I labeled it as "help wanted" in the meantime!

[2022-08-23 17:00] ksaur commented on #622
If you don't have a hard requirement on Pytorch, then TVM is the fastest backend. You can look at our pipeline for how to install it depending on your platform ([example](https://github.com/microsoft/hummingbird/blob/main/.github/workflows/pythonapp.yml#L80)).

The NC6 v3's are considerably faster than the NC6 v2, so that also is a useful option.

Please let us know if you hit any issues or have m

[2022-08-25 01:35] zhangjian94cn commented on #622
@ksaur Thank you very much!

[2022-08-25 01:35] #622 closed, assigned to nobody

[2022-08-25 15:32] Economax opened #626 "Support for hinge loss on Sklearn SGDClassifier"
Ref error message from hummingbird-ml:

Simple enough to get around using squared_hinge, but it yields a significant performance loss compared to hinge, at least for a single epoch.

Hummingbird version: '0.4.5'

Ran on Python 3.9.12 (main, Jun  1 2022, 11:38:51)
[GCC 7.5.0] :: Anaconda, Inc. on linux.

Simple to reproduce, see code below:

[code]

[2022-08-26 20:21] timkoval opened #627 "Cannot find any way to use batching for Pytorch model"
Hi!

I'm currently using your solution to convert LGBM model to Pytorch but since I got `CUDA out of memory` error I would like to use batching to solve this problem.
I've seen  #187 but I can't find out how to use the solution that has been added. I've actually couldn't find any code related to this feature in your sources (maybe it was removed).

I would appreciate if you can help me somehow. Th

[2022-08-26 22:54] ksaur commented on #626
Thanks, we'll look into what needs to be done to add this param.  I don't remember there being a technical reason for why it wasn't added originally

[2022-08-26 22:55] ksaur commented on #627
Hi, What batch size are you using for inference?  Can you please provide more details about your dataset?

[2022-08-27 10:13] timkoval commented on #627
I actually couldn't find any information about how I can use batch inference on `PyTorchSklearnContainerRegression` model. Do you have any tutorial or docs on how to make predictions by batch?

[2022-08-28 17:21] ksaur commented on #627
By batch inference, I mean how many rows/columns are in your dataset?  In this [notebook](https://github.com/microsoft/hummingbird/blob/main/notebooks/LGBM-example.ipynb) in cell [5], we call `hb_model.predict(X)` where `X` is `X = np.random.rand(200000, 28)`.  This means that 200,000 rows with 28 columns are going into the GPU, which might cause an OOM.  You could break that 200,000 into a for-lo

[2022-08-29 16:16] #620 closed, assigned to nobody

[2022-08-29 17:34] #624 closed, assigned to nobody

[2022-08-31 12:21] melanciani opened #629 "Conversion of linear models fails when fit_intercept set to False"
Hi!

I've encountered a conversion error when trying to convert linear models when fit_intercept is set to False ! A PR will follow as I believe I have found the issue

Code to reproduce :
[code]

Error :
`AttributeError: 'float' object has no attribute 'reshape'`

[2022-08-31 17:06] ksaur commented on #627
I will close this for now, please let me know if that didn't work for you and we can reopen!

[2022-08-31 17:06] #627 closed, assigned to nobody

[2022-08-31 17:37] #629 closed, assigned to nobody

[2022-09-09 18:45] SystemicCypher opened #632 "Support for XGBoost Booster (XGBoost native api)"
Is there planned support for XGBoost's Boosters?

When attempting to convert an XGBoost model I end up with this error
`MissingConverter: Unable to find converter for model type <class 'xgboost.core.Booster'>`

Using the native xgboost api has some benefits, but it would be nice to be able to convert it to a tensor model.
Is there a way to wrap it with an object that implements the sklearn api for

[2022-09-10 00:53] interesaaat commented on #632
Hi! It shouldn't be too hard support for Booster. Internally we get the model parameters from Booster so it is just a matter of fixing the conversion code I think.

[2022-09-16 07:33] mshr-h opened #633 "Add support for `sklearn.mixture.BayesianGaussianMixture`"
[sklearn.mixture.BayesianGaussianMixture — scikit-learn 1.1.2 documentation](https://scikit-learn.org/stable/modules/generated/sklearn.mixture.BayesianGaussianMixture.html)

We're currently working on it. After we've completed our internal implementation, we'll create a PR for it.

[2022-09-17 18:52] mahidhar96 opened #634 "Unable to build GPU"
I keep getting the following error when I try to benchmark the Hummingbird for TorchScript(GPU) for larger batch sizes(batch_size> 10000).

[code]

Here's my code:
https://github.com/asu-cactus/netsdb/blob/41-decisiontree-gpu/model-inference/decisionTree/experiments/test_model.py
(line 260)

This is my model:
https://github.com/asu-cactus/netsdb/blob/41-decisiontree-gpu/model-inference/decisionTre

[2022-09-17 19:06] interesaaat commented on #634
Hi! Does this work for smaller batch sizes? It could be some problem with trying to allocate too much memory.

[2022-09-19 19:13] ksaur commented on #547
Closing due to timeout, please reopen if required!

[2022-09-19 19:13] #547 closed, assigned to nobody

[2022-09-20 19:39] mahidhar96 commented on #634
Yes it works for batch_size < 10000. I'm clearing CUDA memory before running the benchmark, but in general if it is a memory issue we get a different error something similar to this
[code]

but the above error is different from this.

[2022-09-23 21:50] ksaur opened #636 "Protobuf vulnerability"
From the new [microsoft/hummingbird/security/dependabot/1](https://github.com/microsoft/hummingbird/security/dependabot/1), we need to update `protobuf>=3.20.2` in `setup.py`.

However, this version doesn't work yet with onnx (See PR #635) :

[code]

We can try to update this later when onnx supports this

[2022-09-27 20:40] mahidhar96 commented on #634
Hi, are there any updates on this issue?
To reclarify this is the error that I'm getting
[code]

[2022-09-27 21:05] interesaaat commented on #634
I would suggest to stick with smaller batch sizes. My hunch is that something is breaking because you are allocating too much memory, but the only way to know what is really going on is if you enable debugging, as the error suggested.

[2022-09-28 03:03] mshr-h commented on #636
Related issue and PR
https://github.com/onnx/onnx/issues/4545
https://github.com/onnx/onnx/pull/4535
https://github.com/onnx/onnx/pull/4629

[2022-10-04 01:35] hguan6 opened #638 "hummingbird/ml/convert.py does not support csr_matrix"
hummingbird/ml/convert.py", line 305, in `_convert_common` and `(is_spark_dataframe(test_input) or len(test_input) > 0)`
triggers an error `raise TypeError("sparse matrix length is ambiguous; use getnnz()"` in https://github.com/scipy/scipy/blob/942426af487a7e9b51fbc059c36ac5f69186d032/scipy/sparse/_base.py#L345
when the input is a Scipy csr_matrix.

[2022-10-04 03:35] interesaaat commented on #638
Thanks for reporting this. Can you please provide us a complete example?

[2022-10-04 04:02] hguan6 commented on #638
A complete example is here: https://github.com/asu-cactus/netsdb/blob/27c2e75e2015e4d1f59d9c8678b744bddc4bbf4e/model-inference/decisionTree/experiments/test_model.py#L159
It works fine when `features` is a NumPy array, but when the `features` is a csr_matrix, the above error will be triggered.

[2022-10-04 18:10] interesaaat opened #639 "skl2onnx 1.13 break a SVM test"
We had to pin skl2onnx to 1.12 in #637 because of a ONNX test failing for SVM.

[2022-10-06 00:29] interesaaat commented on #638
Can you please try if it works using [this branch](https://github.com/microsoft/hummingbird/tree/interesaaat-patch-1)?

[2022-10-07 20:03] hguan6 commented on #638
Thank you for your reply. I ran it with this new "convert.py" file, but I still got an error.

[code]

It seems like torch does not support conversion from csr_matrix to torch tensor.

[2022-10-07 20:48] interesaaat commented on #638
Of course. Can you try to make the sparse matrix dense and pass it to Hummingbird? I think it it works this would be the best option. Otherwise you can try with something like [this](https://gist.github.com/aesuli/319d71707a5ee96086aa2439b87d4e38) but I am not sure if this will break something later on again.

[2022-10-07 22:27] hguan6 commented on #638
Okay. Thank you.

[2022-10-07 22:27] #638 closed, assigned to nobody

[2022-10-18 02:14] GoHard2023 opened #641 "When convert a ml using backend of pytorch, how can I save the converted model into pytorch format?"
As titled. Is there a way I can save a converted model as pytorch format?

[2022-10-18 02:39] interesaaat commented on #641
You can find the tests [here](https://github.com/microsoft/hummingbird/blob/9e59b1e25947ac43a531115852c6b399c0ed5433/tests/test_backends.py#L100) showing how to do it with the different backends

[2022-10-18 03:07] GoHard2023 commented on #641
Thank you for replying! I walked over the test cases. I did not find the test code to save converted model as pytorch format. Maybe I was not clear enough. I want to the saved model can be loaded by some pytorch code.

Thanks.

[2022-10-18 04:36] interesaaat commented on #641
When you save a model we create a zip file containing a bunch of metadata and the model in the pytorch format (if you chose that as backend).

If you want just to save and load the pytorch model you can just do `hb_model.model.save(path)` and `torch.load(path)`. (the `model` attribute is a pytorch model). Doing this way however you will lose the Hummingbird metadata so you will have to convert the

[2022-10-18 12:54] GoHard2023 commented on #641
Thanks for the tip! `hb_model.model.save(path)` does not work out for me. I used `torch.save(hb_model.model.state_dict()) `to save the model as pytorch match I guess,

[2022-10-19 03:15] GoHard2023 commented on #641
By the way, is there a way that I can select only probability when converting random forest to pytorch in hummingbird?

[2022-10-19 03:20] interesaaat commented on #641
No. You can run ‘predict_prob’ to get the probabilities, but conversion is
the same.

On Tue, Oct 18, 2022 at 8:16 PM GoHard2023 ***@***.***> wrote:

[2022-10-26 22:25] ShulinChen opened #644 "Failure to convert a torch model(generated by hummingbird) to torchscript"
Context:
I have a use case which requires me to first train a XGB model, convert it to torch model through hummingbird, and later convert the torch model to torchscript. Note that converting XGB directly to torchscript model is not an option due to my use case. pseudo-code:
[code]

Stacktrace:
[code]

Things I have tried:
Instead of relying on scripting to convert torch to torchscript, I have also

[2022-10-26 23:04] interesaaat commented on #644
Hi! Yea tracing should definitely work because that is what we do internally when we generate TorchScript. We tried scripting time ago and it was hard to make it work in general. If you know exactly how many inputs do you have, maybe you can path Hummingbird and get rid of all the variable arguments. I will think a little bit more on this and see if there is another solution.

[2022-10-27 23:19] atomic commented on #644
@interesaaat does this means that "torch" model generated by hummingbird is fundamentally non-scriptable?

[2022-10-27 23:26] interesaaat commented on #644
As it is now probably yes. We can trace it, but not script it. I will take a look and see if we can solve this and make models also scriptable.

[2022-10-28 03:13] ShulinChen commented on #644
Hi @interesaaat, thanks for the confirmation. Would it be possible for you to provide a successful torch->torchscript conversion example through `trace`?
I tried to leverage the provided hummingbird example: https://github.com/microsoft/hummingbird/blob/main/notebooks/XGB-example.ipynb , but so far haven't had luck getting tracing to work yet. See the screenshot on how I tried to do the torch->tor

[2022-10-28 03:20] interesaaat commented on #644
Ah this should work out of the box if instead of using ‘torch’ when
converting the model you put ‘torch.jit’.

On Thu, Oct 27, 2022 at 8:13 PM ShulinChen ***@***.***> wrote:

[2022-10-28 03:32] ShulinChen commented on #644
@interesaaat Oh I do know that hummingbird can convert xgb to torchscript directly without issues. However, per what I have mentioned earlier:

A bit more context on my use case. Reason why I first convert XGB to torch is, that way I can stack the hummingbird-converted torch model with another torch model (think model ensemble). I am working on a case to ensemble classical models with DL torch mod

[2022-10-28 03:53] interesaaat commented on #644
I see. I have not tried but maybe if you trace the xgb model first and then trace the traced xgb model together with your other DL model maybe it works? Another option could be to you to debug how we do tracing of the model from within Hummingbird and copy the code externally to trace both the xgb model and your DL model. I think the problem you having with tracing externally is that your are not

[2022-10-28 06:05] mshr-h opened #645 "Deprecation warnings in our GitHub Actions workflow"
[Update TVM to 0.10 · microsoft/hummingbird@4f449ea](https://github.com/microsoft/hummingbird/actions/runs/3342225153)

[code]

[code]

TODOs
- [x] upgrade actions/checkout
- [x] upgrade actions/setup-python

[2022-11-01 16:58] #645 closed, assigned to nobody

[2022-11-04 14:46] melanciani opened #649 "Add support for scikit-learn GeneralizedLinearModels (PoissonRegressor, GammaRegressor, TweedieRegressor)"
Hello !
It would be great if Hummingbird could support scikit-learn GLMs, and more specifically all three [PoissonRegressor](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.PoissonRegressor.html), [GammaRegressor](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.GammaRegressor.html) and [TweedieRegressor](https://scikit-learn.org/stable/modules/generate

[2022-11-04 16:10] interesaaat commented on #649
Thanks @RomanBredehoft for the suggestion. I think these shouldn't be hard to add, I will work on it.

[2022-11-04 21:31] #649 closed, assigned to interesaaat

[2022-11-07 08:58] melanciani commented on #649
Thanks a lot !

[2022-11-22 14:25] stillmatic opened #653 "Varying batch sizes?"
Hi, I have some XGB/LGBM models as SKL models, and have been converting them into ONNX via Hummingbird successfully. One issue is that when converting ONNX, Hummingbird expects a test input. This test input has a batch size associated with it, but I want to pass in arbitrary batch sizes to the ONNX runtime later. Instead, the ONNX runtime insists on having the exact batch size as when Hummingbird

[2022-11-22 17:36] ksaur commented on #653
Hi @stillmatic!

I thought we had fixed it so that the onnx model accepted symbolic dimensions  (see [here](https://github.com/microsoft/hummingbird/blob/12e75137f631a28a59fb0ee1e21575798d436687/hummingbird/ml/_topology.py#L292)), but it's possible that onnx changed, or that your versions are different than ours.   What versions of ONNX are you using?

For example, when I run [LGBM-ONNXML-example.

[2022-11-22 18:05] stillmatic commented on #653
I do see similar results, that the input and output nodes have symbolic batch results, but internal nodes (GatherElement) still expect a fixed batch size. Specifically, `Non-zero status code returned while running GatherElements node. Name:'/_operators.0/GatherElements' Status Message: GatherElements op: 'indices' shape should have values within bounds of 'data' shape. Invalid value in indices sha

[2022-11-22 18:09] stillmatic commented on #653
Testing your 20_000 input on this model, which expects 10_000, I am able to run it. However, this creates some very odd behavior!

<img width="538" alt="image" src="https://user-images.githubusercontent.com/4743676/203389268-0524f0e3-084b-438a-8590-feff71f33752.png">

First, I think the model runs only because the new batch size is larger than the original input size. Trying with a smaller batch s

[2022-11-22 18:33] ksaur commented on #653
You're right, this appears to be a bug.
I see that we are using `sym` while in all the ONNX [tests](https://github.com/jcwchen/onnx/blob/main/onnx/test/symbolic_shape_test.py#L31) they are using `-1` so it's possible that this stopped working.

I'll add this to the buglist!  I hope to have time to work on it within the next week or so, but in the meantime if you come up with something (in your sta

[2022-11-22 19:15] ksaur commented on #653
@stillmatic, can you open a PR with your https://github.com/stillmatic/hummingbird/commit/573c8b7dac2c8e7009727df8253b08285e06a455

[2022-11-22 21:49] stillmatic commented on #653
Will do! I'll take a stab at updating the tests as part of that too.

[2022-11-25 18:21] stillmatic opened #656 "Should SKLearn operators be assumed to produce a single output?"
See https://github.com/microsoft/hummingbird/blob/main/hummingbird/ml/_parse.py#L256

Consider models which implement `predict` and `predict_proba` functions. These return both `label` and `probabilities` as outputs. The current logic means that we cannot name the outputs in the hummingbird conversion step (ie with `output_names` argument to `extra_config`) and instead have to perform some ONNX gr

[2022-11-29 18:09] #653 closed, assigned to nobody